	<div class="col-xs-1 text-center">
		<input type="text" ng-model="ledger.entryDate" placeholder="entry date"  ng-disabled="!entry.showPanel"/>	
	</div>
	<div class="col-xs-2 text-center">
		<input 
			class="background-transparent"
			type="text"
		    ng-disabled="!entry.showPanel || !ledger.newEntry" 
			typeahead-append-to-body="true" 
			uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | filter:$viewValue | limitTo: 10"
			ng-model="ledger.recurringEntryDetail.account"
			>		
	</div>
	<div class="col-xs-2 text-center">
		<input type="text"
			ng-disabled="!entry.showPanel" 
			typeahead-append-to-body="true" 
			uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | filter:$viewValue | limitTo: 10"
			ng-model="entry.particular"
			ng-dblclick="$event.stopPropagation()">
	</div>
	<div class="col-xs-1 text-center">
		<input type="number"  
			ng-disabled="!entry.showPanel || !(entry.particular.stock != null || ledger.recurringEntryDetail.account.stock != null)"
			ng-model="entry.inventory.quantity"
			ng-dblclick="$event.stopPropagation()"
		>
	</div>
	<div class="col-xs-2 text-center">
		<!-- <input type="text"
			ng-disabled="!entry.showPanel" 
			typeahead-append-to-body="true" 
			uib-typeahead="duration for duration in recEntry.durationList | filter:$viewValue"
			ng-model="ledger.recurringEntryDetail.durationType"
			ng-dblclick="$event.stopPropagation()"> -->
		<select 
			class="text-center"
			ng-options="duration for duration in recEntry.durationList"
			ng-model="ledger.recurringEntryDetail.durationType"
			ng-dblclick="$event.stopPropagation()"
			ng-disabled="!entry.showPanel"
		></select>	
	</div>
	<div class="col-xs-1 text-center">
		<input type="number"  
			ng-disabled="!entry.showPanel"
			ng-model="entry.amount"
			ng-dblclick="$event.stopPropagation()">
	</div>

	<div class="col-xs-2 text-center">
<!-- 		<input type="text"
			ng-disabled="!entry.showPanel" 
			ng-model="ledger.voucher"
			ng-dblclick="$event.stopPropagation()"
			ng-show="!entry.showPanel"
			> -->
			<select
				class="text-center" 
				ng-options="voucher.name for voucher in recEntry.voucherTypes track by voucher.name"
				ng-model="ledger.voucher"
				ng-dblclick="$event.stopPropagation()"
				ng-disabled="!entry.showPanel"
			>
			</select>	
	</div>

	<div class="col-xs-1 text-center">
<!-- 		<input type="text"
			ng-disabled="!entry.showPanel" 
			typeahead-append-to-body="true" 
			uib-typeahead="type for type in recEntry.entryTypes | filter:$viewValue"
			ng-model="entry.type"
			ng-dblclick="$event.stopPropagation()"> -->
		<select 
			class="text-center"
			ng-options="type for type in recEntry.entryTypes"
			ng-model="entry.type"
			ng-dblclick="$event.stopPropagation()"
			ng-disabled="!entry.showPanel"
		>
		</select>
	</div>

	<div class="row-panel pr" 
		ng-show="entry.showPanel" 
		ng-include="'/public/webapp/recurring-entry/partials/entry-panel.html'">		
	</div>				


