<div ng-init="getAccountsGroups()">
  <div class="pdT1 pdB1 form-inline">
    <div class="form-group">
      <div class="input-group">
        
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>

        <input type="text" name="searchGroup" class="form-control" ng-model="acntSrch" placeholder="Search accounts">

        <div ng-hide="showSubMenus" class="input-group-addon cp" ng-click="collapseAllSubMenus()">
          <i class="glyphicon glyphicon-list"></i>
        </div>

        <div ng-show="showSubMenus" class="input-group-addon cp" ng-click="expandAllSubMenus()">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </div>

      </div>
    </div>
  </div>
  <!-- searchbar end -->

  <div class="pdL1 pdR1 mrB1" ng-if="flatAccntWGroupsList.length == 0 && showAccountList">
    <h4 class="list-group-item-heading">Oops, there are no accounts in <strong>{{selectedCompany.name}}</strong> <a
        href="" ng-click="showManageGroups()">+ add new</a></h4>
  </div>
  <perfect-scrollbar id="accountList" class="scrClass" wheel-propagation="true" wheel-speed="10"
                     min-scrollbar-length="20" auto-height>
    <div class="menu acList">
      <div class="loader" ng-hide="showAccountList">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="acntAccordion" ng-if="showAccountList">
        <li>
          <ul id="ul_0" class="accBox" style="border-left:none">
            <li ng-repeat="(key, value) in flatAccntWGroupsList  | filter:acntSrch" class=""
                id="li_{{value.groupUniqueName}}">
              <div class="title  LIB{{value.groupUniqueName}}" ng-click="showSubMenus =! showSubMenus"
                   ng-class="{'active' : showSubMenus || value.groupUniqueName === selectedGroupUname}">
                <a>{{value.groupName}}</a>
              </div>
              <ul class="accBox subAccBox" ng-show="showSubMenus || value.groupUniqueName === selectedGroupUname"
                  id="ul_{{value.groupUniqueName}}">
                <li ng-repeat="(index,accDtl) in value.accountDetails  | filter:acntSrch track by $index"
                    id="ac_{{accDtl.uniqueName}}"
                    >
                  <a href="#ledger" ng-click="loadLedger(value, accDtl); setLedgerData(value, accDtl)"
                     ng-class="{'active': accDtl.uniqueName === selectedAccountUniqueName}">
                    <div class="clearfix">
                      <i ng-class="accDtl.charId ==1 ? 'smlSquare LIB' : 'smlSquare ASS'"></i>
                      <span>{{accDtl.name}}</span>
                    </div>
                  </a>
                </li>
              </ul>

            </li>
          </ul>

        </li>
      </ul>
    </div>
  </perfect-scrollbar>

</div>