<div class="" ng-init="getGroups()">
  
  
    <div class="modal-header themeBg">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">Add/Manage Groups &amp; Accounts</h3>
    </div>
    <!-- end header -->
  
  <div class="modal-body noPad">

    <div class="clearfix">

      <div class="col-md-3 col-sm-12 greyBg">
        <div auto-height>

          <div class="topSrch clear">
            <div class="input-group mr1 mrR">
              <span class="input-group-addon" id="sizing-addon2">
                <div class="icon24 icon-srch closeQsrch"></div>
              </span>
              <input class="form-control" ng-model="sgInput" name="" type="text" placeholder="Search">
            </div>

            <div class="expCol">
              <span onclick="" title="Collapse" class="icon24 icon-expand fl ptr mrR coexTip"></span>
            </div>
          </div>

          <perfect-scrollbar id="restMngCompRit" class="scrClass" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" suppressScrollX="true" auto-height>
            <ul class="companyList ln">
              <li class="clearfix" ng-repeat="value in groupList">
                <span class="ui-icon ui-icon-flag"></span>

                <div class="action">
                  <span ng-click="" class="glyphicon glyphicon-triangle-bottom"></span>
                </div>
                <a href="javascript:;" ng-click="">
                  <h3 class="txtUpc ellp">{{value.name}}</h3>
                </a>
              </li>
            </ul>
          </perfect-scrollbar>
        </div>
      </div>



      <!-- middle body -->
      <div class="col-md-7 col-sm-12">
        <div ng-show="ravi" class="bdrR bdrL row" auto-height>

          <div class="clearfix">

            <div class="col-md-6 col-sm-12 bdrR">
              <div ng-include="'/public/webapp/views/groupInfo.html'"></div>
            </div>
            <!-- group info content end -->
            
            <div class="col-md-6 col-sm-12">
              <div ng-include="'/public/webapp/views/addNewGroup.html'"></div>
            </div>
            <!-- add new group content end -->

          </div> 
          <!-- end row first -->

          <div class="clearfix">
            <div ng-include="'/public/webapp/views/addNewAccount.html'"></div>
          </div>
          <!-- end of second row -->
            
        </div>
      </div>

      <!-- right side -->
      <div class="col-md-2 col-sm-12" id="right">
        <div ng-include="'/public/webapp/views/groupOperations.html'"></div>
      </div>
    </div>
  
  </div>
  <!-- end modal body -->


</div>