<div class="" ng-init="getGroups()">
  
  
    <div class="modal-header themeBg">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">Add/Manage Groups &amp; Accounts</h3>
    </div>
    <!-- end header -->
  
  <div class="modal-body noPad">

    <div class="clearfix">

      <div class="col-md-3 col-sm-12 greyBg">
        <div auto-height>

          <div class="mrT1 mrB1 form-inline">
            <div class="form-group">

              <div class="input-group">

                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
                </div>

                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">

                <div ng-hide="subGroupVisible" class="input-group-addon cp" ng-click="collapseAll()">
                  <i  class="glyphicon glyphicon-list"></i>
                </div>

                <div ng-show="subGroupVisible" class="input-group-addon cp" ng-click="expandAll()">
                  <i class="glyphicon glyphicon-menu-hamburger"></i>
                </div>

              </div>
            </div>
          </div>
          <!-- searchbar end -->

          <perfect-scrollbar id="restMngCompRit" class="scrClass" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" suppressScrollX="true" auto-height>

            <!-- Nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
              <div ui-tree-handle class="tree-node tree-node-content">
                <a class="" ng-if="node.groups && node.groups.length > 0" data-nodrag ng-click="toggle(this)">
                  <span class="glyphicon"
                    ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span></a>
                {{node.name}}
              </div>
              <ol ui-tree-nodes="" ng-model="node.groups" ng-class="{hidden: collapsed}">
                <li ng-repeat="node in node.groups" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
              </ol>
            </script>

            <div class="row">
              <div ui-tree id="tree-root"  data-drag-enabled="false" data-nodrop-enabled="true">
                <ol ui-tree-nodes ng-model="groupList">
                  <li ng-repeat="node in groupList" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
      </div>


      <!-- middle body -->
      <div class="col-md-7 col-sm-12">
        <div class="bdrR bdrL row" auto-height>
          <div ng-if="showGroupDetails" ng-include="'/public/webapp/views/groupDetails.html'"/>
        </div>
      </div>

      <!-- right side -->
      <div class="col-md-2 col-sm-12" id="right">
        <div ng-include="'/public/webapp/views/groupOperations.html'"></div>
      </div>
    </div>

  </div>
  <!-- end modal body -->


</div>