<div id="getGroupModal" ng-init="getGroups()">

  <div class="modal-header themeBg">
    <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Manage Groups &amp; Accounts</h3>
  </div>
  <!-- end header -->

  <div class="modal-body noPad">

    <div class="clearfix">

      <div class="col-md-3 col-sm-12 greyBg">
        <div>

          <div class="mrT1 mrB1 form-inline">
            <div class="form-group">

              <div class="input-group">

                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
                </div>

                <input type="text" name="searchGroup" class="form-control" ng-model="grpSrch" placeholder="Search groups">

                <div ng-hide="subGroupVisible" class="input-group-addon cp" ng-click="collapseAll()">
                  <i class="glyphicon glyphicon-list"></i>
                </div>

                <div ng-show="subGroupVisible" class="input-group-addon cp" ng-click="expandAll()">
                  <i class="glyphicon glyphicon-menu-hamburger"></i>
                </div>

              </div>
            </div>
          </div>
          <!-- searchbar end -->


          <perfect-scrollbar id="addMngGrpScrBar" class="scrClass" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20"
                             suppressScrollX="false" useBothWheelAxes="false" suppressScrollY="true">
            <div ng-if="showListGroupsNow">
              <!-- Nested node template -->
              <script type="text/ng-template" id="nodes_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'active': selectedItem === node}" ng-click="selectItem(node)">
                  <div class="clearfix">
                    <a class="btn-xs" ng-if="node.groups && node.groups.length > 0" data-nodrag ng-click="toggle(this)">
                    <span class="glyphicon"
                          ng-class="{
                        'glyphicon-chevron-right': collapsed,
                        'glyphicon-chevron-down': !collapsed
                      }"></span>
                    </a>
                    <span ng-click="selectGroupToEdit(node)">{{node.name}}</span>
                  </div>
                  <p ng-click="selectGroupToEdit(node)">{{node.uniqueName}}</p>
                </div>
                <ol ui-tree-nodes="" ng-model="node.groups"
                    ng-class="grpSrch.length > 0 ? collapsed : {hidden: collapsed}">
                  <li ng-repeat="node in node.groups | filter:grpSrch" ui-tree-node ng-include="'nodes_renderer.html'">
                  </li>
                </ol>
              </script>

              <div class="clearfix">
                <div ui-tree id="tree-root" data-drag-enabled="false" data-nodrop-enabled="true">
                  <ol ui-tree-nodes ng-model="groupList">
                    <li ng-repeat="node in groupList | filter:grpSrch" ui-tree-node
                        ng-include="'nodes_renderer.html'"></li>
                  </ol>
                </div>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
      </div>


      <!-- middle body -->
      <div class="col-md-7 col-sm-12">
        <div class="bdrR bdrL row" id="middleBody">

          <div ng-if="showGroupDetails" ng-include="'/public/webapp/views/groupDetails.html'"></div>
          
          <div ng-include="'/public/webapp/views/groupOperations.html'" ng-if="showGroupDetails"></div>
          
          <div class="" ng-if="showGroupDetails">
            <div class="pd2" ng-hide="selectedGroup.isFixed">
              <button class="btn btn-danger" ng-click="deleteGroup()">Delete</button>
            </div>
          </div>

        </div>
      </div>

      <!-- right side -->
      <div class="col-md-2 col-sm-12" id="right">

      </div>
    </div>

  </div>
  <!-- end modal body -->


</div>