<div>
    <div class="modal-header">
        <h3 class="modal-title">Create New Company</h3>
    </div>
    <!-- createNewCompany() call method -->
    <div class="modal-body">
        <div class="form-group">
            <input type="text" ng-model="company.name" class="form-control" placeholder="Company Name" maxlength="50">
        </div>
        <div class="form-group">
            <input type="text" ng-model="company.city" class="form-control" placeholder="Company City" maxlength="50">
        </div>
        <div class="form-group">
            <input type="text" ng-model="company.uniqueName" class="form-control" placeholder="Company Unique Name" maxlength="50">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close(company)">Create</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
</div>