    <footer class="inconsolata">
      <div>
        <a href="/about" onclick="goTo('/about', 'state')">About us</a>|
        <a href="http://blog.giddh.com/" target="_Blank" onclick="goTo('http://blog.giddh.com/', 'link')">Blog</a>|
        <a href="https://trello.com/b/PArZrnyg/giddh" target="_Blank" onclick="goTo('https://trello.com/b/PArZrnyg/giddh', 'link')">Upcoming</a>|
        <a href="/terms" onclick="goTo('/terms', 'state')" >Terms of use</a>|
        <a href="/privacy" onclick="goTo('/privacy', 'state')">Privacy policy</a>|
        <a href="https://www.walkover.in/currentopening.php" target="_Blank" onclick="goTo('https://www.walkover.in/currentopening.php', 'link')" >Work with us!</a>|
          <a href="http://faq.giddh.com" target="_Blank" onclick="goTo('http://faq.giddh.com', 'link')" >FAQ</a>|
          <!-- <a href="/affiliate" onclick="goTo('/affiliate', 'state')">Affiliate With Us</a> -->
      </div>

      <small>All right are reserved © 2020 Walkover <a href="https://giddh.com/" target="_Blank" onclick="goTo('https://giddh.com/', 'link')">Giddh.com</a></small>
    </footer>