<div class="clearfix">
  <div class="clearfix">

    <div class="col-md-6 col-sm-12 bdrR">
      <div class="row">
        <div class="dGryHead">
          Group Info
        </div>
        <div class="pd2">
          <form id="groupDetailForm" name="groupDetailForm" novalidate>
            <div class="form-group">
              <label>Group Name</label>
              <input type="text" class="form-control" placeholder="Enter Group Name" ng-model="selectedGroup.name"
                     name="gName">
            </div>

            <div class="form-group">
              <label>Description</label>
            <textarea maxlength="200" class="form-control" placeholder="Enter description"
                      ng-model="selectedGroup.description" name="gDescription"/>
            </div>
            <button ng-click="updateGroup(groupDetailForm)" class="btn btn-primary"
                    ng-disabled="groupDetailForm.$invalid">Update
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- group info content end -->

    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="dGryHead">
          Add Subgroup
        </div>
        <div class="pd2">
          <input type="text" placeholder="Enter Subgroup name" class="form-control form-group"/>
          <textarea maxlength="200" class="form-control form-group" placeholder="Enter description"/>
          <button class="btn btn-info" ng-click="">Add Subgroup</button>
        </div>
      </div>
    </div>
    <!-- add new group content end -->

  </div>
  <!-- end row first -->

  <div class="clearfix bdrT">
    <div class="clearfix">
      <div class="dGryHead">
        Add New Account
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="clearfix pd1">
          <div class="col-md-4 col-sm-12 bdr pd1">
            <div>
              Basic Info (required)*
            </div>
            <div class="pd2">
              <input type="text" placeholder="Enter Account name" class="form-control form-group"/>
              <input type="text" placeholder="Unique Names" class="form-control form-group"/>
              <input type="text" placeholder="opening Balance" class="form-control form-group"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <input type="email" placeholder="Email" class="form-control form-group"/>
            <input type="text" placeholder="Mobile" class="form-control form-group"/>
            <input type="text" placeholder="Address" class="form-control form-group"/>
          </div>
          <div class="col-md-4 col-sm-12">
            <input type="text" placeholder="PAN" class="form-control form-group"/>
            <input type="text" placeholder="Service Tax Number" class="form-control form-group"/>
            <input type="text" placeholder="VAT/cst" class="form-control form-group"/>
            <input type="text" placeholder="others" class="form-control form-group"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>