<div class="clearfix">
  <div class="col-sm-12 col-md-6 bdrR bdrB">
    <div class="row">
      <div class="pd2">
        <div class="form-group">
          <label>Move to group</label>
          <input ng-model="moveto" type="text" placeholder="Group name" class="form-control"
                 typeahead="groups as groups.name for groups in flattenGroupList | filter:{name:$viewValue}"/>
        </div>

        <div class="form-group">
          <button class="btn btn-info" ng-click="moveGroup(moveto)">Move</button>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6 col-sm-12 bdrB">
    <div class="row">
      <div class="pd2">
        <div class="form-group">
          <label>Share group</label>
          <input type="text" placeholder="Enter Email ID" class="form-control"/>
        </div>

        <div class="form-group">
          <button class="btn btn-info" ng-click="">Share</button>
        </div>
      </div>
    </div>
  </div>

</div>