<div class="clearfix bdrB">
  <div class="col-md-6 col-sm-12 bdrR">
    <div class="row">
      <div class="dGryHead">
        Group Info
      </div>
      <div class="pd2 ">
        <fieldset ng-disabled="!canUpdate">
          <form id="groupDetailForm" name="groupDetailForm" novalidate>
            <div class="form-group">
              <label>Group Name</label>
              <input type="text" class="form-control" placeholder="Enter Group Name" ng-model="selectedGroup.name"
                     required>
            </div>

            <div class="form-group">
              <label>Unique name</label>
              <input type="text" class="form-control" placeholder="Enter Unique Name" valid-unique
                     ng-model="selectedGroup.uniqueName" required>
            </div>

            <div class="form-group">
              <label>Description</label>
            <textarea maxlength="200" class="form-control" placeholder="Enter description"
                      ng-model="selectedGroup.description"></textarea>
            </div>
            <button ng-click="updateGroup()" class="btn btn-primary"
                    ng-disabled="groupDetailForm.$invalid">Update
            </button>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- group info content end -->

  <div class="col-md-6 col-sm-12">
    <div class="row" ng-show="canAdd">
      <div class="dGryHead">
        Add Subgroup
      </div>
      <div class="pd2">
        <form id="subGroupForm" name="subGroupForm" novalidate>
          <input type="text" placeholder="Enter Subgroup name" class="form-control form-group"
                 ng-model="selectedSubGroup.name" required/>
          <input type="text" placeholder="Enter Unique name" class="form-control form-group" valid-unique
                 ng-model="selectedSubGroup.uniqueName" required/>
          <textarea maxlength="200" class="form-control form-group" placeholder="Enter description"
                    ng-model="selectedSubGroup.desc"></textarea>
          <button class="btn btn-primary" ng-click="addNewSubGroup()" ng-disabled="subGroupForm.$invalid">Add
            Subgroup
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- add new group content end -->
</div>

<!-- end row first -->
<div class="clearfix bdrB">

  <div class="col-sm-12 col-md-6" ng-hide="selectedGroup.fixed || !canUpdate">
    <div class="row">
      <form name="moveGroupForm" novalidate class="pd2 form-inline">
        <div>
          <label class="mrR">Move to group</label>
        </div>

        <div class="form-group">
          <input ng-model="moveto" type="text" placeholder="Group name" class="form-control" required
            uib-typeahead="groups as groups.name for groups in flattenGroupList | 
            omit: isChildGroup | filter:{name: $viewValue}"/>
        </div>
        <div class="form-group">
          <button class="btn btn-info mrL" ng-click="moveGroup(moveto)" ng-disabled="moveGroupForm.$invalid">Move</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 bdrL" ng-show="canShare">
    <div class="row">
      <form name="shareGroupForm" novalidate class="form-inline pd2">
        <div>
          <label class="mrR">Share group</label>
        </div>
        <div class="form-group">
          <input required name="userEmail" type="email" ng-model="shareGroupObj.user" placeholder="Enter Email ID"
                 class="form-control"/>
        </div>
        <div class="form-group">
          <button ng-disabled="shareGroupForm.$invalid" class="btn btn-info mrL" ng-click="shareGroup()">Share</button>
        </div>
      </form>
    </div>
    <!-- end of row -->
    <div class="row" ng-if="groupSharedUserList.length">
      <div class="pd2">
        <ul class="list-group ln">
          <li ng-repeat="(key,value) in groupSharedUserList track by $index" class="list-group-item">

            <div class="form-inline clearfix">
              <div class="form-group">
                <i class="glyphicon glyphicon-user"></i>
                {{value.userEmail}}
              </div>
              <div class="form-group">
                {{option.role}}
              </div>
              <span class="delIcon">
                <i class="glyphicon glyphicon-trash" ng-click="unShareGroup(value.userUniqueName)"></i>
              </span>
            </div>

          </li>
        </ul>

      </div>
    </div>
    <!-- end of row -->
  </div>
</div>
  
<div class="pd2" ng-hide="selectedGroup.fixed || !canDelete">
  <button class="btn btn-danger" ng-click="deleteGroup()">Delete {{selectedGroup.name}} group</button>
</div>
