<div class="clearfix">
  
  <div class="col-sm-12 col-md-6  bdrB" ng-hide="selectedGroup.isFixed">
    <div class="row">
      <div class="pd2 form-inline">
        <div>
          <label class="mrR">Move to group</label>
        </div>
        <div class="form-group">
          <input ng-model="moveto" type="text" placeholder="Group name" class="form-control" typeahead="groups as groups.name for groups in flattenGroupList | filter:{name:$viewValue}"/>
        </div>
        <div class="form-group">
          <button class="btn btn-info mrL" ng-click="moveGroup(moveto)">Move</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 bdrL bdrB">
    <div class="row">
      <form name="shareGroupForm" novalidate class="form-inline pd2">
        <div>
          <label class="mrR">Share group</label>
        </div>
        <div class="form-group">
          <input required name="userEmail" type="email" ng-model="shareGroupObj.user" placeholder="Enter Email ID" class="form-control"/>
        </div>
        <div class="form-group">
          <button ng-disabled="shareGroupForm.$invalid" class="btn btn-info mrL" ng-click="shareGroup()">Share</button>
        </div>
      </form>
    </div>
    <!-- end of row -->
    <div class="row" ng-if="groupSharedUserList.length">
      <div class="pd2">
        <ul class="list-group ln">
          <li ng-repeat="(key,value) in groupSharedUserList track by $index" class="list-group-item">
            
            <div class="form-inline clearfix">
              <div class="form-group">
                <i class="glyphicon glyphicon-user"></i>
                {{value.userEmail}}
              </div>
              <div class="form-group">
                {{option.role}}
              </div>
              <span class="delIcon">
                <i class="glyphicon glyphicon-trash" ng-click="unShareGroup(value.userUniqueName)"></i>
              </span>
            </div>
            
          </li>
        </ul>

      </div>
    </div>
    <!-- end of row -->
  </div>

</div>