<!-- super loader -->
<div class="load-bar-wrap" ng-if="superLoader">
  <div class="load-bar">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
<!-- end of super loader -->

<header class="clearfix">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li uib-dropdown style="margin-left:-15px;" ng-show="canManageComp || canViewSpecificItems">
          <a href id="page-dropdown" uib-dropdown-toggle>
            <i class="glyphicon glyphicon-menu-hamburger"></i>
          </a>
          <ul id="topMenusBar" class="dropdown-menu" aria-labelledby="page-dropdown">
            <li>
              <div>
                <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height>
                  <ul class="dshUl clearfix">
                    <li class="dmLi trialB" ui-sref="dashboard" ng-if="sharedEntity == null">
                      <a href="">
                        <div class="media">
                          <div class="media-body">
                            <div class="title">Dashboard</div>
                            <div class="subTitle">Your <b>Company Summary</b> at one place.</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="dmLi trialB" ui-sref="settings1">
                      <a href="">
                        <div class="media">
                          <div class="media-body">
                            <div class="title">Settings 1.0</div>
                            <div class="subTitle">Manage your company settings.</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="dmLi trialB" ui-sref="settings">
                      <a href="">
                        <div class="media">
                          <div class="media-body">
                            <div class="title">Settings</div>
                            <div class="subTitle">Manage your company settings.</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li ng-if="canUpdate" class="dmLi" ui-sref="company.content.ledgerContent">
                        <a href="" >
                          <div class="media">
                            <div class="media-body">
                              <div class="title">Ledger</div>
                              <div class="subTitle">View and edit all your <b>done</b> entries.</div>
                            </div>
                          </div>
                        </a>
                    </li>
                    <li class="dmLi" ui-sref="company.content.tbpl">
                      <a href="" >
                        <div class="media">
                          <div class="media-body">
                            <div class="title">TB/P&amp;L</div>
                            <div class="subTitle">Trial Balance/ Profit and Loss</div>
                          </div>
                        </div>
                      </a>
                    </li>
                <!-- <li ng-hide="canViewSpecificItems" class="dmLi" ui-sref="company.profitAndLoss">
                    <a href="" >
                      <div class="media">
                        <div class="media-body">
                          <div class="title">Profit and Loss</div>
                          <div class="subTitle">View and edit all your <b>done</b> entries.</div>
                        </div>
                      </div>
                    </a>
                </li> -->
                    <li ng-if="canUpdate && sharedEntity == null" class="dmLi" ui-sref="invoice.accounts">
                        <a href="" >
                          <div class="media">
                            <div class="media-body">
                              <div class="title">Invoice</div>
                              <div class="subTitle">Generate and Download</div>
                            </div>
                          </div>
                        </a>
                    </li>
                    <li ng-if="canUpdate && sharedEntity == null" class="dmLi" ui-sref="proforma.accounts">
                      <a href="" >
                        <div class="media">
                          <div class="media-body">
                            <div class="title">Proforma</div>
                            <div class="subTitle">Generate and Download</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="dmLi" ui-sref="Reports">
                        <a href="" >
                          <div class="media">
                            <div class="media-body">
                              <div class="title">Reports</div>
                              <div class="subTitle">Generate and view Business Reports</div>
                            </div>
                          </div>
                        </a>
                    </li>
                    <li ng-if="sharedEntity == null" class="dmLi" ui-sref="audit-logs">
                        <a href="" >
                          <div class="media">
                            <div class="media-body">
                              <div class="title">Audit Logs</div>
                              <div class="subTitle">View and edit all your <b>done</b> entries.</div>
                            </div>
                          </div>
                        </a>
                    </li>
                    <li ng-if="sharedEntity != 'accounts'" class="dmLi" ui-sref="search">
                        <a href="" >
                          <div class="media">
                            <div class="media-body">
                              <div class="title">Search</div>
                              <div class="subTitle">View all your creditors</div>
                            </div>
                          </div>
                        </a>
                    </li>
                    <li ng-if="canUpdate && sharedEntity == null" class="dmLi trialB" ui-sref="company.content.manage">
                      <a href="">
                        <div class="media">
                          <div class="media-body">
                            <div class="title">Manage Company</div>
                            <div class="subTitle">All your <b>Groups, accounts</b> at one place.</div>
                          </div>
                        </div>
                      </a>
                    </li>
<!--                 <li class="dmLi" ui-sref="company.content.ledger">
                    <a href="" >
                      <div class="media">
                        <div class="media-body">
                          <div class="title">ledger</div>
                          <div class="subTitle">View all your creditors</div>
                        </div>
                      </div>
                    </a>
                </li> -->
              </ul>
                </perfect-scrollbar>
              </div> 
            </li>
          </ul>
        </li>

        <li ng-if="cmpViewShow" class="company-name" uib-dropdown style="border-left:2px solid #fff;">
          <a id="cmpWrp" class="clearfix" style="cursor:pointer;position: relative;" uib-dropdown-toggle>
            <i class="gic-24 icon-building-w"></i>
            <div class="cText">
              <span class="cName">{{selectedCompany.name}}</span>
              <span ng-bind="currentFinancialYear" style="font-size:12px;"></span>
            </div>
            <!-- <i class="glyphicon glyphicon-chevron-down pull-right" style="right: -10px"></i> -->
          </a>
          <ul id="companyList" class="company-list dropdown-menu" aria-labelledby="cmpWrp" >
            <li class="create-company">
              <button id="refreshCompanyBtn" class="btn btn-success btn-sm" ng-click="refreshcompanyList($event)">Refresh</button>
              <button id="createCompanyBtn" class="btn btn-primary btn-sm" ng-click="createNewCompany()">Create Company</button>
            </li>
            <li style="padding:0px;">
              <ul style="max-height: 260px;overflow-y: scroll;background:rgba(0,0,0,0.9);overflow:auto;">
                <li ng-repeat="company in companyList" ng-click="changeCompany(company, $index,'CHANGE')" id="cmp" ng-class="{'selected-company':selectedCompany.uniqueName == company.uniqueName}">
                  <span tooltip-placement="top" uib-tooltip="{{company.alias}}">{{company.name}}</span>
                  <i id="deleteCmp" class="glyphicon glyphicon-trash" ng-if="company.shared" ng-click="deleteCompany(company,$index,company.name,$event)"></i>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown
          tooltip-placement="left" 
          uib-tooltip="{{basicInfo.email}}"
        >
          <a  
            href
            id="user-dropdown" 
            uib-dropdown-toggle
          >
            <i class="glyphicon glyphicon-user"></i>
            {{basicInfo.name}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="user-dropdown">
            <li><a href="javascript:void(0)" ng-click="createNewCompany()">Create Company</a></li>
            <li><a ui-sref="company.content.user">User Detail</a></li>
            <li><a target="_Blank" href="http://docs.giddh.com/">Documentation</a></li>
            <li ng-if="selectedCompany.canUserSwitch"><a class="pull-left" href="javascript:void(0)" ng-click="switchUser()"><span class="pull-left">Switch User</span><span class="on-btn pull-left" ng-if="ucActive"></span></a></li>
            <li role="separator" class="divider" style="width:100%"></li>
            <li><a ng-click="logout()" href="javascript:void(0)">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

