<header class="clearfix">
  <nav class="navbar navbar-fixed-top  navbar-inverse">
    <div class="container-fluid">

      <ul class="nav navbar-nav">
        <li dropdown style="margin-left:-15px;">
          <a href id="page-dropdown" dropdown-toggle>
            <i class="gic-24 icon-menu-w"></i>
          </a>
          <ul id="topMenusBar" class="dropdown-menu" aria-labelledby="page-dropdown">
            <li>
              <div>
              <ul class="dshUl clearfix">
                <li class="dmLi trialB" ui-sref="/home">
                    <a href="#/home">
                      <div class="media">
                        <div class="media-left">
                          <div class="gic-48 icon-tb"></div>
                        </div>
                        <div class="media-body">
                          <div class="title">Manage Company</div>
                          <div class="subTitle">All your <b>Groups, accounts</b> at one place.</div>
                        </div>
                      </div>
                    </a>
                </li>

                <li class="dmLi" ui-sref="ledger.ledgerContent">
                    <a href="#/ledger" >
                      <div class="media">
                        <div class="media-left">
                          <div class="gic-48 icon-ew"></div>
                        </div>
                        <div class="media-body">
                          <div class="title">Ledger</div>
                          <div class="subTitle">View and edit all your <b>done</b> entries.</div>
                        </div>
                      </div>
                    </a>
                </li>
                 <li class="dmLi" ui-sref="Trial-Balance">
                    <a href="#/ledger" >
                      <div class="media">
                        <div class="media-left">
                          <div class="gic-48 icon-ew"></div>
                        </div>
                        <div class="media-body">
                          <div class="title">Trial Balance</div>
                          <div class="subTitle">View and edit all your <b>done</b> entries.</div>
                        </div>
                      </div>
                    </a>
                </li>
              </ul>
              </div> 
            </li>
          </ul>
        </li>

        <li ng-if="cmpViewShow" >
          <a id="cmpWrp" class="clearfix"  ui-sref="/home">
            <i class="gic-24 icon-building-w"></i>

            <div class="cText">
              <span class="cName">{{selectedCompany.name}}</span>
              <!-- <span class="cDate">Date</span> -->
            </div>
          </a>
        </li>
        <li id="hdrbtWrp">
          <button type="button" class="btn btn-primary btn-sm" ng-click="goToManageGroups()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add &amp; Manage
          </button>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a tooltip-placement="left" tooltip="{{selectedCompany.name}}" href="javascript:void(0)" class="dropdown-toggle"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#user">User Detail</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()" href="javascript:void(0)">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</header>
