<!-- <div id="notification"></div>
<div class="loader"></div> -->



<header class="clearfix">
	

	<nav class="navbar navbar-fixed-top  navbar-inverse">
	  <div class="container-fluid">

	  	<ul class="nav navbar-nav">
        <li class="active">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#dashboardMenus" aria-expanded="false" aria-controls="dashboardMenus">
            <i class="gic-24 icon-menu-w"></i>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">Link</a>
        </li>
        <li ng-if="cmpViewShow">
          <a id="cmpWrp" class="clearfix" href="javascript:void(0)">
            <i class="gic-24 icon-building-w"></i>
            <div class="cText">
              <span class="cName">{{companyDetailsName}}</span>
              <!-- <span class="cDate">Date</span> -->
            </div>
          </a>
        </li>
        <li id="hdrbtWrp">
          <button type="button" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add &amp; Manage
        </button>
        </li>
      </ul>



			<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a tooltip-placement="left" tooltip="{{basicInfo.name}}" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()" href="javascript:void(0)">Logout</a></li>
          </ul>
        </li>
      </ul>

	  </div>
	</nav>
	
</header>
<div class="collapse" id="dashboardMenus">
  <ul class="dshUl clearfix">

    <li class="dmLi trialB">
        <a href="javascript:;" ng-click="loadSheet('trialBalance')">
          <div class="media">
            <div class="media-left">
              <div class="gic-48 icon-tb"></div>
            </div>
            <div class="media-body">
              <div class="title">Trial Balance</div>
              <div class="subTitle">All your account balances <b>summary</b> at one place.</div>
            </div>
          </div>
        </a>
    </li>

    <li class="dmLi">
        <a href="javascript:;" ng-click="loadSheet('entryWall')">
          <div class="media">
            <div class="media-left">
              <div class="gic-48 icon-ew"></div>
            </div>
            <div class="media-body">
              <div class="title">Entries Wall</div>
              <div class="subTitle">View all your <b>done</b> and dusted entries.</div>
            </div>
          </div>
        </a>
    </li>

    <li class="dmLi">
        <a href="javascript:;" ng-click="loadSheet('logWall')">
          <div class="media">
            <div class="media-left">
              <div class="gic-48 icon-lw"></div>
            </div>
            <div class="media-body">
              <div class="title">Log Wall</div>
              <div class="subTitle">View <b>everything</b> you have done till date.</div>
            </div>
          </div>
        </a>
    </li>

    <li class="dmLi">
        <a href="javascript:;" ng-click="loadSheet('profitAndLoss')">
          <div class="media">
            <div class="media-left">
              <div class="gic-48 icon-pnl"></div>
            </div>
            <div class="media-body">
              <div class="title">Profit and Loss</div>
              <div class="subTitle">Check out for company's <b>profit</b> or loss</div>
            </div>
          </div>
        </a>
    </li>

    <li class="dmLi">
        <a href="javascript:;" ng-click="loadSheet('balanceSheet')">
          <div class="media">
            <div class="media-left">
              <div class="gic-48 icon-bs"></div>
            </div>
            <div class="media-body">
              <div class="title">Balance Sheet</div>
              <div class="subTitle">Check company's <b>Balance</b> in the sheet</div>
            </div>
          </div>
        </a>
    </li>

  </ul>
</div>
