<!-- structure -->
<div class="container-fluid">
	<div class="row">
		<!-- left side -->
		<div class="col-md-2 col-sm-2 lgreyBg" id="left">
			<div class="">
				Left menu
			</div>
		</div>

		<!-- middle body -->
		<div class="col-md-8 col-sm-8">
			
			<div>
				<a href="#" tooltip="{{dynamicTooltip}}">{{dynamicTooltip}}</a>


				<h1>Hey </h1>
				<h2>Dude {{title}}</h2>
				<h3>{{basicInfo.email}}</h3>
			</div>



		</div>

		<!-- right side -->
		<div class="col-md-2 col-sm-2">
			<div ng-if="mngCompDataFound" ng-include="'/public/webapp/views/manageCompList.html'"></div>
		</div>

	</div> <!-- end of row -->
</div>



