<!-- structure -->
<div class="container-fluid">
  <div class="row">
        <div class="pdT1 pdB1 form-inline col-xs-2">

            <div ng-hide="canViewSpecificItems">
                <button id="AddManage" type="button" class="btn btn-primary btn-sm btn-block mrB1" ng-click="goToManageGroups()" ng-show="canManageComp">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add &amp; Manage
                </button>
            </div>


            <div class="form-group">
                <div class="input-group">

                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>

                    <!-- <input type="text" name="searchGroup" class="form-control" ng-model="acntSrch" placeholder="Search accounts" ng-keyup="setScrollToTop(acntSrch, 'accountList');" ng-change="checkLength(acntSrch)" ng-model-options="{debounce: 200}"> -->

                    <input id="accountSearch" type="text" name="searchGroup" class="form-control" ng-model="search.acnt" placeholder="Search accounts" ng-change="searchGrpWithAccounts(search.acnt)" ng-focus="showAccounts()" ng-model-options="{debounce:1000}">
                    <div ng-hide="showSubMenus" class="input-group-addon cp" ng-click="toggleAcMenus(true)" tooltip-placement="right" uib-tooltip="Expand all" >
                        <i class="glyphicon glyphicon-list"></i>
                    </div>

                    <div ng-show="showSubMenus" class="input-group-addon cp" ng-click="toggleAcMenus(false)" tooltip-placement="right" uib-tooltip="Collapse all">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
    <!-- left side -->
    <!--<button><i class="glyphicon glyphicon-menu-hamburger" ng-click="flyAccounts = !flyAccounts"></i></button>-->
    <div class="greyBg col-xs-2" class="add-transition" ng-hide="!flyAccounts">
      <div id="left" auto-height>
        <div ui-view="accounts"></div>
      </div>
    </div> 
    <!-- main section -->
    <div ng-class="{'col-xs-12' : flyAccounts == false, 'col-xs-10' : flyAccounts == true}">
      <div class="row">
        <div ui-view="rightPanel"></div>
      </div>
    </div>
  </div>
  <!-- end of row -->
</div>



