<!DOCTYPE HTML>
<html lang="en" ng-app='giddhWebApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <title>Giddh ~ Accounting at its Rough!</title>
  <!-- LIBRARIES INCLUDE -->
  
  <!-- @if NODE_ENV='PRODUCTION' -->
  <script  type="text/javascript" src='/public/webapp/js/newRelic.js'></script>
  <!-- @endif -->
 <!--data-cfasync="false" -->
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <!-- including app Js Files -->
  <!-- @if NODE_ENV='DEVELOPMENT' -->
  <script  type="text/javascript" src="/public/webapp/app.js"></script>
  <!-- @endif -->
  <!-- @if NODE_ENV='PRODUCTION' -->
  <script  type="text/javascript" src="/public/webapp/app.min.js"></script>
  <!-- @endif -->

  <script  type="text/javascript" src="/public/webapp/_extras.js"></script>

  <!-- lib styles include
  <link rel="stylesheet" type="text/css" href="/public/webapp/css/giddh.min.css"> -->

<!-- -->
  <link rel="stylesheet" type="text/css" href="/public/webapp/css/all_bower.css">
  <link rel="stylesheet" type="text/css" href="/public/webapp/css/new-style.css">

  <!-- @if NODE_ENV='PRODUCTION' -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  
  <!-- @endif -->
</head>
<body ng-controller="mainController">

  <div ng-include="'/public/webapp/views/header.html'"></div>
  <ui-view></ui-view>

  <!-- Google Tag Manager -->
  <!-- @if NODE_ENV='PRODUCTION' -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K2L9QG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script   type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K2L9QG');</script>
  <!-- @endif -->
  <!-- End Google Tag Manager -->
</body>
</html>