
<!-- 
  on-scroll="onScroll(scrollTop, scrollHeight, event)"
  ng-show="showInvoiceLoader"
-->

  <!-- <div class="loader" ng-if="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <h1>loading Invoice</h1>
  </div> -->

  <div class="pdL2 pdR2 pdT2" ng-if="!invoiceLoadDone">
    <div class="alert alert-info" role="alert">Click on any Account to load <strong>Invoice</strong></div>
  </div>

  <!-- main content start -->
  <uib-tabset justified="false" ng-if="invoiceLoadDone">
    <uib-tab heading="Invoice Setting" id="setting">
      <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height>
        <div class="pd2">

          <div class="row">

            <div class="col-xs-3" ng-repeat="value in templateList">
              <a href="javascript:void(0)" class="thumbnail" ng-class="value.isDefault? 'active': ''">
                <div class="caption">
                  <h3 class="lead alC" ng-bind-html="value.name"></h3>
                  <p>
                    <button ng-click="viewInvTemplate( value, 'sample')" class="btn btn-default btn-block mrB1">Sample</button>

                    <button ng-disabled="!value.isDefault" ng-click="viewInvTemplate(value, 'edit')" class="btn btn-default btn-block">Edit</button>

                    <div class="mrT1 alC">
                      <div ng-click="setDefTemp(value)">
                        <switch name="setAsDefault" on="On" off="Off" class="wide" ng-model="value.isDefault"></switch>
                      </div>
                      <label ng-if="value.isDefault" class="mrT">Default Selected</label>
                      <label ng-if="!value.isDefault" class="mrT">Set as default</label>
                    </div>
                    
                  </p>
                </div>
              </a>
            </div>

          </div> 
          <!-- end of row -->

          <!-- start invoice template -->
          
          
          <!-- end of invoice template -->



        </div> <!-- end of pd div -->
      </perfect-scrollbar>
    </uib-tab>
    <!-- end of setting -->
    


    <uib-tab heading="Generate Invoice" id="generate" ng-click="getLedgerEntries()">
      
        
      <div class="loader" ng-show="showInvLoader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h1>loading Transactions</h1>
      </div>

      <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height>

        <div class="pd2" ng-hide="showInvLoader">

          <div class="row">
            <div class="col-xs-6">
              <section class="clearfix form-inline">
                <div class="form-group">
                  <button ng-click="prevAndGenInv()" ng-disabled="entriesForInvoice.length == 0 || prevInProg" class="btn btn-primary mrR1">Preview &amp; Generate Invoice</button>
                  <!-- <button ng-disabled="true" class="btn btn-info">Upload Invoice</button> -->
                </div>
                <div class="form-group mrL1">
                  <input type="search" class="form-control maxW150" placeholder="Search ledger" ng-model="searchCrData">
                  <i class="glyphicon glyphicon-search"  style="right:25px;top:3px;"></i>
                </div>
              </section>
            </div>
            <div class="col-xs-6">
              <form name="fromToDateForm" novalidate class="form-inline pull-right">
                <div class="form-group">
                  <p class="input-group maxW150">
                    <input type="text" class="form-control"
                      uib-datepicker-popup="{{format}}" required
                      datepicker-options="dateOptions"
                      is-open="fromDatePickerIsOpen"
                      ng-click="fromDatePickerOpen()"
                      ng-model="dateData.fromDate"
                      max-date="today" 
                      placeholder="from date" 
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="form-group">
                  <label>To</label>
                  <p class="input-group maxW150">
                    <input type="text" class="form-control"
                      uib-datepicker-popup="{{format}}" required
                      datepicker-options="dateOptions"
                      is-open="toDatePickerIsOpen"
                      ng-click="toDatePickerOpen()"
                      ng-model="dateData.toDate" 
                      min-date="dateData.fromDate"
                      max-date="today" 
                      placeholder="to date" 
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="toDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary mrL1" ng-click="getLedgerEntries()" ng-disabled="fromToDateForm.$invalid">
                    GO
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- end of top row -->

          <table class="mrT2 table table-bordered table-striped">
            <thead>
              <th>&nbsp;</th>
              <th>Date</th>
              <th>Particular</th>
              <th class="alR">Amount</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr ng-class="item.sharedData.itemCheck ? 'selectedForInv' : ''" ng-repeat="item in onlyCrData | filter:searchCrData track by $index ">
                <td>
                  <input type="checkbox" ng-model="item.sharedData.itemCheck" ng-change="summationForInvoice(item.sharedData.itemCheck, item, $index)">
                </td>
                <td ng-bind-html="item.sharedData.entryDate | date"></td>
                <td ng-bind-html="item.transactions[0].particular.name"></td>
                <td class="alR" ng-bind-html="item.transactions[0].amount"></td>
                <td ng-bind-html="item.sharedData.description"></td>
              </tr>
            </tbody>
          </table>


        </div>
        <!-- end of pd div -->
      </perfect-scrollbar>
    </uib-tab>
    <!-- end of list entries for invoice -->

    <uib-tab heading="View Invoice" id="view" ng-click="getInvList()">
      <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height>
        <div class="pd2">
          <div class="row">
            <div class="col-xs-6">
              <section class="clearfix form-inline">
                <div class="form-group">
                  <button ng-disabled="true" class="btn btn-primary mrR1">Download</button>
                  <button ng-disabled="true" class="btn btn-primary mrR1">Send Email</button>
                  <button ng-disabled="true" class="btn btn-danger">Delete</button>
                </div>
                <div class="form-group mrL1">
                  <input type="search" class="form-control maxW150" placeholder="Search ledger" ng-model="searchInvData">
                  <i class="glyphicon glyphicon-search"  style="right:25px;top:3px;"></i>
                </div>
              </section>
            </div>
            <div class="col-xs-6">
              <form name="fromToDateForm" novalidate class="form-inline pull-right">
                <div class="form-group">
                  <p class="input-group maxW150">
                    <input type="text" class="form-control"
                      uib-datepicker-popup="{{format}}" required
                      datepicker-options="dateOptions"
                      is-open="fromDatePickerIsOpen"
                      ng-click="fromDatePickerOpen()"
                      ng-model="dateData.fromDate"
                      max-date="today" 
                      placeholder="from date" 
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="form-group">
                  <label>To</label>
                  <p class="input-group maxW150">
                    <input type="text" class="form-control"
                      uib-datepicker-popup="{{format}}" required
                      datepicker-options="dateOptions"
                      is-open="toDatePickerIsOpen"
                      ng-click="toDatePickerOpen()"
                      ng-model="dateData.toDate" 
                      min-date="dateData.fromDate"
                      max-date="today" 
                      placeholder="to date" 
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="toDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary mrL1" ng-click="getLedgerEntries()" ng-disabled="fromToDateForm.$invalid">
                    GO
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- end of top row -->

          <table class="mrT2 table table-bordered table-striped">
            <thead>
              <th>&nbsp;</th>
              <th>Invoice ID</th>
              <th>Particular</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in genInvList | filter:searchInvData track by $index ">
                <td>
                  <input type="checkbox" ng-model="item.entryId" ng-change="doSomething(item, $index)">
                </td>
                <td>
                  <a href="javascript:void(0)" ng-bind-html="item.entryId"></a>
                </td>
                <td ng-bind-html="item.particular"></td>
                <td ng-bind-html="item.description"></td>
              </tr>
            </tbody>
          </table>

        </div>
      </perfect-scrollbar>
    </uib-tab>
    <!-- end of view invoice -->
  </uib-tabset>
  <!-- main content end -->
