<div class="pdL2 pdR2 pdT2" ng-if="showLedgerBox">

  <div class="form-inline pdB1">
    <div class="form-group mrR1">
      <label>From date</label>

      <p class="input-group">
        <input type="text" class="form-control"
               datepicker-popup="{{format}}"
               datepicker-options="dateOptions"
               is-open="fromDatePickerIsOpen"
               ng-click="fromDatePickerOpen()"
               ng-model="fromDate.date" max-date="today" placeholder="from date"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="form-group">
      <label>To date</label>
      <p class="input-group">
        <input type="text" class="form-control"
               datepicker-popup="{{format}}"
               datepicker-options="dateOptions"
               is-open="toDatePickerIsOpen"
               ng-click="toDatePickerOpen()"
               ng-model="toDate.date" min-date="fromDate" max-date="today" placeholder="to date"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="toDatePickerOpen()"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>


  <table class="table ledgerTable">
    <thead>
    <th class="nopad">
      <div class="clearfix ldgTheadL">
        <span class="icon48 icon-in"></span>

        <h3 class="ledgerHead">
          <span class="ellp">{{accntTitle}}</span>
          <span>&nbsp;is <strong>receiving</strong></span>
        </h3>
      </div>
    </th>
    <th class="nopad">
      <div class="pull-right alR">
        <div class="clearfix ldgTheadR">
          <span class="icon48 icon-out"></span>

          <h3 class="ledgerHead">
            <span>&nbsp;is <strong>giving</strong></span>
            <span class="ellp">{{accntTitle}}</span>
          </h3>
        </div>
      </div>
    </th>
    </thead>
    <!-- end main thead -->
    <tbody>
    <tr>
      <td class="nopad" style="width:50%">
        <table class="table table-bordered">
          <thead>
          <tr class="splBg">
            <th colspan="100%">Debit (Dr)</th>
          </tr>
          <tr class="dgreyBg">
            <th width="28%">Date</th>
            <th width="44%">Particular</th>
            <th width="28%">Amount</th>
          </tr>
          </thead>

          <tbody class="ledgerBodyContent" id="ledgerBodyContentDebit">

          <tr>
            <td class="nopad" colspan="100%">

              <div class="pr" ng-if="ledgerData.ledgers.length == 0">
              </div>
              <div class="pr" ng-if="ledgerData.ledgers.length > 0">
                <form
                    ng-repeat="(key, value) in ledgerData.ledgers track by $index"
                    class="drEntryForm_{{$index}}"
                    name="drEntryForm_{{$index}}"
                    novalidate
                    ng-click="somethingHappens()"
                    giddh-ledger>
                  <div>
                    <table class="table ldgrInnerTbl">
                      <tr>
                        <td width="28%">
                          <input type="text"
                                 name="drEntryForm_{{$index}}.entryDate" ng-model="value.entryDate" valid-date/>
                        </td>
                        <td width="44%">
                          <div ng-if="noResults">
                            No Results Found!
                          </div>
                          <input type="hidden"
                                 name="drEntryForm_{{$index}}.trnsUniq"
                                 ng-model="value.transactions[0].particular.uniqueName">
                          <input type="text"
                                 name="drEntryForm_{{$index}}.trnsName"
                                 ng-model="value.transactions[0].particular.name"
                                 typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                 class="form-control"
                                 typeahead-no-results="noResults"
                                 typeahead-on-select="addCrossFormField($item, $model, $label)">
                        </td>
                        <td width="28%">
                          <input type="text"
                                 name="drEntryForm_{{$index}}.amount" ng-model="value.transactions[0].amount"
                                 valid-number/>
                        </td>
                      </tr>
                    </table>
                  </div>
                </form>
              </div>

            </td>
          </tr>
          </tbody>

        </table>
      </td>
      <!-- main left td end here -->
      <td class="nopad" style="width:50%">
        <table class="table table-bordered">
          <thead>
          <tr class="splBg">
            <th colspan="100%">Credit (Dr)</th>
          </tr>
          <tr class="dgreyBg">
            <th width="28%">Date</th>
            <th width="44%">Particular</th>
            <th width="28%">Amount</th>
          </tr>
          </thead>

          <tbody class="ledgerBodyContent" id="ledgerBodyContentCredit">
          <tr>
            <td colspan="100%" class="nopad">
              <div>
                <!-- <td>
                  <input type="text" name=""/>
                </td>
                <td>
                  <input type="text" name=""/>
                </td>
                <td>
                  <input type="text" name=""/>
                </td> -->
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <!-- main right td end here -->
    </tr>
    </tbody>
    <!-- end main tbody -->
    <tfoot>

    <tr class="fw600 dgreyBg">
      <td class="">
        Balance
      </td>
      <td class="">
        Balance
      </td>
    </tr>
    <tr class="total greyBg">
      <td class="">
        <span class="">Total</span>
      </td>
      <td class="cr taR bdrR">
      </td>
    </tr>
    <!--
    <tr id="plus_row" class="nobdr footer">
      <td class="nobdr marks"></td>
      <td class="td" colspan="6">
        <input type="hidden" value="SUSPENSE ACCOUNT" id="accountee_name" name="accountee_name">
      </td>
      <td class="nobdr marks"></td>
    </tr> -->


    </tfoot>
    <!-- end main tfoot -->

  </table>
</div>


<div class="col-md-12">
  <!-- directive -->

  <my-form value="AFAFAF">
    Click me am normal directive with extra elements
  </my-form>

</div>





  

  

