<div class="row">
    <div>
        <div class="pd15 bdrB">
            <button class="btn btn-primary" ng-click="openFirstTimeUserModal()">Create New Company</button>
        </div>
        <div class="pdBth1510 bdrB pdB1 gryClr thead">My Companies</div>
    </div>
    <perfect-scrollbar id="restMngCompRit" class="scrClass" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" suppressScrollX="true"  auto-height>
        <ul class="companyList ln">
            <li class="clearfix" ng-repeat="value in companyList track by $index">
                <span class="ui-icon ui-icon-flag"></span>
                <a href="javascript:;"
                   ng-click="goToCompany(value);">
                    

                    <h3 class="txtUpc ellp">{{value.name}}</h3>

                    <p class="date">
                        <span class="startDate mrR">2015-05-26</span>
                        <span>to</span>
                        <span class="endDate mrL">2015-12-26</span>
                    </p>
                </a>
                <div class="action">
                    <span ng-click="deleteCompany(value.uniqueName, $index, value.name)" class="glyphicon glyphicon-trash"></span>
                </div>
            </li>

        </ul>
    </perfect-scrollbar>
</div>