<style type="text/css">
@page {
  size: 8.5in 11in; 
  margin: 2cm
}
@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}
@page :blank {
  @top-center { content: "This page is intentionally left blank." }
}
@page:right{ 
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "Sarfaraz";
    font-size: 9pt;
    color: #333;
  }
}
h1 {
  page-break-before: always;
}
/*end of print css*/
.invoiceContainer .row{
  margin-bottom: 20px;
}
.previewMode .form-control{
  border: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}
.previewMode .txtAreaWrap .form-control{
  padding: 0
}
.previewMode .txtAreaWrap input.form-control{
  height: 24px
}
.previewMode #two .form-control{
  padding: 0;
  height: 20px;
}
.previewMode .form-control.wid80{
  width: 80px
}
.editMode .form-control.wid80{
  width: 100px
}
.txtAreaWrap textarea.form-control{
  overflow: hidden;
  height: 1.2in
}
#one, #two {
  height: .6in;
  overflow:hidden;
}
#three, #four{
  height: 2in;
  overflow:hidden;
}
#five{
  height: 2.5in;
}
#six, #seven{
  height: 1.2in;
}
#eight{
  height: 2in;
}
#two label{
  display: block;
  text-align: left;
}
.vcenter {
  display: block;
  vertical-align: middle;
}
.modal-dialog.modal-a4{
  /*margin: 0;*/
  width: 8.5in;
}
.modal-dialog.modal-a4 .modal-body{
  min-height: 11.5in
}
.modal-dialog.modal-a4 .modal-content{
  border-radius: 0
}
.modal-dialog.modal-a4 .modal-header span{
  position: absolute;
  left: 15px;
}
hr{
  margin: 10px 0 20px;
}
fieldset[disabled] .form-control{
  cursor: default;
  background-color: white
}
.thumb{
  height: 50px;
}
</style>
<!-- <a onclick="javascript:window.print();"> -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><i aria-hidden="true">&times;</i></button>
  
  <span ng-if="!editMode">
    <a ng-if="withSampleData" ng-click="switchTempData()" class="btn btn-default btn-sm" href="javascript:void(0)">View as your data</a>
    <a ng-if="!withSampleData" ng-click="switchTempData()" class="btn btn-primary btn-sm" href="javascript:void(0)">View as sample data</a>
  </span>
  <h3 class="modal-title alC" ng-if="!editMode">
    View Invoice
  </h3>
  

  <span ng-if="editMode && defTempData.entries === null">
    <a ng-click="saveTemp('save', false)" class="btn btn-success btn-sm" href="javascript:void(0)" ng-disabled="updatingTempData">Save Changes</a>
  </span>

  <span ng-if="editMode && defTempData.entries !== null">
    <a ng-click="saveTemp('generate', false)" class="btn btn-success btn-sm" href="javascript:void(0)" ng-disabled="updatingTempData">Generate Invoice</a>
  </span>

</div>
<div class="modal-body">

  <div class="search-loading" ng-if="updatingTempData">
    <span class="spinner small"></span> Loading…
  </div>
    
  <div class="invoiceContainer" ng-class="editMode ? 'editMode' : 'previewMode'" ng-if="!updatingTempData">

    <!-- sample preview mode start -->

    <fieldset ng-disabled="!editMode">
      <section ng-if="tempSet.logo && tempSet.invoiceDetails">
        <div class="row">
          <section id="one" class="col-xs-6">
            <h1 ng-if="!editMode">
              <img src="{{defTempData.logo.path}}" alt="" height="50px">
            </h1>

            <h1 ng-if="editMode && defTempData.entries !== null">
              <img src="{{defTempData.logo.path}}" alt="" height="50px">
            </h1>

            <aside ng-if="editMode && defTempData.entries === null">
              <form class="form-inline" enctype="multipart/form-data">
                <div class="form-group" ng-show="logoWrapShow || defTempData.logo.path === ''">
                  <span ng-hide="logoUpldComplt && logoWrapShow">
                    <button type="file" 
                      ng-model="logoFile"
                      class="btn btn-primary" 
                      ngf-select="uploadLogo($files)" 
                      ngf-pattern="image/*"
                      accept="image/*"
                      ngf-max-size="200KB"
                      ngf-multiple="false"
                    >
                      <i class="glyphicon glyphicon-folder-open"></i> 
                      &nbsp; Upload Logo</button><br/>
                    <small>* Logo size should be max 200KB</small>
                  </span>
                </div>
                <div class="form-group" ng-show="logoUpldComplt">
                  <img ngf-src="logoFile" class="thumb">
                  <a href="javascript:void(0)" ng-click="resetLogo()">Reset Logo</a>
                </div>
              </form>
              <div ng-if="defTempData.logo.path !== ''" ng-hide="logoWrapShow">
                <img src="{{defTempData.logo.path}}" class="" height="50px">
                <a href="javascript:void(0)" ng-click="showUploadWrap()">Change Logo</a>
              </div>
            </aside>
          </section>
          <section id="two" class="col-xs-6 text-right">
            <section class="form-inline clearfix">
              <div class="form-group pull-right mrL2">
                <label>Invoice #:</label>
                <input  ng-disabled="editMode" type="text" class="form-control wid80"  ng-model="defTempData.invoiceDetails.invoiceNumber">
              </div>
              <div class="form-group pull-right">
                <label>Date:</label>
                <input ng-disabled="editMode" type="text" class="form-control wid80" ng-model="defTempData.invoiceDetails.invoiceDate">
              </div>
            </section>
          </section>
        </div>
        <hr>
      </section>
      <!-- section one or two end -->

      <div class="row">
        <section class="col-xs-5" id="three">
          <h4 class="mrB">From:</h4>
          <div class="txtAreaWrap">
            <input class="form-control" ng-model="defTempData.company.name" placeholder="Your company name">
            <textarea class="form-control" ng-model="defTempData.company.data" placeholder="Address and other details"></textarea>
          </div>
        </section>
        <section class="col-xs-5 col-xs-offset-2" id="four">
          <!-- if logo or invoiceDetails false then show invoice no -->
          <section class="form-inline clearfix mrB1" ng-if="!tempSet.logo && !tempSet.invoiceDetails">
            <div class="form-group">
              <label>Invoice #:</label>
              <input ng-disabled="editMode" type="text" class="form-control wid80"  ng-model="defTempData.invoiceDetails.invoiceNumber">
            </div>
            <div class="form-group">
              <label>Date:</label>
              <input ng-disabled="editMode" type="text" class="form-control wid80" ng-model="defTempData.invoiceDetails.invoiceDate" >
            </div>
          </section>
          <!-- end if -->

          <h4 class="mrB">To:</h4>
          <div class="txtAreaWrap">
            <input ng-disabled="editMode" class="form-control" ng-model="defTempData.account.name" placeholder="Buyer Name">
            <textarea ng-disabled="editMode" class="form-control" ng-model="defTempData.account.data"  placeholder="Buyer Address and other details"></textarea>
          </div>
        </section>
      </div>
      <!-- section three or four end -->
      
      <!-- / end client and company details section -->
      
      

      <section ng-if="editMode  && defTempData.entries !== null">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-xs-1">
                <h4>S No.</h4>
              </th>
              <th class="col-xs-9">
                <h4>Description</h4>
              </th>
              <th class="col-xs-2 alR">
                <h4>Amount</h4>
              </th>
            </tr>
          </thead>
        
          <tbody>
            <tr ng-repeat="item in defTempData.entries track by $index">
              <td>{{$index}}</td>
              <td>
                <input type="text" ng-model="item.transactions[0].description" class="form-control">
              </td>
              <td class="text-right">
                {{item.transactions[0].amount | currency:"&#x20B9;"}}
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table invGenTbl">
          <tfoot>
            <tr>
              <th class="col-xs-1">
                &nbsp;
              </th>
              <th class="col-xs-9">
                Sub Total :
              </th>
              <th class="col-xs-2">
                {{defTempData.subTotal | currency:"&#x20B9;"}}
              </th>
            </tr>
            <!-- tax repeat -->
            <tr ng-if="defTempData.taxes.length > 0" ng-repeat="tax in defTempData.taxes">
              <th class="col-xs-1">
                &nbsp;
              </th>
              <th class="col-xs-9">
                <div class="form-inline clearfix">
                  <div class="form-group" ng-class="tax.hasError ? 'has-error' : ''">
                    <label>{{tax.accountName}}</label>
                    <input type="text" ng-model="tax.visibleTaxRate" class="form-control" valid-number id="splInvInpt">
                  </div>
                  <div class="form-group" ng-if="tax.hasError">
                    <i style="font-size:18px; cursor:pointer" tooltip-placement="top" uib-tooltip="{{tax.errorMessage}}" class="glyphicon glyphicon-info-sign"></i>
                  </div>
                  <div class="form-group">
                    &nbsp;:
                  </div>
                </div>
              </th>
              <th class="col-xs-2">
                {{tax.amount | currency:"&#x20B9;"}}
              </th>
            </tr>
            <!-- end of tax repeat -->
            <tr>
              <th class="col-xs-1">
                &nbsp;
              </th>
              <th class="col-xs-9">
                Grand Total :
              </th>
              <th class="col-xs-2">
                {{defTempData.grandTotal | currency:"&#x20B9;"}}
              </th>
            </tr>

            <tr>
              <td colspan="3">
                <hr>
                <p>Amount in words</p>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-capitalize">
                <strong>{{numbDigit}}</strong>
              </td>
            </tr>
            <tr>
            </tr>
          </tfoot>
        </table>
        
        <hr>
      </section>

      <section ng-if="editMode && defTempData.entries === null">
        <div class="row">
          <div class="greyBg alC" id="five">
            <div class="mrT4">Particulars will shown here</div>
          </div>
        </div>
      </section>

      <section ng-if="!editMode">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-xs-1">
                <h4>S No.</h4>
              </th>
              <th class="col-xs-9">
                <h4>Description</h4>
              </th>
              <th class="col-xs-2 alR">
                <h4>Amount</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>
                <p>Title of your article here</p>
              </td>
              <td class="text-right">$200.00</td>
            </tr>
            <tr>
              <td>2</td>
              <td><p>Details of project here</p></td>
              <td class="text-right">$750.00</td>
            </tr>
            <tr>
              <td>3</td>
              <td><p>WordPress Blogging theme</p></td>
              <td class="text-right">$250.00</td>
            </tr>
          </tbody>
        </table>
        <div class="row text-right">
          <div class="col-xs-2 col-xs-offset-8">
            <p>
              <strong>
              Sub Total : <br>
              TAX : <br>
              Total : <br>
              </strong>
            </p>
          </div>
          <div class="col-xs-2">
            <strong>
            $1200.00 <br>
            N/A <br>
            $1200.00 <br>
            </strong>
          </div>
        </div>
        <hr>
      </section>
       
      <!-- end of list section entries -->



      <div class="row">
        <section class="col-xs-5" id="six">
          <div class="txtAreaWrap">
            <textarea class="form-control" ng-model="defTempData.companyIdentities.data" placeholder="Company other details"></textarea>
          </div>
        </section>
        <section class="col-xs-7" id="seven">
          <div class="txtAreaWrap">
            <input class="form-control mrB alR" ng-model="defTempData.signature.name"  placeholder="Your Company name">
            <input class="form-control alR" ng-model="defTempData.signature.data" placeholder="Signatory slogan">
          </div>
        </section>
      </div>
      <!-- end of section six or seven -->
      <section ng-if="tempSet.terms">
        <hr>
        <div class="row">
          <section class="col-xs-12" id="eight">
            <div class="txtAreaWrap">
              
              <div ng-if="editMode">
                <label class="mrB">Enter your terms or bank details</label>
                <textarea class="form-control" ng-model="defTempData.termsStr" placeholder="Use Enter for line Break"></textarea>
              </div>
              <!-- end if editmode -->

              <ol  ng-if="!editMode" style="list-style: decimal inside;">
                <li ng-repeat="item in defTempData.terms track by $index">{{item}}</li>
              </ol>

            </div>
          </section>
        </div>
      </section>
      <!-- end of section eight -->
    </fieldset>
    <!-- end of preview mode -->

  </div>
  <!-- end of invoiceContainer -->
</div>
<!-- end of modal body -->