<!-- structure -->

<div class="container-fluid">
  <div class="row">
    <!-- left side -->
    <div class="col-md-2 col-sm-2 greyBg">
      <div>
        <div ng-controller="accountController" id="left" auto-height>
          <div ng-include="'/public/webapp/views/accounts.html'"></div>
          <ui-view
          ="ledger.accounts"></ui-view>
        </div>
      </div>
    </div>
    <!-- middle body -->
    <div class="col-md-10 col-sm-7">
      <div class="middleBody bdrR bdrL row">

      	<div class="title-bar">
      		<div class="pull-left">
      			<h1 class="page-title inline">
      				Profit and Loss
      			</h1>
      			<p class="sub-title inline">
      				(1 April {{year}} to {{date | date:'d'}} {{month | date:'MMMM'}} {{year | date:'yyyy'}})
      			</p>
      		</div>
      	</div>

        <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height>
            <div class="table-title">
              <div class="col-sm-6">
                Expenses
              </div>
              <div class="col-sm-6">
                Income
              </div>
            </div>
            <div class="table-container">
              <div class="col-sm-6 table-l">
                <table class="col-sm-12">
                  <thead class="tb-head">
                    <tr>
                       <th>
                          Particular
                       </th> 
                       <th>
                          Amount
                       </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="exp in data.expenseGroups">
                       <td class="col-sm-7">{{exp.name}}</td>
                       <td class="col-sm-5 text-right">{{exp.closingBalance}}</td>   
                    </tr>
                    <tr>
                        <td class="col-sm-7">Net Profit</td>
                        <td class="col-sm-5 text-right">{{data.closingBalance}}</td>
                    </tr>
                  </tbody>  
                </table>
              </div>
              <div class="col-sm-6 table-r">
                <table class="col-sm-12">
                  <thead class="tb-head">
                    <tr>
                       <th>
                          Particular
                       </th> 
                       <th>
                          Amount
                       </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="inc in data.incomeGroups">
                      <td class="col-sm-7">{{inc.name}}</td>
                      <td class="col-sm-5 text-right">{{inc.closingBalance}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <!-- end of row -->
</div>

