<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/website/css/style-web.css" rel="stylesheet">
<div>
  <div>
    <section id="topSection" class="login">
      <header>
			<nav class="navbar navbar-default" auto-active>
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">
			      	<h1><img src="/public/website/images/white-logo.png" alt="Giddh - Accounting Software" title="Giddh - Accounting Software" class="img-responsive" /></h1>
			      </a>
			    </div>
			  </div><!-- /.container -->
			</nav>
		</header>
      <!-- start of banner -->
      <div class="container othPage" id="banner">
        <div class="row">
          <div class="col-md-12 col-sm-12 alC">
            <h2 class="lghead mocha">
              Thanks for using Giddh!
            </h2>
            <div id="dasheddiv" style="border-color:rgba(41, 37, 31, 0.3); margin-bottom:40px;"></div>
            <div class="alC">
              <a href="/login" class="h2s mocha">Login again</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of banner -->
    </section>
  </div>
</div>