<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  
  <title>Thanks - Giddh ~ Accounting at its Rough!</title>
  <!-- STYLE / THEME -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet">
  
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link href="/public/website/css/new-style.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <script type="text/javascript" src="/public/website/js/app.js"></script>
  <!-- recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
  
  <script src="/public/website/js/controller/loginController.js"></script>
</head>
<body ng-controller="loginController">
  
  <ng-include src="'public/website/views/header.html'" ng-controller="homeCtrl"></ng-include>

  <section id="videoBg" class="intro login">
    <!-- banner content -->
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="brand-heading arvo">Come back soon!</h1>
            
            
            <a class="btn btn-lg btn-info" href="/login" onclick="goTo('/login')">login again</a>
            


          </div>
        </div>
      </div>
    </div>
  </section> <!-- end of intro -->

  <!-- include footer -->
  <ng-include src="'/public/website/views/footer.html'"></ng-include>
  
<script type="text/javascript">
/*-------------------------------------------------------------------*/
/*  FULL SCREEN FIRST SECTION
/*-------------------------------------------------------------------*/
jQuery(document).ready(function($){
'use strict';
  $(window).resize(function(){
    $('#videoBg').css({ 'height' : $(window).height() });
  });
  $(window).trigger('resize');
});
</script>
<script type="text/javascript">
  (function(){
    
    function goTo (state){
      window.location = state
    } 

  })();
 

</script>
</body>
</html>