<div>
    <div text-angular
         ta-toolbar="[]"
         ng-model='ngModel' ta-text-editor-setup='setup'></div>
</div>


<mentio-menu mentio-for="'htmlContent'"
             mentio-trigger-char="'@'"
             mentio-items="people">
</mentio-menu>



<script type="text/ng-template" id="/people-mentions.tpl">
    <ul class="list-group user-search">
        <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
            <img ng-src="{{person.imageUrl}}" class="user-photo">
            <span class="text-primary" ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
            
        </li>
    </ul>
</script>