<div>
    <div class="modal-header">
        <h3 class="modal-title">Update Tax Value</h3>
    </div>
    <div class="modal-body">
        One or more tax values have changed, would you like to update tax amount in all entries as per new value(s) ?
        <div class="form-group mrT1">
            <button class="btn btn-danger btn-block" ng-click="updateTaxAndEntries(true)">Yes, Update All Entries with Changed Tax Percent</button><br>

            <button class="btn btn-success btn-block" ng-click="updateTaxAndEntries(false)">No, Don't Update All Entries. Only Update Tax Percent</button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss(); updateTaxAndEntriesCancel()">Cancel</button>
    </div>
</div>



