doctype html
html
  head
    title
    style(type='text/css').
      @font-face {
      font-family: calibri;
      src: url(calibri.ttf);
      }
      html {
      min-height: 100%;
      height: 100%;
      position: relative;
      /*margin-bottom: 200px;*/
      }
      body {
      /*font-family: 'Roboto', sans-serif;*/
      font-family: calibri;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
      }
      .mid {
      font-weight: 300;
      }
      .p30 {
      padding: 30px;
      position: relative;
      }
      .green {
      color: #22733a;
      }
      h1 {
      margin: 0;
      }
      .invoice_info {
      background: #f2f2f2;
      padding: 30px;
      }
      table {
      width: 100%;
      font-weight: 400;
      max-width: 100%;
      }
      thead {
      display: none;
      }
      .summary tbody tr td:last-child,
      .summary tfoot tr td:last-child  {
      float: right;
      }
      .summary tfoot tr td, .summary tbody tr td {
      text-align: right;
      border: none;
      vertical-align: middle;
      /*padding: 8px;*/
      padding: 0;
      }
      .summary tbody tr td {
      text-align: left;
      padding:4px 0;
      }
      .tfooter {
      color: #939393;
      margin-top: 55px;
      }
      .total {
      color: #000;
      margin-top: 10px;
      }
      .total td:last-child {
      border-bottom-style: double;
      border-bottom-color: #939292;
      border-top: 1px solid #939292;
      }
      .cfooter {
      color: #a6a6a6;
      margin-top: 30px;
      }
      .cfooter p {
      margin: 0;
      margin-top: 5px;
      }
      .footer p {
      font-size: 12px;
      }
      ul {
      padding-left: 15px;
      color: #000;
      font-size: 12px;
      }
      .date {
      vertical-align: middle;
      color: #b2b1b1;
      }
      h1 {
      font-weight: 600;
      font-size: 12px;
      }
      .footer {
      color: #9f9e9e;
      }
      /*===============*/
      .text-right {
      text-align: right;
      }
      .pb0 {
      padding-bottom: 0px;
      }
      hr {
      margin: 0;
      }
      td p {
      margin: 0;
      }
      .footer {
      float: footnote;
      }
      @page {
      size: A4 portrait;
      }
      @media print {
      .footer {
      position: relative;
      bottom: 0;
      float: footnote;
      }
      /*        .cfooter {
      padding-bottom: 100px;
      }*/
      /*        .cfooter{
      page-break-inside: avoid;
      }*/
      td, p {
      page-break-inside: auto;
      }
      }
  body
    table.footer(cellpadding='0', cellspacing='0', style='padding-bottom: 0;')
      tr
        td
          each companyIdentity in companyIdentitiesData
            p #{companyIdentity}
      tr
        td(colspan='9')
          ul(style='padding-left: 15px;padding-bottom: 25px;')
            each term in terms  
              li #{term}. 
            
