<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Login - Giddh ~ Accounting at its Rough! Angular js</title>
  <!-- LIBRARIES -->
  <script src='/bower_components/modernizr/modernizr.js'></script>
  <script src='/bower_components/jquery/jquery.min.js'></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/satellizer/satellizer.js"></script>
  <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <!-- STYLE / THEME -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/website/css/style-web.css" rel="stylesheet">
  <script src="/public/website/js/app.js"></script>
  <script src="/public/website/js/controller/loginController.js"></script>
  <script src="/public/website/js/service/loginService.js"></script>

</head>
<body>

<div ng-controller="loginController">
  <section id="topSection" class="login">
    <ng-include src="'public/website/views/header.html'"></ng-include>
    <!-- start of banner -->
    <div class="container othPage" id="banner">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="lghead mocha">Hello! :)</h2>
          <h3 class="h3 lwit">​We are currently in BETA version only. And our team is working hard to make your accounting experience better.</h3>
          <div class="mrB4 brdDividr"></div>
          <div id="thead"> Tell us what you need and we will call you back!</div>
        </div>

        <div class="col-md-6 col-sm-12">
          <!-- form code start -->
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="formBg">
              <div ng-show="responseMsg" class="form-response betaLog">{{responseMsg}}</div>
              <div ng-show="notHuman"><span>{{notHumanMessage}}</span></div>
              <div class="" ng-hide="responseMsg">
                <form name="form" class="contactForm betaForm" novalidate>
                  <div class="form-group">
                    <div class="alertCnt" ng-show="form.$submitted || form.uName.$touched">
                      <span ng-show="form.uName.$error.required && user.name.$dirty">Required<sup>*</sup></span>
                    </div>
                    <input placeholder="Full Name" class="form-control" type="text" ng-model="user.name" name="uName" ng-minlength="3" required=""/>
                  </div>

                  <div class="form-group">
                    <input class="form-control" type="text" name="uCompany" ng-model="user.company" placeholder="Your company name">
                  </div>

                  <div class="form-group">
                    <div class="alertCnt" ng-show="form.$submitted || form.uEmail.$touched">
                      <span ng-show="form.uEmail.$error.required">Required<sup>*</sup></span>
                      <span ng-show="form.uEmail.$error.email">It looks like not a valid email.</span>
                    </div>
                    <input placeholder="Email" class="form-control" type="email" ng-model="user.email" name="uEmail" required/>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="uHuman" ng-model="user.reason" placeholder="Your messsage" required></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Are you human?</label>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">

                        <div class="splWrp clearfix">
                          <span>{{rn1}} + {{rn2}} = </span>
                          <input style="width:60px;" class="form-control" type="text" name="uHuman" ng-model="user.totalSum" required pattern="^[0-9]*$">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <button class="btn btn-default" ng-click="submitUserForm()"
                                ng-disabled="form.$invalid">Contact me soon
                        </button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <!-- form end -->
          </div>
        </div>
      </div>
    </div>
    <!-- End of banner -->
  </section>
  <ng-include src="'public/website/views/footer.html'"></ng-include>

</div>
</body>
</html>