<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Login - Giddh ~ Accounting at its Rough! Angular js</title>
  <!-- STYLE / THEME -->
  <link href="/public/website/css/giddh.website.min.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>

  <script src="/public/website/js/app.js"></script>
  <script src="/public/website/js/controller/loginController.js"></script>
  <script src="/public/website/js/service/loginService.js"></script>
</head>
<body>

<div ng-controller="loginController">
  <section id="topSection" class="login" style="padding-bottom:0">
    <ng-include src="'public/website/views/header.html'"></ng-include>
    <!-- start of banner -->
    <div class="othPage" id="banner">
        <!-- iframe content -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://giddh.viewpage.co/" border="0"></iframe>
        </div>
        <!-- iframe content end-->
    </div>
    <!-- End of banner -->
  </section>
  <ng-include src="'public/website/views/footer.html'"></ng-include>

</div>
</body>
</html>