<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Giddh - Contact ~ Accounting at its Rough! Angular js</title>
  <!-- LIBRARIES -->
  <script src="/public/website/js/newRelic.js"></script>
  <script src='/bower_components/modernizr/modernizr.js'></script>
  <script src='/bower_components/jquery/jquery.min.js'></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/satellizer/satellizer.js"></script>
  <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/public/website/js/app.js"></script>
  <script src="/public/website/js/controller/contactController.js"></script>
  <script type="text/javascript" src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

  <!-- STYLE / THEME -->
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-toastr/dist/angular-toastr.min.css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/website/css/style-web.css" rel="stylesheet">

</head>
<body>

<div ng-controller="contactController">
  <section id="topSection">
    <ng-include src="'/public/website/views/header.html'"></ng-include>
    <!-- start of banner -->
    <div class="container othPage" id="banner">
      <div class="row">
        <div class="col-md-12 col-sm-10 alC">
          <h2 class="h2 mocha">
            {{contact.banner.mainHead}} <br>
            {{contact.banner.mainHead1}}
          </h2>

          <h3 class="h3 trumph">{{contact.banner.subHead}}</h3>

          <div id="trywrap">
            <a href="http://beta.giddh.com/">
              <div id="try">
                <img border="0" ng-src="{{contact.banner.banBtnImgSrc}}" alt="{{contact.banner.banBtnImgTitle}}"/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of banner -->
  </section>

  <section class="container" id="midSection">
    <div id="cntRow" class="row">
      <div class="col-md-6 col-sm-12">
        <h4 class="h4">{{contact.middle.formHead}}</h4>

        <div ng-show="responseMsg" class="form-response">
          {{responseMsg}}
        </div>
        <div class="form" ng-hide="responseMsg">

          <form name="form" class="contactForm" novalidate>

            <div class="buff">
              <p class="lable">Full Name</p>
              <input placeholder="Adam John" class="form-control" type="text" ng-model="user.name" name="uName"
                     ng-minlength="3" required=""/>

              <div class="alertCnt" ng-show="form.$submitted || form.uName.$touched">
                <span ng-show="form.uName.$error.required">Tell us your name.</span>
              </div>
            </div>

            <div class="buff">
              <p class="lable">Mobile No.</p>
              <input class="form-control" type="number" name="uNumber" ng-model="user.number" ng-minlength="7"
                     ng-maxlength="12" required placeholder="91XXXXXXXXXX">

              <div class="alertCnt" ng-show="form.$submitted || form.uNumber.$touched">
                <span ng-show="form.uNumber.$error.required">Required!</span>
                <span ng-show="form.uNumber.$error.number">Not valid number!</span>
              </div>
            </div>

            <div class="buff">
              <p class="lable">E-mail:</p>
              <input placeholder="john_adam@example.com" class="form-control" type="email" ng-model="user.email"
                     name="uEmail" required=""/>

              <div class="alertCnt" ng-show="form.$submitted || form.uEmail.$touched">
                <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                <span ng-show="form.uEmail.$error.email">It looks like not a valid email.</span>
              </div>
            </div>

            <div class="buff">
              <p class="lable">Message</p>
              <textarea class="form-control" name="uMessage" ng-model="user.msg" placeholder="Your messsage"
                        required></textarea>
            </div>
            <div class="buff">
              <button class="btn btn-primary" ng-click="submitForm()" ng-disabled="form.$invalid">Submit</button>
            </div>

          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4 class="h4">{{contact.middle.title}}</h4>

        <div id="contact-detail">
          <p class="lable">Email :</p>

          <p class="hd dflt"><a href="mailto:marketing@giddh.com">marketing@giddh.com</a></p>


          <p class="lable">Address :</p>

          <p class="hd">Walkover Web Solutions Pvt. Ltd.
            405-406, Capt. C.S. Naidu Arcade,
            Near Greater Kailash Hospital, 10/2 Old Palasia,
            Indore, Madhya Pradesh, India-452018</p>

          <!-- <p class="lable">{{contact.middle.socialTitle}}</p>
            <div class="socialwrap">
             <a ng-repeat="list in contact.middle.socialList" class="din" href="{{list.url}}">
               <div class="scicn {{list.class}}">{{list.name}}</div>
             </a>
           </div> -->
        </div>
      </div>
    </div>
  </section>
  <ng-include src="'/public/website/views/footer.html'"></ng-include>
</div>
</body>
</html>