<!-- footer start -->
  <section id="footer">
    <section id="contact">
      <div class="container">
        <div class="row pr">
          <div id="footer-mascot" class="visible-md-block visible-lg-block"></div>
          <div class="col-md-5">
            <h4 class="headerline">Contact Us</h4>
            
            <div class="social">
              <a ng-repeat="list in socialList" href="{{list.url}}">
                <div class="scicn {{list.class}}">{{list.name}}</div>
              </a>
            </div>

            <p>405-406, Capt. C. S. Naidu Arcade, Near Greater</p>
            <p>Kailash Hospital, 10/2 Old Palasia,</p>
            <p>Indore, Madhya Pradesh 452018</p>
            <p class="mrT3">
              Sales : shubhendra@giddh.com<br>
              Support: <a class="font-black" href="mailto:support@giddh.com">support@giddh.com</a><br>
              <i class="glyphicon glyphicon-phone"/><a class="font-black" href="tel:07939593939">079 39 59 3939</a>
              <i class="glyphicon glyphicon-phone"/><a class="font-black" href="tel:08033037089">080 33 03 7089</a>
              <!-- <i class="glyphicon glyphicon-phone"/><a class="font-black" href="tel:18003131911">1800-3131-911 (toll free)</a> -->
            </p>
            <div id="farzi"></div>
          </div>
          <div class="col-md-5 col-md-offset-2" ng-if="formSubmitted">
            <h4 class="headerline">{{responseMsg}}</h4>
          </div>
          <div class="col-md-5 col-md-offset-2" ng-hide="formSubmitted">
            <h4 class="headerline">Tell us!</h4>
            <form novalidate name="contactForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Full Name *</label>
                    <input name="contactForm.name" ng-model="cForm.name" type="text" required class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="message">Contact Number *</label>
                    <input class="form-control" type="text" name="contactForm.number" ng-model="cForm.number" ng-min="7" ng-max="12" required valid-number>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <label for="email">Email Address *</label>
                  <input name="contactForm.email" ng-model="cForm.email" type="email" required class="form-control">
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <label for="message">Message *</label>
                  <textarea name="contactForm.message" required ng-model="cForm.message" class="form-control"></textarea>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <div 
                    theme="'light'"
                    ng-model="cForm.myRecaptchaResponse">
                  </div>
                  <div 
                    vc-recaptcha
                    theme="'light'"
                    key="captchaKey"
                    ng-model="cForm.myRecaptchaResponse">
                  </div>
                </div>
              </div>

              <button ng-click="submitForm(cForm)" class="btn  btn-default btn-lg" type="submit" ng-disabled="contactForm.$invalid">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- end of contact -->
    <footer class="inconsolata">
      <div>
        <a href="/about" onclick="goTo('/about', 'state')">About us</a>|
        <a href="http://blog.giddh.com/" target="_Blank" onclick="goTo('http://blog.giddh.com/', 'link')">Blog</a>|
        <a href="https://trello.com/b/PArZrnyg/giddh" target="_Blank" onclick="goTo('https://trello.com/b/PArZrnyg/giddh', 'link')">Upcoming</a>|
        <a href="/terms" onclick="goTo('/terms', 'state')" >Terms of use</a>|
        <a href="/privacy" onclick="goTo('/privacy', 'state')">Privacy policy</a>|
        <a href="https://www.walkover.in/currentopening.php" target="_Blank" onclick="goTo('https://www.walkover.in/currentopening.php', 'link')" >Work with us!</a>|
          <a href="http://faq.giddh.com" target="_Blank" onclick="goTo('http://faq.giddh.com', 'link')" >FAQ</a>|
          <a href="/affiliate" onclick="goTo('/affiliate', 'state')">Affiliate With Us</a>
      </div>

      <small>All right are reserved © 2020 Walkover <a href="https://giddh.com/" target="_Blank" onclick="goTo('https://giddh.com/', 'link')">Giddh.com</a></small>
    </footer>
  </section>
  <!-- end of footer -->


<script type="text/javascript">
  

    function goTo (state, type) {
      if(type == "state") {window.location = state
      }else {window.open(state)}
    }

</script>

<script type="text/javascript">
/*-------------------------------------------------------------------*/
/*  FULL SCREEN FIRST SECTION
/*-------------------------------------------------------------------*/
jQuery(document).ready(function($){
'use strict';
  $(window).resize(function(){
    $('#videoBg').css({ 'height' : $(window).height() });
  });
  $(window).trigger('resize');
});
/*-----------------------------------------------------------------------------------*/
/*  SCROLL TO TOP OF PAGE
/*-----------------------------------------------------------------------------------*/
jQuery(document).ready(function($){
'use strict';

  $('.pScroll').click(function(){
    var url = $(this).attr('href');
    $("html, body").animate({ scrollTop: $(url).offset().top}, 500);
    return false;    
  });

  $('.page-scroll').click(function(){
    var url = $(this).attr('href');
    if (window.location.pathname === '/'){
      $("html, body").animate({ scrollTop: $(url).offset().top}, 500);
      return false;
    }
    else{
      window.location.href = window.location.origin+url
    }
  });

  // onwindow scroll
  $(window).scroll(function(){
    
    var scrollTop = $(window).scrollTop();
    
    if( scrollTop > 100 ){
      $('.navbar').addClass('affix')
    } 
    else {
      $('.navbar').removeClass('affix')
    }
    
    // $('.page-scroll').each(function(){
    //   var scrollHref = $(this).attr('href');
    //   if( $(window).scrollTop() > $(scrollHref).offset().top - 100 ) {
    //     $('.page-scroll').removeClass('active');
    //     $(this).addClass('active');
    //   }
    // });
  });
});
</script>

 <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K2L9QG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K2L9QG');</script>
<!-- End Google Tag Manager -->
<script>
    window.intercomSettings = {
        app_id: "e77157qf"
    };
</script>
<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
    } else {
        var d = document;
        var i = function () {
            i.c(arguments)
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args)
        };
        w.Intercom = i;
        function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/e77157qf';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (w.attachEvent) {
            w.attachEvent('onload', l);
        } else {
            w.addEventListener('load', l, false);
        }
    }
})()</script>