<footer class="pr">
    <div class="container">
        <div class="row alC">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="/" title="Accounting Software">Home
                </a>|
                <a href="/pricing">Pricing
                </a>|
                <a href="/contact">Contact
                </a>|
                <a href="/privacy">Privacy Policy
                </a>|
                <a href="/terms">Terms &amp; Condition
                </a>|
                <a href="/billing">Billing
                </a>|
                <a href="/accountingbook">Accounting Book
                </a>|
                <a href="/accountingsoftware">Accounting Software
                </a>
            </div>
        </div>
        <div class="mrT2 alC row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                All right are reserved © 2016 Walkover
                <a href="/" title="Online Accounting Software">Giddh.com</a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    /*
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-7245107-21']);
     _gaq.push(['_setDomainName', 'giddh.com']);
     _gaq.push(['_setAllowLinker', true]);
     _gaq.push(['_trackPageview']);
     (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
     e77157qf
     tx2p130c
     */
</script>
<script>
    window.intercomSettings = {
        app_id: "e77157qf"
    };
</script>
<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
    } else {
        var d = document;
        var i = function () {
            i.c(arguments)
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args)
        };
        w.Intercom = i;
        function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/e77157qf';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (w.attachEvent) {
            w.attachEvent('onload', l);
        } else {
            w.addEventListener('load', l, false);
        }
    }
})()</script>