<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Giddh ~ Accounting at its Rough! Angular js</title>
  <!-- STYLE / THEME -->
  <link href="/public/webapp/css/all_bower.css" rel="stylesheet" />
  <link href="/public/website/css/style-web.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/website/js/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <script type="text/javascript" src="/public/website/js/app.js"></script>
  <script type="text/javascript" src="/public/website/js/controller/homeController.js"></script>
</head>
<body>
<div ng-controller="homeController">

  <section id="topSection">
    <ng-include src="'/public/website/views/header.html'"></ng-include>
    <!-- start of slider -->

    <div class="container" id="banner">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div>
            <h2 id="imd" class="h2i mocha white-space-pre-wrap">{{home.banner.mainHead}}</h2>

            <h3 id="imdContent" class="h3 trumph white-space-pre-wrap">{{home.banner.subHead}}</h3>

            <div id="thead" class="trumph">{{home.banner.p}}</div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <figure class="">
            <img class="img-responsive center-block" ng-src="{{home.banner.imgSrc}}"
                 alt="{{home.banner.imgTitle}}"/>
          </figure>
        </div>
      </div>
      <div class="row pr">
        <div id="trywrap">
          <a href="/beta">
            <div id="try">
              <img border="0" ng-src="{{home.banner.banBtnImgSrc}}" alt="{{home.banner.banBtnImgTitle}}"/>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- end of banner -->
  </section>
  <!-- end of top section -->


  <section class="container" id="midSection">


    <ul class="ln" id="indul">

      <li class="row" ng-repeat="list in home.middle.list">
        <div class="col-md-6 col-sm-12 lSide">
          <h4 class="h4">{{list.title}}</h4>

          <p class="cmnp">{{list.details}}</p>
        </div>
        <div class="col-md-6 col-sm-12 rSide">
          <figure class="">
            <img class="img-responsive center-block" ng-src="{{list.imgSrc}}" alt="{{list.imgTitle}}"/>
          </figure>
        </div>
      </li>

    </ul>
  </section>

  <section id="mainline" class="alC mocha">
    {{home.bottomContent.text}}
    <img ng-src="{{home.bottomContent.imgSrc}}" alt="{{home.bottomContent.altText}}" align="absmiddle"/>
  </section>

  <ng-include src="'/public/website/views/footer.html'"></ng-include>
</div>

</body>
</html>