<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Giddh, the best online accounting and bookkeeping software. An accounting software to provide you an outstanding solution for business accounting management"/>
  <meta name="keywords" content="bookkeeping software, Accounting softwares, online accounting software, bookkeeping software for small business"/>
  <title>Giddh ~ Accounting at its Rough! Bookkeeping and Accounting Software</title>
  <!-- STYLE / THEME -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/angular-vidbg/dist/vidBg.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Arvo:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link href="/public/website/css/new-style.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <script type="text/javascript" src="/public/website/js/app.js"></script>

  <!-- recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
</head>
<body ng-controller="homeCtrl" id="page-top" class="light">

  <ng-include src="'/public/website/views/header.html'"></ng-include>
  <!-- end navigation -->

  <section id="videoBg" class="pr">
    <div class="scroll-btn">
      <a href="#feature" class="page-scroll"></a>
    </div>
    <div class="intro home">

      <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay" class="visible-md-block visible-lg-block"></vid-bg>
      <!-- hidden-md hidden-xs hidden-sm -->

      <!-- banner content -->
      <div class="intro-body">
        <div class="container adjust-width">
          <div class="row">
            <div class="col-sm-12">
              <div class="pr clearfix">
                <div>
                  <a href="/login" class="btn btn-primary  btn-lg">Cheque out</a>
                </div>
                <div class="brand-wrap">
                  <h1 class="brand-heading arvo">
                    <div class="pr">
                      <img class="img-responsive" src="/public/website/images/new/banner-graph.png" alt="bookkeeping software,Cloud Based Accounting Software" />
                      <p class="white" style='color:white'>Your new non-inventory accountant</p>
                    </div>
                  </h1>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> <!-- end of videoBg -->

  <section class="blueBg homeContent" id="feature">
    <div class="container adjust-width">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="arvo">Accounting that’s not just limited to accountants</h2>
          <figure>
            <img class="img-responsive" src="/public/website/images/new/1.png" alt="online bookkeeping,easy accounting software">
            <figcaption>Stop logging into your bank account. Your bank syncs with Giddh.</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="/public/website/images/new/2.png" alt="small business bookkeeping software">
            <figcaption>Share realtime ledgers and invoices with your customers</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="/public/website/images/new/3.png" alt="bookkeeping software for small business">
            <figcaption>You are not dependent on your accountant for your business reports</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="/public/website/images/new/4.png" alt="online bookkeeping software">
            <figcaption>Every key person in your Company can see the numbers relevant to them</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="/public/website/images/new/5.png" alt="accounting software">
            <figcaption>Our API’s integrate seamlessly into your software’s</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="/public/website/images/new/6.png" alt="small business accounting software">
            <figcaption>Have branches? Your accounts are still at the same place.</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="/public/website/images/new/7.png" alt="best accounting software">
            <figcaption>Reports at your thumb. Find us at Playstore or Apple store.</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- home content end -->

  <section class="cmnPd80 ylwBg homeBtmhalf gridBg">
    <div class="container adjust-width">
      <div class="row  text-center">
        <div class="col-sm-12">
          <h3 class="arvo">Why use local database? When Giddh gives you bank level security<br> with its unmatched data encryption</h3>
          <a href="/login" class="btn btn-secondary  btn-lg">See how</a>
        </div>
      </div>
    </div>
  </section>

  <!--detailed features section-->
    <section class="blueBg homeContent details" id="feature">
      <div class="container adjust-width">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="arvo">What can you do with Giddh?</h2>
            <figure>
              <h1>Accounts</h1>
              <figcaption>Manage, Share, Merge and Move</figcaption>
              <p>Add and Manage your accounts by adding related information, Sharing with stakeholders, Merging two accounts and Moving from one group to another.</p> 
            </figure>
            <figure>
              <h1>Groups</h1>
              <figcaption>Heirarchical, Share and Move</figcaption>
              <p>A mutli level heirarchy allows you to arrange your groups more efficiently. Move one group to another and share them with any person associated with it, be it your sales team manager or the CFO.</p> 
            </figure>
            <figure>
              <h1>Ledger</h1>
              <figcaption>Export, Import, Share, Email and SMS</figcaption>
              <p>Export and Import your ledgers to and from other softwares seamlessly. Share by sending emails and SMS.</p> 
            </figure>
            <figure>
              <h1>Entries</h1>
              <figcaption>Ledger Wise, Automatic Double Entries, Multi Entries, Automatic Tax and Recurring Entries</figcaption>
              <p>With Giddh, you can make direct ledger entries, just like giving and recieving. Make a single ledger enriy and Giddh makes the double entry automatically. Make single entries with multiple transactions, add tax transactions automatically and schedule recurring entries.</p> 
            </figure>
            <figure>
              <h1>Invoice</h1>
              <figcaption>Generate, Share, Email, Pay Via Invoice</figcaption>
              <p>Make Invoices directly from entries and email to concerned persons. Mark Invoices and paid, partially paid or unpaid. Your customers can pay by clicking a button directly from the Invoice.</p> 
            </figure>
            <figure>
              <h1>Extras</h1>
              <figcaption>Bulk Emails and SMS, Multi User Access, Heirarchy, Role and Functionality wise Access, Multiple Financial Years, Fetch Bank Transactions, Import directly from Tally, Restful APIs</figcaption>
              <p>Send information to multiple stakeholders by sending bulk emails and sms directly from Giddh. Multi user access allows more than one person to work on the same task from different locations. Heirarchy and role based accessebility allows you to ensure who sees what when you share your company, groups or accounts. Switch between multiple financial years to easily analyse your growth. Bank transactions are fetched and entries are created automatically by connecting Giddh with your bank. Import all your data from Tally effortlessly. Use our RESTful APIs to integrate Giddh with your existing software.</p> 
            </figure>
            <figure>
              <h1>Analysis</h1>
              <figcaption>Automatic Trial Balance, Balance Sheet, Profit and Loss Statement, Groups and Accounts wise Reports and Advanced Analytical Search</figcaption>
              <p>All your essential business reports are available automatically with options to generate more custom detailed reports. View these reports online, as graphs or export as an excel sheet.</p> 
            </figure>
            <figure>
              <h1>Support</h1>
              <figcaption>24/7 Chat Support, Premium Support, CA support, International Laws Support</figcaption>
              <p>Get 24/7 chat, premium support at no extra cost. Just add entries and let us handle the rest. Get access to experienced CAs and International Law Firms directly throught us.</p> 
            </figure>
          </div>
        </div>
      </div>
    </section>

  <!-- end of page -->

  <!-- include footer -->
  <ng-include src="'/public/website/views/footer.html'"></ng-include>

</body>
</html>