<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Giddh, the best online accounting and bookkeeping software. An accounting software to provide you an outstanding solution for business accounting management"/>
  <meta name="keywords" content="bookkeeping software, Accounting softwares, online accounting software, bookkeeping software for small business"/>
  <title>Giddh ~ Accounting at its Rough! Bookkeeping and Accounting Software</title>
  <!-- STYLE / THEME -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/vidBg.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Arvo:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link href="css/new-style.css" rel="stylesheet">


  <!-- recaptcha -->

</head>
<body id="page-top" class="light">

  <!-- data-spy="affix" data-offset-top="100" target="page-top" -->
<nav role="navigation" class="navbar navbar-custom navbar-fixed-top fixedHeader">
    <div class="container-fluid">
      <div class="navbar-header">
        <button data-target=".navbar-main-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <!-- <i class="glyphicon glyphicon-th-list"></i> -->
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="/" class="navbar-brand">
          <img src="images/new/giddh-logo.png" alt="Giddh - online accounting software">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden active">
            <a href="#page-top"></a>
          </li>
          <!-- <li class="">
            <a href="#feature" class="page-scroll">
              <img src="/public/website/images/new/security-icon.png" alt="Security">
            </a>
          </li> -->
          <li class="" >
            <a href="/index#feature" class="page-scroll" >Features</a>
          </li>
          <li class="">
            <a href="/pricing">Pricing</a>
          </li>
          <li >
            <button onClick="window.location.href='/login'" type="button" class="btn btn-secondary navbar-btn" style="margin-left:20px">Login</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navigation -->

  <section id="videoBg" class="pr" style="height:700px">
    
    <style>
    	.booksBg{background:url(images/new/landing.jpg) no-repeat center top / cover;}
		.landing h1{color:#333; text-transform:uppercase; font-size:26px; line-height:42px; padding-bottom:20px; border-bottom:1px solid #eee; margin-bottom:25px;}
		.landing h1 span{color:#EB2509}
		.landing h4{color:#777; font-size:20px; line-height:30px}
		.landing .col-sm-6{text-align:center; padding:35px}
		.landing .box{display:inline-block; min-width:260px; max-width:400px; margin-top:26%; text-align:left;}
		
		.landing .box2{min-width:400px}
		.box form{background:rgba(0,0,0,.8); padding:20px}
		.box .input-group-lg{margin-bottom:20px}
		.box .form-control{background: #484848; color:#aaa; border:none; border-radius:0; font-family: 'Arvo', serif;}
		.box .form-control:focus{box-shadow:none;}
		.phone{position:relative}
		.phone .form-control{padding-left:60px;}
		.phone span{position:absolute; color:#aaa; top:11px; left:15px; font-size:18px; font-weight:bold;}
		
		@media (min-width: 1500px) {
			.landing h1{font-size:32px; line-height:50px;}
			.landing .box{max-width:500px;}
			.box2{width:460px}
			.booksBg{height:auto !important}
			}
		@media (max-width: 900px) {
			.landing .box{width:100%; max-width:100%; min-width:auto;}
			}
		@media (max-width: 767px){
			.landing .box{margin-top:40px}
			}
    </style>
    
      <!-- banner content -->
      <div class="clearfix row landing">
        <div class="col-sm-6">
        	<div class="box">
              <h1 class="arvo">
                Your new non-inventory
                <span>accountant</span>
              </h1>
              <h4 class="arvo">Sed ut perspiciatis unde omnis natustede
iste natus error sit voluptatem ut ipsum 
accusantium.</h4>
            </div>
        </div>
        
        <div class="col-sm-6 booksBg" style="height:700px">
        	<div class="box box2 arvo">
            	<form>
                	<div class="input-group-lg">
                        <input type="text" class="form-control" id="name" placeholder="Name" required>
                    </div>
                    <div class="input-group-lg phone">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" required maxlength="10">
                        <span>+91</span>
                    </div>
                    <div class="input-group-lg">
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <input type="submit" class="btn btn-default btn-block btn-lg" value="Start 1 month free trial"/>
                </form>
            </div>
        </div>
      </div>

  </section> <!-- end of videoBg -->

  <section class="blueBg homeContent" id="feature">
    <div class="container adjust-width">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="arvo">Accounting that’s not just limited to accountants</h2>
          <figure>
            <img class="img-responsive" src="images/new/1.png" alt="online bookkeeping,easy accounting software">
            <figcaption>Stop logging into your bank account. Your bank syncs with Giddh.</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="images/new/2.png" alt="small business bookkeeping software">
            <figcaption>Share realtime ledgers and invoices with your customers</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="images/new/3.png" alt="bookkeeping software for small business">
            <figcaption>You are not dependent on your accountant for your business reports</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="images/new/4.png" alt="online bookkeeping software">
            <figcaption>Every key person in your Company can see the numbers relevant to them</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="images/new/5.png" alt="accounting software">
            <figcaption>Our API’s integrate seamlessly into your software’s</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="images/new/6.png" alt="small business accounting software">
            <figcaption>Have branches? Your accounts are still at the same place.</figcaption>
          </figure>

          <figure>
            <img class="img-responsive" src="images/new/7.png" alt="best accounting software">
            <figcaption>Reports at your thumb. Find us at Playstore or Apple store.</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- home content end -->

  <section class="cmnPd80 ylwBg homeBtmhalf gridBg">
    <div class="container adjust-width">
      <div class="row  text-center">
        <div class="col-sm-12">
          <h3 class="arvo">Why use local database? When Giddh gives you bank level security<br> with its unmatched data encryption</h3>
          <a href="/login" class="btn btn-secondary  btn-lg">See how</a>
        </div>
      </div>
    </div>
  </section>

  <!--detailed features section-->
    <section class="blueBg homeContent details" id="feature">
      <div class="container adjust-width">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="arvo">What can you do with Giddh?</h2>
            <figure>
              <h1>Accounts</h1>
              <figcaption>Manage, Share, Merge and Move</figcaption>
              <p>Add and Manage your accounts by adding related information, Sharing with stakeholders, Merging two accounts and Moving from one group to another.</p> 
            </figure>
            <figure>
              <h1>Groups</h1>
              <figcaption>Heirarchical, Share and Move</figcaption>
              <p>A mutli level heirarchy allows you to arrange your groups more efficiently. Move one group to another and share them with any person associated with it, be it your sales team manager or the CFO.</p> 
            </figure>
            <figure>
              <h1>Ledger</h1>
              <figcaption>Export, Import, Share, Email and SMS</figcaption>
              <p>Export and Import your ledgers to and from other softwares seamlessly. Share by sending emails and SMS.</p> 
            </figure>
            <figure>
              <h1>Entries</h1>
              <figcaption>Ledger Wise, Automatic Double Entries, Multi Entries, Automatic Tax and Recurring Entries</figcaption>
              <p>With Giddh, you can make direct ledger entries, just like giving and recieving. Make a single ledger enriy and Giddh makes the double entry automatically. Make single entries with multiple transactions, add tax transactions automatically and schedule recurring entries.</p> 
            </figure>
            <figure>
              <h1>Invoice</h1>
              <figcaption>Generate, Share, Email, Pay Via Invoice</figcaption>
              <p>Make Invoices directly from entries and email to concerned persons. Mark Invoices and paid, partially paid or unpaid. Your customers can pay by clicking a button directly from the Invoice.</p> 
            </figure>
            <figure>
              <h1>Extras</h1>
              <figcaption>Bulk Emails and SMS, Multi User Access, Heirarchy, Role and Functionality wise Access, Multiple Financial Years, Fetch Bank Transactions, Import directly from Tally, Restful APIs</figcaption>
              <p>Send information to multiple stakeholders by sending bulk emails and sms directly from Giddh. Multi user access allows more than one person to work on the same task from different locations. Heirarchy and role based accessebility allows you to ensure who sees what when you share your company, groups or accounts. Switch between multiple financial years to easily analyse your growth. Bank transactions are fetched and entries are created automatically by connecting Giddh with your bank. Import all your data from Tally effortlessly. Use our RESTful APIs to integrate Giddh with your existing software.</p> 
            </figure>
            <figure>
              <h1>Analysis</h1>
              <figcaption>Automatic Trial Balance, Balance Sheet, Profit and Loss Statement, Groups and Accounts wise Reports and Advanced Analytical Search</figcaption>
              <p>All your essential business reports are available automatically with options to generate more custom detailed reports. View these reports online, as graphs or export as an excel sheet.</p> 
            </figure>
            <figure>
              <h1>Support</h1>
              <figcaption>24/7 Chat Support, Premium Support, CA support, International Laws Support</figcaption>
              <p>Get 24/7 chat, premium support at no extra cost. Just add entries and let us handle the rest. Get access to experienced CAs and International Law Firms directly throught us.</p> 
            </figure>
          </div>
        </div>
      </div>
    </section>

  <!-- end of page -->

  <!-- include footer -->
  <!-- footer start -->
  <section id="footer">
    <section id="contact">
      <div class="container">
        <div class="row pr">
          <div id="footer-mascot" class="visible-md-block visible-lg-block"></div>
          <div class="col-md-5">
            <h4 class="headerline">Contact Us</h4>
            
            <div class="social">
              <a ng-repeat="list in socialList" href="{{list.url}}">
                <div class="scicn {{list.class}}">{{list.name}}</div>
              </a>
            </div>

            <p>405-406, Capt. C. S. Naidu Arcade, Near Greater</p>
            <p>Kailash Hospital, 10/2 Old Palasia,</p>
            <p>Indore, Madhya Pradesh 452018</p>
            <p class="mrT3">
              shubhendra@giddh.com<br>
              +91 9977389948
            </p>
            <div id="farzi"></div>
          </div>
          <div class="col-md-5 col-md-offset-2" ng-if="formSubmitted">
            <h4 class="headerline">{{responseMsg}}</h4>
          </div>
          <div class="col-md-5 col-md-offset-2" ng-hide="formSubmitted">
            <h4 class="headerline">Tell us!</h4>
            <form novalidate name="contactForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Full Name *</label>
                    <input name="contactForm.name" ng-model="cForm.name" type="text" required class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="message">Contact Number *</label>
                    <input class="form-control" type="text" name="contactForm.number" ng-model="cForm.number" ng-min="7" ng-max="12" required valid-number>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <label for="email">Email Address *</label>
                  <input name="contactForm.email" ng-model="cForm.email" type="email" required class="form-control">
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <label for="message">Message *</label>
                  <textarea name="contactForm.message" required ng-model="cForm.message" class="form-control"></textarea>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <div 
                    theme="'light'"
                    ng-model="cForm.myRecaptchaResponse">
                  </div>
                  <div 
                    vc-recaptcha
                    theme="'light'"
                    key="captchaKey"
                    ng-model="cForm.myRecaptchaResponse">
                  </div>
                </div>
              </div>

              <button ng-click="submitForm(cForm)" class="btn  btn-default btn-lg" type="submit" ng-disabled="contactForm.$invalid">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- end of contact -->
    <footer class="inconsolata">
      <div>
        <a href="/about">About us</a>|
        <a href="http://blog.giddh.com/" target="_Blank">Blog</a>|
        <a href="/terms">Terms of use</a>|
        <a href="/privacy">Privacy policy</a>|
        <a href="https://www.walkover.in/currentopening.php" target="_Blank">Work with us!</a>
      </div>

      <small>All right are reserved © 2020 Walkover <a href="https://giddh.com/" target="_Blank">Giddh.com</a></small>
    </footer>
  </section>

</body>
</html>