<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Login - Giddh ~ Accounting at its Rough! Angular js</title>
  <!-- STYLE / THEME -->
  <link href="/public/webapp/css/all_bower.css" rel="stylesheet" />
  <link href="/public/website/css/style-web.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/website/js/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <script src="/public/website/js/app.js"></script>
  <script src="/public/website/js/controller/loginController_back.js"></script>
  <style type="text/css">
  html, body{
    background: #56bc8a;
    color: #fff;
    height:100%;
  }
  .loginBtn{
    background-color: #fff;
    color: #56bc8a;
    font-weight: 700;
    float: right;
  }
  .borderbottom{
    border-bottom: 1px solid #3FAD77;
  }
  .login-wrapper{
    height:100%;
  }
  </style>
</head>
<body>
<div ng-controller="loginBackController">
  <section id="top" class="container"> 
    <div class="row" style="padding: 50px 0">
      <a class="btn loginBtn">Home</a>
    </div>
    <div class="row">
      <div id="tipscnt" class="tipcnt mocha borderbottom pdB2" style="margin-top:0">
        Tip : "Every transaction has a statement."
      </div>
    </div>
  </section>
  <section id="bottom" class="container">
    <div class="login-wrapper">

    </div>
  </section>


  <div ng-if="loginIsProcessing" class="loading">
    <div class="giddh-spinner"></div>
    <h1>Loging in please wait...</h1>
  </div>
  <div>
  <!-- <section id="newButtonWraps" class="clearfix" ng-disabled="loginIsProcessing">
    <button class="btn btn-lg btn-block btn-google-plus" ng-click="authenticate('google')">Sign in with Google</button>
    <button class="btn btn-lg btn-block btn-twitter" ng-click="authenticate('twitter')">Sign in with Twitter</button>
    <button class="btn btn-lg btn-block btn-linkedin" ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
  </section>

   -->
    
  </div>
</div>

<script>
  (function(){
    var bodyHeight = $('body,html').height();
    var top = $('#top').height();
    var bottom = $('#bottom');

    $(window).on('resize', function(){
      bottom.css('min-height', bodyHeight - top);
    })
    
    $(document).ready(function(){
      bottom.css('min-height', bodyHeight - top);
    })

  })();
</script>
</body>
</html>