<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Login - Giddh ~ Accounting at its Rough! Angular js</title>
  <!-- STYLE / THEME -->
  <link rel="stylesheet" type="text/css" href="/public/webapp/css/all_bower.min.css">
  <link href="/public/website/css/style-web.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/website/js/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <script src="/public/website/js/app.js"></script>
  <script src="/public/website/js/controller/loginController_back.js"></script>

</head>
<body>
<div ng-controller="loginBackController">
  <div ng-if="loginIsProcessing" class="loading">
    <h1>Loging in please wait...</h1>
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div>
    <section id="topSection" class="login">
      <ng-include src="'public/website/views/header.html'"></ng-include>
      <!-- start of banner -->
      <div class="container othPage" id="banner">
        <div class="row">
          <div class="col-md-12 col-sm-12 alC">
            <h2 class="lghead mocha">
              {{login.banner.mainHead}} <br>
              {{login.banner.mainHead1}}
            </h2>

            <div id="dasheddiv" style="border-color:rgba(41, 37, 31, 0.3); margin-bottom:40px;"></div>
            <div id="prnat">
              <span class="h2s mocha">Login as</span>


              <button class="lgbtn" ng-click="authenticate('google')" ng-disabled="loginIsProcessing">
                <div class="clearfix">
                  <img src="/public/website/images/google.png" border="0" align="absmiddle" alt="Google" height="40"
                       width="140"/>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of banner -->
    </section>

    <section class="container" id="midSection">
      <div style="margin-bottom:40px;">
        <div id="tipscnt" class="tipcnt mocha">
          Tip : "Every transaction has a statement."
        </div>
      </div>
    </section>
    <ng-include src="'public/website/views/footer.html'"></ng-include>
  </div>
</div>
</body>
</html>