<!-- data-spy="affix" data-offset-top="100" target="page-top" -->

<nav role="navigation" class="magic_header navbar navbar-custom" ng-class="{'transparent':!magicLinkPage, 'fixedHeader' : fixedHeader}">
  <div class="container-fluid">
    <div class="navbar-header">

      <div class="magicHead">
        <div class="accountName">
              {{companyName}}
        </div>
        <span class="w7">powered by</span>
          <a href="/" class="navbar-brand" ng-if="showBlack">
            <img src="/public/website/images/new/giddh-logo.png" alt="Giddh - online accounting software">
          </a>
      </div>
    </div>
    
  </div>
</nav>

