<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Start using easiest and well featured Giddh accounting software. Giddh is an ultimate accounting solution for small businesses at the best price"/>
  <meta name="keywords" content="bookkeeping software, Accounting softwares, best accounting software"/>
  <title>Giddh ~ Accounting at its Rough! Bookkeeping and Accounting Software</title>
  <!-- STYLE / THEME -->
  <link href="<<PREFIX_THIS>>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link href="<<PREFIX_THIS>>/public/website/css/new-style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<<PREFIX_THIS>>/public/webapp/css/giddh.min.css">
  <link href="<<PREFIX_THIS>>/public/website/css/new-style.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="<<PREFIX_THIS>>/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='<<PREFIX_THIS>>/public/webapp/core_bower.min.js'></script>
  <script type="text/javascript" src="<<PREFIX_THIS>>/public/website/js/app.js"></script>
  <!-- recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  <script type="text/javascript" src="<<PREFIX_THIS>>/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>
<body ng-controller="paymentCtrl" id="page-top">

<ng-include src="'/public/website/views/header.html'"></ng-include>
<section class="container-fluid" style="margin-top:100px">
  <button ng-disabled="disableRazorPay" razor-pay class="btn btn-primary">Pay Now</button>
</section>

</body></html>
