<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K2L9QG');</script>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Start using easiest and well featured Giddh accounting software. Giddh is an ultimate accounting solution for small businesses at the best price"/>
  <meta name="keywords" content="bookkeeping software, Accounting softwares, best accounting software"/>
  <title>Pricing Plan for Online Accounting software | Giddh</title>
  <!-- STYLE / THEME -->
  <link href="<<PREFIX_THIS>>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="<<PREFIX_THIS>>/bower_components/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet">
  
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link href="<<PREFIX_THIS>>/public/website/css/new-style.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="<<PREFIX_THIS>>/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='<<PREFIX_THIS>>/public/webapp/core_bower.min.js'></script>
  <script type="text/javascript" src="<<PREFIX_THIS>>/public/website/js/app.js"></script>
  <script src="<<PREFIX_THIS>>/public/website/js/controller/loginController.js"></script>
  <!-- recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  <script type="text/javascript" src="<<PREFIX_THIS>>/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
  
</head>
<body ng-controller="homeCtrl" id="page-top">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2L9QG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <ng-include src="'public/website/views/header.html'"></ng-include>

  <section id="videoBg" class="intro pricing">
    <!-- banner content -->
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="brand-heading arvo">Don’t expect long tables here.<br> We are flat <span>₹ 800 a month.</span></h1>
            <figure>
              <img class="img-responsive" src="<<PREFIX_THIS>>/public/website/images/Pricing-Icon.png" alt="business accounting software">
            </figure>

            <div class="text-center pBnrBtm clearfix">
              <span class="head3 pClr">Still Confused?</span>
              <a href="#footer" class="pScroll btn btn-p-bdr btn-lg btn-bdr">Talk to us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- end of intro -->

  <section class="blueBg cmnPd100 pricing">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="<<PREFIX_THIS>>/public/website/images/new/ledger-sharing.png" alt="account software">
            <div class="caption">
              <h3>Ledger Sharing</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="<<PREFIX_THIS>>/public/website/images/new/business-reports.png" alt="best small business accounting software">
            <div class="caption">
              <h3>Business Reports</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="<<PREFIX_THIS>>/public/website/images/new/multiple-person-entry.png" alt="simple accounting software">
            <div class="caption">
              <h3>Multiple Person Entry</h3>
            </div>
          </div>
        </div>

      </div>
      <!-- end of row -->
      <div class="row text-center mrT4">
        <div class="col-sm-12">
          <h2 class="arvo-b bigger-text mrB5 pClr">24/7 instant support</h2>
          <a href="/login" id="pBtn" class="btn btn-primary btn-lg arvo">Try Now</a>
        </div>
      </div>
    </div>
  </section>

  <ng-include src="'/public/website/views/footer.html'"></ng-include>
</body></html>
