<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Start using easiest and well featured Giddh accounting software. Giddh is an ultimate accounting solution for small businesses at the best price"/>
  <meta name="keywords" content="bookkeeping software, Accounting softwares, best accounting software"/>
  <title>Pricing Plan for Online Accounting software | Giddh</title>
  <!-- STYLE / THEME -->
  <link href="/public/website/css/giddh.website.min.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>

  <script src="/public/website/js/app.js"></script>

  <style type="text/css">
    #topSection {
      min-height: inherit;
    }
  </style>
</head>
<body class="unresponsive">
<div>
  <section id="topSection">
    <ng-include src="'public/website/views/header.html'"></ng-include>
    <!-- start of banner -->
    <div class="container othPage" id="banner">
      <div class="row">
        <div class="col-xs-12 alC">
          <h1 class="h1 mocha">
            Giddh Accounting software Pricing is just 500Rs./Month
          </h1>

          <h2 class="h3 trumph">
            PURE UNLIMITED ACCOUNTING. UNLIMITED USERS. NO HIDDEN CHARGES!
          </h2>

          <div id="trywrap">
            <a href="/beta">
              <div id="try">
                <img border="0" ng-src="{{pricing.banner.banBtnImgSrc}}"
                     alt="{{pricing.banner.banBtnImgTitle}}"/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of banner -->
  </section>

  <section class="container" id="midSection">
    <ul class="ln" id="cmnul">
      <li class="col-xs-4" ng-repeat="list in pricing.middle.list">
        <h4 class="h4">{{list.title}}</h4>

        <p class="cmnp">{{list.details}}</p>
        <!-- <a href="javascript:;" class="readmore">Read more</a> -->
      </li>
    </ul>
  </section>
  <ng-include src="'public/website/views/footer.html'"></ng-include>
</div>
