<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Giddh, the best online accounting and bookkeeping software. An accounting software to provide you an outstanding solution for business accounting management"/>
  <meta name="keywords" content="bookkeeping software, Accounting softwares, online accounting software, bookkeeping software for small business"/>
  <title>Giddh ~ Accounting at its Rough! Bookkeeping and Accounting Software</title>
  <!-- STYLE / THEME -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/vidBg.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Arvo:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link href="css/new-style.css" rel="stylesheet">


  <!-- recaptcha -->

</head>
<body id="page-top" class="light">

  <!-- data-spy="affix" data-offset-top="100" target="page-top" -->
<nav role="navigation" class="navbar navbar-custom navbar-fixed-top fixedHeader">
    <div class="container-fluid">
      <div class="navbar-header">
        <button data-target=".navbar-main-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <!-- <i class="glyphicon glyphicon-th-list"></i> -->
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="/" class="navbar-brand">
          <img src="images/new/giddh-logo.png" alt="Giddh - online accounting software">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden active">
            <a href="#page-top"></a>
          </li>
          <!-- <li class="">
            <a href="#feature" class="page-scroll">
              <img src="/public/website/images/new/security-icon.png" alt="Security">
            </a>
          </li> -->
          <li class="" >
            <a href="/index#feature" class="page-scroll" >Features</a>
          </li>
          <li class="">
            <a href="/pricing">Pricing</a>
          </li>
          <li >
            <button onClick="window.location.href='/login'" type="button" class="btn btn-secondary navbar-btn" style="margin-left:20px">Login</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
  
  <section class="intro security" id="videoBg" style="height: 408px;">
    <!-- banner content -->
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="brand-heading arvo">Welcome to the <span>Safest Accounting</span><br/> in the world</h1>
            <figure>
              <img alt="security" src="images/new/security-mascot.png" class="img-responsive">
            </figure>
            <h4 class="text-center text-muted arvo">
            	Sed ut perspiciatis unde omnis iste natus error sit accusantium <br/> doloremque laudantium
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- end of videoBg -->

  <section class="blueBg homeContent">
    <div class="container">
      <div class="row">
      	<div class="container adjust-width">
          <div class="clearfix secPoint">
             <div class="col-sm-4">
             	<img src="images/new/sec1.png" />
             </div>
             <div class="col-sm-8">
             	<h3>Data on cloud</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit
accusantium doloremque laudantium, totam rem aperiam,
quae ab illo inventore veritatis qui dolorem ipsum quia dolor sit amet</p>
             </div>
          </div>
          
          <div class="clearfix secPoint">
             <div class="col-sm-4">
             	<img src="images/new/sec2.png" />
             </div>
             <div class="col-sm-8">
             	<h3>SSL Security</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit
accusantium doloremque laudantium, totam rem aperiam,
quae ab illo inventore veritatis qui dolorem ipsum quia dolor sit amet</p>
             </div>
          </div>
        
          <div class="clearfix secPoint">
             <div class="col-sm-4">
             	<img src="images/new/sec3.png" />
             </div>
             <div class="col-sm-8">
             	<h3>AWS Lock</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit
accusantium doloremque laudantium, totam rem aperiam,
quae ab illo inventore veritatis qui dolorem ipsum quia dolor sit amet</p>
             </div>
          </div>
        
          <div class="clearfix secPoint">
             <div class="col-sm-4">
                <img src="images/new/sec4.png" />
             </div>
             <div class="col-sm-8">
                <h3>256 bit Encryption</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit
    accusantium doloremque laudantium, totam rem aperiam,
    quae ab illo inventore veritatis qui dolorem ipsum quia dolor sit amet</p>
             </div>
          </div>
          
          <div class="clearfix secPoint">
             <div class="col-sm-4">
                <img src="images/new/sec5.png" />
             </div>
             <div class="col-sm-8">
                <h3>Bank Level Security</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit
    accusantium doloremque laudantium, totam rem aperiam,
    quae ab illo inventore veritatis qui dolorem ipsum quia dolor sit amet</p>
             </div>
          </div>
        </div>
        <div class="col-sm-12">
          <h2 class="arvo-b mrT6 pClr" style="margin-bottom:40px">Grab your 1 month free trial</h2>
          <a class="btn btn-primary btn-lg arvo" id="pBtn" href="/login">Try Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- home content end -->

  <!-- include footer -->
  <!-- footer start -->
  <section id="footer">
    <section id="contact">
      <div class="container">
        <div class="row pr">
          <div id="footer-mascot" class="visible-md-block visible-lg-block"></div>
          <div class="col-md-5">
            <h4 class="headerline">Contact Us</h4>
            
            <div class="social">
              <a ng-repeat="list in socialList" href="{{list.url}}">
                <div class="scicn {{list.class}}">{{list.name}}</div>
              </a>
            </div>

            <p>405-406, Capt. C. S. Naidu Arcade, Near Greater</p>
            <p>Kailash Hospital, 10/2 Old Palasia,</p>
            <p>Indore, Madhya Pradesh 452018</p>
            <p class="mrT3">
              Sales : shubhendra@giddh.com<br>
              Support: support@giddh.com<br>
              <i class="glyphicon glyphicon-phone"/>1800-3131-911 (toll free)
            </p>
            <div id="farzi"></div>
          </div>
          <div class="col-md-5 col-md-offset-2" ng-if="formSubmitted">
            <h4 class="headerline">{{responseMsg}}</h4>
          </div>
          <div class="col-md-5 col-md-offset-2" ng-hide="formSubmitted">
            <h4 class="headerline">Tell us!</h4>
            <form novalidate name="contactForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Full Name *</label>
                    <input name="contactForm.name" ng-model="cForm.name" type="text" required class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="message">Contact Number *</label>
                    <input class="form-control" type="text" name="contactForm.number" ng-model="cForm.number" ng-min="7" ng-max="12" required valid-number>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <label for="email">Email Address *</label>
                  <input name="contactForm.email" ng-model="cForm.email" type="email" required class="form-control">
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <label for="message">Message *</label>
                  <textarea name="contactForm.message" required ng-model="cForm.message" class="form-control"></textarea>
                </div>
              </div>

              <div class="control-group">
                <div class="form-group">
                  <div 
                    theme="'light'"
                    ng-model="cForm.myRecaptchaResponse">
                  </div>
                  <div 
                    vc-recaptcha
                    theme="'light'"
                    key="captchaKey"
                    ng-model="cForm.myRecaptchaResponse">
                  </div>
                </div>
              </div>

              <button ng-click="submitForm(cForm)" class="btn  btn-default btn-lg" type="submit" ng-disabled="contactForm.$invalid">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- end of contact -->
    <footer class="inconsolata">
      <div>
        <a href="/about">About us</a>|
        <a href="http://blog.giddh.com/" target="_Blank">Blog</a>|
        <a href="/terms">Terms of use</a>|
        <a href="/privacy">Privacy policy</a>|
        <a href="https://www.walkover.in/currentopening.php" target="_Blank">Work with us!</a>
      </div>

      <small>All right are reserved © 2020 Walkover <a href="https://giddh.com/" target="_Blank">Giddh.com</a></small>
    </footer>
  </section>

</body>
</html>