<!DOCTYPE HTML>
<html lang="en" ng-app='giddhApp'>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Do you feel accounting is tough to manage? Giddh will solve all your accounting related needs. Get a free invitation now."/>
  <meta name="keywords" content="Accounting softwares, online accounting software, Web Based Accounting Software"/>
  <title>Giddh ~ Accounting at its Rough! Angular js</title>
  <!-- LIBRARIES -->
  <script src='/bower_components/modernizr/modernizr.js'></script>
  <script src='/bower_components/jquery/jquery.min.js'></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/satellizer/satellizer.js"></script>
  <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/public/website/js/app.js"></script>
  <script src="/public/website/js/controller/versionController.js"></script>
  <script type="text/javascript" src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

  <!-- STYLE / THEME -->
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-toastr/dist/angular-toastr.min.css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/website/css/style-web.css" rel="stylesheet">
</head>
<body>

<div ng-controller="versionController">
  <section id="topSection">
    <ng-include src="'/public/website/views/header.html'"></ng-include>
    <!-- start of banner -->
    <div class="container othPage" id="banner">
      <div class="row">
        <div class="col-md-12 col-sm-12 alC">
          <h2 class="h2 mocha">
            {{version.banner.mainHead}} <br>
            {{version.banner.mainHead1}}
          </h2>

          <h3 class="h3 trumph">{{version.banner.subHead}}</h3>

          <div id="trywrap">
            <a href="/beta">
              <div id="try">
                <img border="0" ng-src="{{version.banner.banBtnImgSrc}}"
                     alt="{{version.banner.banBtnImgTitle}}"/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of banner -->
  </section>

  <section class="container" id="midSection">
    <ul class="ln" id="cmnul">
      <li class="col-md-4 col-sm-12" ng-repeat="list in version.middle.list">
        <h4 class="h4">{{list.title}}</h4>

        <p class="cmnp">{{list.details}}</p>
        <a href="javascript:;" class="readmore">Read more</a>
      </li>
    </ul>
  </section>
  <ng-include src="'/public/website/views/footer.html'"></ng-include>
</div>
</body>
</html>