<div class="pd2" ng-init="getTax()">
  <h3 class="fs16 mrB1">Create New Tax</h3>
  <div class="form-wrapper" style="max-width:460px">
    <form name="createTax"  novalidate >

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <input type="text" name="createTax.taxNumber" required ng-model="createTaxData.taxNumber" class="form-control" placeholder="Unique No.">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <input type="text" name="createTax.name" required ng-model="createTaxData.name" class="form-control" placeholder="Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <ui-select ng-model="typeOfTax" theme="bootstrap">
              <ui-select-match placeholder="Select type of TAX to add">
                <span>{{$select.selected}}</span>
              </ui-select-match >
              <ui-select-choices
                      repeat="val in typeOfTaxList | limitTo : 5 | filter: $select.search">
                <span ng-bind-html="val"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <ui-select ng-model="createTaxData.account" theme="bootstrap">
              <ui-select-match placeholder="Linked account">
                <span>{{$select.selected.name}}</span>
              </ui-select-match >
              <ui-select-choices
                  repeat="val in getParticularAccount($select.search) | limitTo : 5 | filter: $select.search">
                <span ng-bind-html="val.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <p class="text-danger mrB1" ng-if="noResultsTax"> No Result found <a href="javascript:void(0)" ng-click="addNewAccountBytaxes()">Create New Account</a></p>
      </div>


      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="mrB">-100 to 100</label>
            <input type="text" name="createTax.value" required ng-model="createTaxData.value" class="form-control" placeholder="Value"  maxlength="6">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="mrB">Apply Tax From:</label>
            <p class="input-group">
              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}" required
                     datepicker-options="dateOptions"
                     is-open="fromDatePickerIsOpen"
                     ng-click="fromDatePickerOpen()"
                     ng-model="fromTaxDate.date"
                     placeholder="from date"
                     name=""
                  />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
            </p>
          </div>
        </div>
      </div>
      <div class="row mrB1">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="mrB">Tax Duration:</label>
            <select
                required
                class="form-control"
                name="createTax.duration"
                ng-model="createTaxData.duration"
                ng-options="item for item in taxTypes">
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="mrB">Tax File Date:</label>
            <select
                required
                class="form-control"
                name="createTax.taxFileDate"
                ng-model="createTaxData.taxFileDate"
                ng-options="item for item in monthDays">
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block" type="submit" ng-disabled="createTax.$invalid" ng-click="createTax.$valid && addNewTax(createTaxData); isAddNewTax=true">Add</button>
      </div>
    </form>
    <!-- end of form -->
  </div>
  <!-- end of form wrapper -->
  <hr class="mrB1">
  <h3 class="fs16 mrB1" ng-if="taxList.length > 0">Added Taxes</h3>
  <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="20" min-scrollbar-length="20">
    <table class="taxTable table table-bordered" ng-if="taxList.length > 0">
      <thead>
      <th class="col-xs-2">Tax #</th>
      <th class="col-xs-2">Name</th>
      <th class="col-xs-3">Values</th>
      <th class="col-xs-2">Linked Ac</th>
      <th class="col-xs-2">Type</th>
      <th class="col-xs-1">Day</th>
      <th class="col-xs-1">Action</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in taxList track by $index">
        <td><input class="form-control" ng-class="{isNotEditable : !item.isEditable}" tpye="text" ng-model="item.taxNumber" ng-disabled="!item.isEditable"/></td>
        <td><input class="form-control" ng-class="{isNotEditable : !item.isEditable}" tpye="text" ng-model="item.name" ng-disabled="!item.isEditable"/></td>
        <td class="nopad">
          <table class="nopad inner-table" style="width:100%">
            <thead>
            <th class="col-xs-5">
              <div class="pdBth06">Date</div>
            </th>
            <th class="col-xs-5">
              <div class="pdBth06">Value</div>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="tax in item.taxDetail | orderBy: tax.date">
              <td>
                <input class="form-control" ng-class="{isNotEditable : !item.isEditable}" tpye="text" ng-model="tax.date" ng-disabled="!item.isEditable"/>
              </td>
              <td>
                <section class="form-inline">
                  <div class="form-group">
                    <input class="form-control" ng-class="{isNotEditable : !item.isEditable}" tpye="text" ng-model="tax.taxValue" ng-disabled="!item.isEditable"/>
                  </div>
                </section>
              </td>
              <td ng-if="item.isEditable">
                <div class="form-group" style="margin-bottom:0">
                  <i tooltip-placement="top" uib-tooltip="Add new row" class="glyphicon glyphicon-plus" ng-click="addNewSlabAfter(tax, $index)"></i>
                  <i tooltip-placement="top" uib-tooltip="Delete row" class="glyphicon glyphicon-minus" ng-click="removeSlab(tax, $index)" ng-if="item.taxDetail.length > 1"></i>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <td>
          <select ng-options="option.uniqueName as option.name for option in fltAccntListPaginated | searchAccountInPaginated:$viewValue" class="form-control" ng-class="{isNotEditable : !item.isEditable}" ng-model="item.account.uniqueName" ng-disabled="!item.isEditable" ng-if="item.isEditable">
          </select>
          <div class="pdBth06" ng-if="!item.isEditable && item.hasLinkedAcc">{{item.account.name}}</div>
          <span ng-if="!item.hasLinkedAcc && !item.isEditable">No Account Linked</span>
        <td>
          <select class="form-control" ng-class="{isNotEditable : !item.isEditable}" ng-model="item.duration" ng-disabled="!item.isEditable" ng-if="item.isEditable">
            <option ng-repeat="option in taxTypes">{{option}}</option>
          </select>
          <div class="pdBth06" ng-if="!item.isEditable">{{item.duration}}</div>
        </td>
        <td>
          <input class="form-control" ng-class="{isNotEditable : !item.isEditable}" tpye="text" ng-model="item.taxFileDate" ng-disabled="!item.isEditable"/>
        </td>
        <td class="tdfsbig">
          <div class="pdBth06">
            <a ng-click="editTax(item)" href="javascript:void(0)" ng-if="!item.isEditable"><i class="glyphicon glyphicon-pencil" tooltip-placement="top" uib-tooltip="Edit Tax" ></i></a>
            <a ng-click="updateTax(item)" href="javascript:void(0)" ng-if="item.isEditable" ><i class="glyphicon glyphicon-ok" tooltip-placement="top" uib-tooltip="Save Tax"></i></a>
            <a ng-click="deleteTaxconfirmation(item)" href="javascript:void(0)"><i class="glyphicon glyphicon-trash" tooltip-placement="top" uib-tooltip="Delete Tax"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- end of table -->
  </perfect-scrollbar>
  <script type="text/ng-template" id="editTaxModal.html">
    <div class="modal-header themeBg">
      <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">Edit Tax</h3>
    </div>
    <div class="modal-body">

      <div class="form-inline clearfix mrT1 mrB1" ng-repeat="tax in taxEditData.taxDetail track by $index">
        <div class="form-group mrR1">
          <input type="text" class="form-control max150" ng-model="tax.date" placeholder="dd-mm-yyyy">
        </div>
        <div class="form-group mrR1">
          <input type="text" class="form-control max150" ng-model="tax.taxValue" placeholder="%" format="percent"> %
        </div>
        <div class="form-group mrR1">
          <a ng-click="removeSlab(tax, $index)" href="javascript:void(0)">
            Remove
          </a>
        </div>
        <div class="form-group">
                  <span class="" uib-dropdown  auto-close="outsideClick">
                    <a href id="slab-dropdown" uib-dropdown-toggle>
                      Insert new slab <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="slab-dropdown">
                      <li>
                        <a ng-click="addNewSlabBefore(tax, $index)" href="javascript:void(0)">Before</a>
                      </li>
                      <li>
                        <a ng-click="addNewSlabAfter(tax, $index)" href="javascript:void(0)">After</a>
                      </li>
                    </ul>
                  </span>
        </div>
      </div>
      <!-- end repeat -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-sm" ng-click="updateTax()">Save</button>
      <!--     <button class="btn btn-warning btn-sm" ng-click="cancelUpdateTax()">Cancel</button> -->
    </div>
  </script>


</div>