<div id="shareModal">
<div id="getGroupModal" ng-controller="manageController as mc">

  <div class="modal-header themeBg pd2 pdL2 pdR2">
  <i class="fa fa-times text-right close_modal" class="close" data-dismiss="modal" ng-click="$dismiss(); search.flataccount = ''" aria-label="Close" aria-hidden="true"></i>
    <span class="col-xs-6 row">
      <h3 class="modal-title bg pdT">Manage Groups & Accounts</h3>
    </span>
    <div class="pull-right mrR2">
      <div class="form-inline">
        <div class="form-group">

          <div class="input-group searchBar">

            <div class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </div>

            <input type="text" name="grpSrch" class="form-control" ng-model="keyWord" placeholder="Search accounts" ng-keyup="setScrollToTop(grpSrch, 'addMngGrpScrBar')" trial-accordion="search" ng-model-options="{debounce:1000}">
            

          </div>
        </div>
      </div><!-- form-inline -->
    </div>
  </div>
  <!-- end header -->

  <div class="modal-body noPad">
    <!-- assets list -->
<!--       <div class="col-xs-2 assets_list">
        <div class="row">
          <ul class="grp_list">
             

             <li ng-repeat="grp in mc.groupList | orderBy: 'category'">
              <a href="javascript:void(0)" id="grp_{{grp.name}}" ng-bind-html="grp.name | uppercase" ng-click="mc.selectItem(grp); mc.getSelectedType('grp');mc.selectActiveItems(grp, 'grp', $index)" uib-tooltip="{{grp.synonyms}}" tooltip-placement="right" ng-class="{isSelectedgrp: col.active.type == 'grp' && col.active.index == $index}"></a>
            </li>
            
          </ul>
        </div>
      </div> -->
    <!-- assets list end -->


    <!-- list of groups -->
    <div class="col-xs-7 grp_col bdrL bdrR">
      <div class="search-loading" ng-hide="mc.showListGroupsNow">
        <span class="spinner small"></span> Loading…
      </div>
      <div class="row grp_col">
      <ul>
        <li ng-repeat="ass in mc.mainGrp">
        <a href=""  ng-bind-html="ass.name"></a>
         </li>
      </ul>
      
      <div class="grp_wrapper">

        <!-- level 1 -->
      <div class="col_wrapper" ng-repeat="col in mc.columns">

        <ul class="grp_list">
          <li ng-if="$first"><a href="javascript:void(0);">Show All</a></li>
          <li ng-repeat="grp in col.groups">
            <a href="javascript:void(0);" class="" id="subGrp_{{grp.name}}" ng-bind-html="grp.name | capitalize" ng-click="mc.selectItem(grp, $index, $parent.$index); mc.getSelectedType('grp');mc.selectActiveItems(col, 'grp', $index)" uib-tooltip="{{grp.synonyms}}" tooltip-placement="right" ng-class="{isParent:col.active.type == 'grp' && col.active.index == $index, isActive:col.active.type == 'grp' && col.active.index == $index && mc.breadCrumbList[mc.breadCrumbList.length-1].uniqueName == grp.uniqueName}"></a>
          </li>

          <li ng-repeat="acc in col.accounts">
            <a href="javascript:void(0);" class="isAcc" id="acc_{{acc.name}}" ng-bind-html="acc.name | capitalize" ng-click="mc.getAccDetail(acc, $parent.$index); mc.getSelectedType('acc');mc.selectActiveItems(col, 'acc', $index)" uib-tooltip="{{acc.synonyms}}" tooltip-placement="right" ng-class="{isParent:col.active.type == 'acc' && col.active.index == $index, isActive:col.active.type == 'acc' && col.active.index == $index && mc.breadCrumbList[mc.breadCrumbList.length-1].uniqueName == acc.uniqueName}"></a>
          </li>

          <li><a href="javascript:void(0)" class="btn-add" ng-click="mc.createNewGrpAccount($index)">Create new</a></li>
        </ul>
      </div>
    <!-- level 1 -->


    </div>
    </div>
    </div>
    <!-- list of groups end -->
    
    <!-- form view -->
    <div class="col-xs-5 form_box">
      <div class="row">

      <div class="breadcrumbs pdL2 pdT1 pdR2 pdB1">
        <div class="pull-left pdT1 col-xs-8 pdL0">
          <ol class="breadcrumb mrB2" ng-if="mc.breadCrumbList.length">
            <li ng-repeat="(key,value) in mc.breadCrumbList" ng-class="{active:$last}">
              <a href="javascript:void(0)" ng-click="mc.jumpToGroup(value.uniqueName, groupList)">{{value.name}}
              </a>
            </li>
          </ol>
        </div>
        <div ng-if="mc.showOnUpdate && canUpdate">
          <div class="pull-right col-xs-4 pdR0" ng-if="canShare && mc.selectedType == 'acc' && !mc.createNew"> <button class="btn isActive pull-right" ng-click="mc.shareAccModal()">Share</button> <div class="primary_clr text-right pull-right mrT1" ng-if="mc.accountSharedUserList.length">Shared with {{mc.accountSharedUserList.length}} people</div> </div>

            <div class="pull-right col-xs-4 pdR0" ng-if="canShare && mc.selectedType == 'grp' && !mc.createNew"> <button class="btn isActive pull-right" ng-click="mc.shareGrpModal()">Share</button> <div class="primary_clr text-right pull-right mrT1" ng-if="mc.groupSharedUserList.length">Shared with {{mc.groupSharedUserList.length}} people</div> </div>
        </div>
      </div>


      <!--  switch button -->
        <div class="inline-table new_form" ng-if="mc.createNew">
          <div class="vcenter">
            <button class="btn isActive mrB2" ng-click="mc.getSelectedType('grp')">Create Group</button>
            <span class="clearfix"></span>
            <button class="btn isActive" ng-click="mc.getSelectedType('acc')">Create A/c</button>
          </div>
        </div>
      <!--  -->

        <div ng-include="'/public/webapp/NewManageGroupsAndAccounts/accountOperations.html'" ng-if="mc.selectedType == 'acc' && !mc.createNew"></div>
        <div ng-include="'/public/webapp/NewManageGroupsAndAccounts/groupOperations.html'" ng-if="mc.selectedType == 'grp' && !mc.createNew"></div>

      </div> <!-- row -->
    </div>  <!-- col-xs-5 -->


  </div>
  <!-- end modal body -->


</div>
</div>