files:
    "/tmp/01_set_deployment_permissions.sh":
        mode: 755
        owner: nodejs
        group: nodejs
        content: |
            #! /bin/bash
            sudo chown -R nodejs:nodejs /tmp/deployment/

container_commands:
    00_run_command:
        command: "/tmp/01_set_deployment_permissions.sh"
