files:
    "/tmp/01_set_deployment_permissions.sh":
        mode: 755
        owner: ec2-user
        group: ec2-user
        content: |
            #! /bin/bash
            sudo chown -R ec2-user:ec2-user /tmp/

container_commands:
    00_run_command:
        command: "/tmp/01_set_deployment_permissions.sh"
