<style type="text/css">
	.invoice-wrapper-m {
	  background: #d9edf7;
	  display: block;
	  margin: 0 auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	  padding:10px;
	}
	.invoice-wrapper-m.a4{  
	  width: 21cm;
	  height: 29.7cm; 
	}
	.invoice-widget{
		height:200px;
		width:200px;
		background:#fff;
		position: relative;
		padding:5px;;
	}
	.invoice-widget i.glyphicon{
		position: absolute;
		right:10px;
		top:10px;
	}
	.invoice-input{
		height: 100%;
		width:100%;
		padding:5px;
		margin:0;
		background: transparent;
	}
	.invoice-input.hidden{
		display:none;
	}
	.invoice-input textarea{
		height: 100%;
		width:100%;
		margin:0;
		border:0;
	}
	.widget-text{
	}
</style>

<div class="pd2" ng-controller="settingsInvoiceController as ctrl">

	<div class="clearfix mrB2">
		<button ng-click="ctrl.showAddTemplate()" class="btn btn-primary">Add New Template</button>
	</div>

	<div ng-if="ctrl.showTemplate" class="clearfix">

		<div class="alert alert-info mrB1" role="alert">
			For make text bold use #b and end with #b.
		</div>

    <div class="row">
      <div class="col-md-12">
	    <section id="invoice-wrapper" class="col-xs-12 col-sm-10 col-md-8">
	      	<div class="clearfix pdB2 form-inline">
	      		
	      		<div class="form-group">
	      			<input type="text" name="ctrl.templateName" ng-model="ctrl.templateName" placeholder="Template Name" class="form-control">
	      		</div>
	      		<div class="form-group">
			      	<button ng-disabled="ctrl.templateName === undefined" class="btn btn-success" ng-click="ctrl.saveTemplate()" href="javascript:void(0)">Save Template</button>
			      </div>

			      <div class="form-group pull-right">
			      	<a class="btn btn-primary" ng-click="ctrl.addWidget()" href="javascript:void(0)">Add Widget</a>
			      </div>
			      <div class="form-group pull-right">
				      <select
			          required
			          class="form-control"
			          name="ctrl.tempType"
			          ng-model="ctrl.tempType"
			          ng-options="item for item in ctrl.tempTypes">
				      </select>
				    </div>
				    
			  </div>
			<div class="invoice-wrapper-m a4">
				<div gridster="ctrl.gridsterOptions">
					<ul>
						<li class="invoice-widget" ng-repeat="item in ctrl.widgets | orderBy:row:true" gridster-item row="item.row" col="item.col" size-x="item.sizeX" size-y="item.sizeY">
							<div class="invoice-input" ng-class="{hidden:!item.edit}">
								<trix-editor ></trix-editor>
							</div>
							<p class="widget-text" ng-bind="item.data" ng-show="!item.edit"></p>
							<i class="glyphicon glyphicon-edit" ng-hide="item.edit" ng-click="item.edit = true"></i>
							<i class="glyphicon glyphicon-ok" ng-show="item.edit" ng-click="item.edit = false"></i>
							<trix-editor ></trix-editor>
						</li>
					</ul>
				</div>
			</div>
		</section>

      </div>
    </div>
    <!-- end row -->


	</div>

</div>