
<div class="pd2" ng-controller="settingsInvoiceController as ctrl">

	<div class="clearfix mrB2">
		<button ng-click="ctrl.showAddTemplate()" class="btn btn-primary">Add New Template</button>
	</div>

	<div ng-if="ctrl.showTemplate" class="clearfix">

		<div class="alert alert-info mrB1" role="alert">
			For make text bold use #b and end with #b.
		</div>

    <div class="row">
      <div class="col-md-12">
	    <section id="invoice-wrapper">
	      	<div class="clearfix pdB2 form-inline">
	      		
	      		<div class="form-group">
	      			<input type="text" name="ctrl.templateName" ng-model="ctrl.templateName" placeholder="Template Name" class="form-control">
	      		</div>
	      		<div class="form-group">
			      	<button ng-disabled="ctrl.templateName === undefined" class="btn btn-success" ng-click="ctrl.saveTemplate()" href="javascript:void(0)">Save Template</button>
			      </div>

			      <div class="form-group pull-right">
			      	<a class="btn btn-primary" ng-click="ctrl.addWidget()" href="javascript:void(0)">Add Widget</a>
			      </div>
			      <div class="form-group pull-right mrR1">
				      <select
			          required
			          class="form-control"
			          name="ctrl.tempType"
			          ng-model="ctrl.tempType"
			          ng-options="item for item in ctrl.tempTypes">
				      </select>
				    </div>
				    
			  </div>

			<div class="invoice-wrapper-m a4">
				<div gridster="ctrl.gridsterOptions">
					<ul>
						<li class="invoice-widget" ng-repeat="item in ctrl.widgets | orderBy:row:true" gridster-item row="item.row" col="item.col" size-x="item.sizeX" size-y="item.sizeY">
							<div class="move-widget"  ng-if="!item.edit"></div>
							<i class="glyphicon glyphicon-edit" ng-hide="item.edit" ng-click="item.edit = true"></i>
							<i class="glyphicon glyphicon-ok" ng-show="item.edit" ng-click="item.edit = false"></i>
							<i class="glyphicon glyphicon-remove" ng-click="ctrl.removeWidget(item)"></i>
							<div ng-if="item.type != 'Image'">
								<div class="invoice-input" ng-class="{hidden:!item.edit}">
								 	<textarea ng-model="item.data" mentio 
									 mentio-typed-text="typedTerm" 
									 mentio-items="ctrl.people | filter:label:typedTerm"
									 ng-keypress="ctrl.modifyInput(item.data, $event)">
									 </textarea>
								</div>
								<p class="widget-text" ng-bind-html="item.data" ng-show="item.edit"></p>
							</div>
							  <div ng-if="item.type === 'Image' && item.edit" class="mrT2" style="position: relative;">
							 		<form class="form-inline" enctype="multipart/form-data">
							      <div class="form-group" ng-hide="item.uploadFile">
						          <button type="file" 
						            ng-model="item.uploadFile"
						            class="btn btn-primary" 
						            ngf-select="ctrl.uploadImages($files,'logo')"
						            ngf-pattern="image/*"
						            accept="image/*"
						            ngf-max-size="200KB"
						            ngf-multiple="false"
						          >
						            <i class="glyphicon glyphicon-folder-open"></i> 
						            &nbsp; Upload Logo</button><br/>
						          <small>* Image size should be max 200KB</small>
							      </div>
							      <div class="form-group" ng-if="item.uploadFile">
							        <img ngf-src="item.uploadFile" class="thumb">
							        <a href="javascript:void(0)" ng-click="item.uploadFile = null">Reset Logo</a>
							      </div>
							    </form>
							  </div>
						</li>
					</ul>
				</div>
			</div>
		</section>

      </div>
    </div>
    <!-- end row -->


	</div>

</div>