 <section id="eledgerwrap" class="pdL2 pdR2">
  <div class="alert alert-danger fade in pr" style="padding-right:15px"> 
    <button type="button" ng-click="hideEledger()" class="close" >
      <span style="font-size:12px;font-weight:normal" trigger-resize>Close</span>
    </button> 
    
    <table class="table ledgerTable" style="margin-bottom:0">
      <thead>
        <th class="nopad" colspan="6">
          <div class="clearfix ldgTheadL">
            <h3 class="ledgerHead">
              <span>Transactions from mapped account</span>
            </h3>
          </div>
        </th>
      </thead>
      <!-- end main thead -->
      <tbody>
      <tr>
        <td class="nopad bdrL bdrR" style="width:50%" colspan="3">
          <table class="table">
            <thead>
              <tr class="splBg">
                <th colspan="100%">Debit (Dr)</th>
              </tr>
              <tr class="dgreyBg">
                <th width="28%">Date <span class="small">(DD-MM-YYYY)</span></th>
                <th width="44%">Particular</th>
                <th width="28%" class="alR">Amount</th>
              </tr>
            </thead>

            <tbody class="ledgerBodyContent" id="">

              <tr>
                <td class="nopad" colspan="100%">
                  <table class="eledger-inner" ng-repeat="eledger in eLedgerData">
                    <tbody>
                      <tr ng-repeat="txn in eledger.transactions" ng-if="txn.type == 'DEBIT'" ng-click="selectTxn(eledger, txn, $index, $event)"   uib-popover-template="popover.templateUrl" popover-trigger="outsideClick" popover-placement="bottom" popover-append-to-body='true' popover-enable="!popover.draggable" popover-is-open="txn.isOpen && showLedgerPopover" popover-popup-delay="200">
                        <!--<td class="col-xs-1 maxW42" ng-click="$event.stopPropagation()">-->
                          <!--<input type="checkbox" ng-model="txn.isSelected" ng-change="selectMultiple(ledger, txn, $index)" ng-click="$event.stopPropagation()">-->
                        <!--</td>-->
                        <td class="col-xs-3">
                          <input class="form-control background-transparent" ng-model="eledger.entryDate" ng-disabled="true">
                        </td>
                        <td class="col-xs-5">
                          <!--<input class="form-control" ng-model="txn.particular" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-append-to-body="true" ng-focus="openClosePopoverForLedger(txn, ledger);openClosePopoverForeLedger(txn, ledger);openClosePopoverForBlankLedger(txn, ledger)" typeahead-template-url="accountPopUp.html">-->
                          <input class="form-control" ng-model="txn.particular" typeahead-append-to-body="true" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-template-url="accountPopUp.html" ng-focus="openClosePopoverForLedger(txn, ledger);openClosePopoverForeLedger(txn, ledger);openClosePopoverForBlankLedger(txn, ledger)" ng-model-options="{debounce: 200}">
                        </td>
                        <td class="col-xs-3">
                          <input class="form-control background-transparent" ng-model="txn.amount" ng-disabled="true" ng-keyup="triggerPanelFocus($event)">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>

          </table>
        </td>
        <!-- main left td end here -->
        <td class="nopad bdrL bdrR" style="width:50%" colspan="3">
          <table class="table">
            <thead>
              <tr class="splBg">
                <th colspan="100%">Credit (Cr)</th>
              </tr>
              <tr class="dgreyBg">
                <th width="28%">Date <span class="small">(DD-MM-YYYY)</span></th>
                <th width="44%">Particular</th>
                <th width="28%" class="alR">Amount</th>
              </tr>
            </thead>
            <tbody class="ledgerBodyContent" id="">
              <tr>
                <td class="nopad" colspan="100%">
                  <table class="eledger-inner" ng-repeat="eledger in eLedgerData">
                    <tbody>
                      <tr ng-repeat="txn in eledger.transactions" ng-if="txn.type == 'CREDIT'" ng-click="selectTxn(eledger, txn, $index, $event)"   uib-popover-template="popover.templateUrl" popover-trigger="outsideClick" popover-placement="bottom" popover-append-to-body='true' popover-enable="!popover.draggable" popover-is-open="txn.isOpen && showLedgerPopover"  popover-popup-delay="200">
                        <!--<td class="col-xs-1 maxW42" ng-click="$event.stopPropagation()">-->
                          <!--<input type="checkbox" ng-model="txn.isSelected" ng-change="selectMultiple(ledger, txn, $index)" ng-click="$event.stopPropagation()">-->
                        <!--</td>-->
                        <td class="col-xs-3">
                          <input class="form-control background-transparent" ng-model="eledger.entryDate" ng-disabled="true">
                        </td>
                        <td class="col-xs-5">
                          <!--<input class="form-control" ng-model="txn.particular" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-append-to-body="true" ng-focus="openClosePopoverForLedger(txn, ledger);openClosePopoverForeLedger(txn, ledger);openClosePopoverForBlankLedger(txn, ledger)" typeahead-template-url="accountPopUp.html">-->
                          <input class="form-control" ng-model="txn.particular" typeahead-append-to-body="true" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-template-url="accountPopUp.html" ng-focus="openClosePopoverForLedger(txn, ledger);openClosePopoverForeLedger(txn, ledger);openClosePopoverForBlankLedger(txn, ledger)" ng-model-options="{debounce: 200}">
                        </td>
                        <td class="col-xs-3">
                          <input class="form-control background-transparent" ng-model="txn.amount" ng-disabled="true">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <!-- main right td end here -->
      </tr>
      </tbody>
      <!-- end main tbody -->
      <tfoot>
        <tr class="fw600 dgreyBg">
          <td colspan="2" class="bdrL" style="width:36%">
            <div class="pull-right" ng-if="eLedgType == 'CREDIT'">
              C/F Balance
            </div>
          </td>
          <td style="width:14%" class="bdrR alR">
            <span ng-if="eLedgType == 'CREDIT'">{{eDrBalAmnt | number:2}}</span>
          </td>
          <td colspan="2" style="width:36%" class="bdrL">
            <div class="pull-right" ng-if="eLedgType == 'DEBIT'">
              C/F Balance
            </div>
          </td>
          <td style="width:14%" class="bdrR alR">
            <span ng-if="eLedgType == 'DEBIT'">{{eCrBalAmnt | number:2}}</span>
          </td>
        </tr>
        <tr class="total greyBg">
          <td colspan="2" style="width:36%" class="bdrL">
            <span class="pull-right">Total</span>
          </td>
          <td style="width:14%" class="bdrR alR">
            <span>{{eDrTotal | number:2}}</span>
          </td>
          <td colspan="2" style="width:36%" class="bdrL">
            <span class="pull-right">Total</span>
          </td>
          <td style="width:14%" class="bdrR alR">
            <span>{{eCrTotal | number:2}}</span>
          </td>
        </tr>
      </tfoot>
      <!-- end main tfoot -->
    </table>
  </div>
  </section>