
<div class="loader mrT4" ng-if="lc.showLoader && lc.accountUnq.length">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<!-- <div class="col-xs-12 mrT4" ng-if="lc.accountUnq.length && lc.showLoader || lc.savedLedgers < lc.totalLedgers">
  <uib-progressbar class="progress-striped active" max="lc.progressBar.max" value="lc.progressBar.value" type="{{lc.progressBar.type}}">
    <i>
      <span ng-show="lc.showLoader">Fetching Ledgers..</span>
      <span ng-show="!lc.showLoader">{{lc.savedLedgers}} / {{lc.totalLedgers}} ledgers loaded</span>
    </i>
  </uib-progressbar>
</div> -->

<!-- <div class="page-loader" ng-show="lc.accountUnq.length != '' && lc.showLoader">
  <div class="giddh-spinner vertical-center-spinner"></div>
</div> -->

<section class="alert alert-info mrL2 mrR2 mrT2" ng-show="lc.showLoader && lc.accountUnq.length == 0">
  Please select an Account to load its Ledger
</section>

<div id="ledger" class="oyAuto" ng-show="!lc.showLoader" cover-page ng-class="{'mtop-neg-54':!flyAccounts}">
 <!-- <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height  additional-height="85" on-scroll="onledgerScroll(scrollTop, scrollHeight, event)" id="mainLedgerContent" > -->

    <section class="container-fluid" ng-if="lc.accountUnq.length > 0">
      <div class="pdT1">
        <div class="ledger-top-panel clearfix" ng-class="{'while-panel':lc.showPanel, 'mLeft295':!flyAccounts}" ng-hide="lc.showPanel">
          <div class="form-inline pdB1 ledgHead">
            <form name="fromToDateForm" novalidate class="form-group mrR1 pull-left">
              <div class="form-group">
              <!--   <label>From</label> -->

                <p class="input-group maxW110">
                  <input type="text" class="form-control"
                         uib-datepicker-popup="{{lc.format}}" required
                         datepicker-options="dateOptions"
                         is-open="lc.fromDatePickerIsOpen"
                         ng-click="lc.fromDatePickerOpen()"
                         ng-model="lc.fromDate.date"
                         max-date="lc.today"
                         placeholder="from date"
                          />
              <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i-->
                    <!--class="glyphicon glyphicon-calendar"></i></button>-->
              <!--</span>-->
                </p>
              </div>
              <div class="form-group">
                <label>to</label>

                <p class="input-group maxW110">
                  <input type="text" class="form-control"
                         uib-datepicker-popup="{{lc.format}}" required
                         datepicker-options="lc.dateOptions"
                         is-open="lc.toDatePickerIsOpen"
                         ng-click="lc.toDatePickerOpen()"
                         ng-model="lc.toDate.date" min-date="lc.fromDate.date" max-date="lc.today" placeholder="to date"
                         />
              <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="toDatePickerOpen()"><i-->
                    <!--class="glyphicon glyphicon-calendar"></i></button>-->
              <!--</span>-->
                </p>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-default mrL1" ng-click="lc.getLedgerData()" ng-disabled="fromToDateForm.$invalid">
                  GO
                </button>
<!--                 <button type="button" class="btn btn-default mrL1" ng-click="lc.readLedgers(lc.accountToShow.uniqueName, 1, 'next')" >
                  READ LEDGER
                </button> -->
              </div>

            </form>


            <div class="form-group mrL1 pull-right maxW150 pos-rel" >
              <input type="search" class="form-control maxW150" placeholder="Search ledger" ng-model="lc.query" ng-keyup="lc.countTotalTransactionsAfterSomeTime()" ng-model-options="{debounce: 1000}" ng-change="lc.filterLedgers(lc.accountToShow.uniqueName, lc.query, 1)">
              <i class="glyphicon glyphicon-search pos-abs"  style="right:5px;top:10px;"></i>
            </div>
          
            <div option-list>
              <a id="showHide" class="pull-right mrL1" href="javascript:void(0)">
                <i class="glyphicon glyphicon-th-list"></i>
              </a>
              <div class="ol-options">

                <!-- <a class="pull-right" href="javascript:void(0)" title=""  uib-tooltip="Show List" tooltip-placement="left" ng-click="showImportList()" >
                  <i class="glyphicon glyphicon-list-alt" ></i>
                </a> -->

                <div class="form-group pull-right mrL1 pdf-export">
                  <a class="pull-right" href="javascript:void(0)" title=""  uib-tooltip="Export" tooltip-placement="right" ng-click="lc.exportOptions()" >
                    <i class="glyphicon glyphicon-cloud-download pull-right" ></i>
                  </a>
                  <div class="export-ledger-options" ng-show="lc.showExportOption">
                    <span class="arrow"></span>
                    <ul class="list-unstyled">
                      <li ng-click="lc.exportLedger('detailed')">Detailed</li>
                      <li ng-click="lc.exportLedger('condensed')">Condensed</li>
                    </ul>
                  </div>
                </div>

                <!-- <form class="pull-right mrL1" enctype="multipart/form-data">
                  <a class="" type="file" ngf-select="importLedger($files, $invalidFiles)" accept=".xls, .xlsx" ngf-max-size="100MB" ng-disabled="!canUpdate">
                     <i class="glyphicon glyphicon-copy" uib-tooltip="Import" tooltip-placement="left"></i>
                  </a>
                </form> -->


                <span class="pull-right mrL1" uib-dropdown  auto-close="outsideClick">
                  <a href id="simple-dropdown" uib-dropdown-toggle>
                    <i uib-tooltip="Send Ledger" tooltip-placement="right" class="glyphicon glyphicon-envelope" ></i>
                  </a>
                  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li>
                      <form class="form-group pd1" name="ledgerEmailSendForm" novalidate>
                        <div class="mrB1">
                          <textarea ng-model="lc.ledgerEmailData.email" required name="ledgerEmailSendForm.email" class="form-control" placeholder="Recipents Email Id's"></textarea>
                        </div>
                        <ul class="list-unstyled email-type">
                            <li>
                              <label><input type="radio" ng-model="lc.ledgerEmailData.emailType" name="emailType" value="view-detailed">view-detailed</label>
                            </li>
                            <li>
                              <label><input type="radio" ng-model="lc.ledgerEmailData.emailType" name="emailType" value="view-condensed">view-condensed</label>
                            </li>
                            <li ng-if="canUpdate">
                              <label><input type="radio" ng-model="lc.ledgerEmailData.emailType" name="emailType" value="admin-detailed">admin-detailed</label>
                            </li>
                            <li ng-if="canUpdate">
                              <label><input type="radio" ng-model="lc.ledgerEmailData.emailType" name="emailType" value="admin-condensed">admin-condensed</label>
                            </li>
                        </ul>
                        <button ng-disabled="ledgerEmailSendForm.$invalid" class="btn btn-primary btn-sm mrT1" ng-click="lc.sendLedgEmail(lc.ledgerEmailData.email, lc.ledgerEmailData.emailType)">Send Email</button>
                      </form>
                    </li>
                  </ul>
                </span>

                <a class="pull-right mrL1" href="javascript:void(0)" title=""  uib-tooltip="Generate Magic Link" tooltip-placement="left" ng-click="lc.getMagicLink()">
                  <i class="glyphicon glyphicon-link pull-right"></i>
                </a>

<!--                 <a class="pull-right mrL1" style="margin-top:9px">
                  <div ng-click="togglePopoverDrag()">
                    <switch ng-model="popover.draggable" class="small" uib-tooltip="Switch between draggable and fixed popover. " tooltip-placement="bottom" ></switch>
                  </div>
                </a> -->
                <a class="pull-right mrL1" ng-if="elc.ledgerData.length > 0" style="margin-top:9px">
                  <div ng-click="lc.mergeBankTransactions(lc.mergeTransaction)">
                    <switch  ng-model="lc.mergeTransaction" class="small" uib-tooltip="Merge/Unmerge bank transactions with ledger" tooltip-placement="bottom" ></switch>
                  </div>
                </a>
                <a class="pull-right mrL1" style="margin-top:9px">
                  <div ng-click="lc.updateEntrySettings(lc.entrySettings.status)">
                    <switch  ng-model="lc.entrySettings.status" class="small" uib-tooltip="Turn default date on for ledgers" tooltip-placement="bottom" ></switch>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="mrB1" ng-repeat="f in impLedgFiles" style="font:smaller" ng-hide="impLedgBar">
            <uib-progressbar class="progress-striped active" value="f.progress" type="success">{{f.progress}}%</uib-progressbar>
          </div>  
        </div>
        <div ng-include="'panel'" ng-if="lc.showPanel" left-margin></div>
        <div>
          <!--ledger table start-->
          <!-- <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height on-scroll="onledgerScroll(scrollTop, scrollHeight, event)" id="mainLedgerContent" >  --> 
          <!-- external ledger code here -->
          <section class="mrT1" ng-if="elc.ledgerData.length > 0 && lc.showEledger">
            <div ng-include="'/public/webapp/Ledger/eLedger.html'"></div>
          </section>
          <!-- external ledger code end here -->

          <div class="clearfix ledger-container" ng-class="{'ledger-container-w paddingTop200':lc.showPanel && flyAccounts, 'ledger-container-w paddingTop120': lc.showPanel && !flyAccounts}" cover-page>
            <!--ledger table head 1-->
            <table class="col-xs-12 ledger-head">
              <thead>
                <tr class="t-h-bg1">
                  <th class="col-xs-6">Debit - {{lc.accountToShow.name}} is receiving</th>
                  <th class="col-xs-6">Credit - {{lc.accountToShow.name}} is giving</th>
                </tr>
              </thead>
            </table>
            <div class="ledger-table-body clearfix">
              <!--left column-->
              <div class="left-col">
                  <!--ledger table body debit section-->
                  <section class="col-xs-12 pad0 bdr-w-t h100">
                    <table class="width100 ledger-header">
                      <thead>
                        <tr class="t-h-bg2">
                          <!-- <th class="col-xs-1"></th> -->
                          <th class="col-xs-2">
                            <span ng-click="lc.sortOrder.debit = lc.sortDirectionInvert(lc.sortOrder.debit)" class="cursor-pointer">
                              <i class="glyphicon glyphicon-sort-by-order-alt" ng-if="lc.sortOrder.debit == lc.sortDirection.desc"></i>
                              <i class="glyphicon glyphicon-sort-by-order" ng-if="lc.sortOrder.debit == lc.sortDirection.asc"></i>
                              Date
                            </span>
                            <!-- <i class="glyphicon glyphicon-sort pull-left mrL"></i> -->
                          </th>
                          <th class="col-xs-5">Paticular</th>
                          <th class="col-xs-5">
                            <!-- <span class="col-xs-6 pad0" ng-if="lc.accountToShow.stock != null">Qty</span> -->
                            <!-- <span class="pad0" ng-class="{'col-xs-6':lc.accountToShow.stock != null, 'col-xs-12':lc.accountToShow.stock == null}">Amount</span> -->
                            Amount
                          </th>
                        </tr>
                        <tr class="bg3">
                          <th colspan="12" class="col-xs-12 text-right bdr-w-t h32">
                            <span class="pull-left tcount">Total Transactions: {{lc.dNonemptyTxn}}</span>
                            <span ng-if="lc.ledgerData.forwardedBalance.type == 'DEBIT' && lc.ledgerData.forwardedBalance.amount > 0">Opening Balance : {{lc.ledgerData.forwardedBalance.amount | number:2}}</span>
                            <!-- <span ng-if="lc.ledgerData.forwardedBalance.type == 'CREDIT'">B/F : 0</span> -->
                          </th>
                        </tr>
                      </thead>
                    </table>
                    <!-- <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height on-scroll="onScrollDebit(scrollTop, scrollHeight, event)" id="mainLedgerContent" additional-height="84" min-height="600" > -->
                    <div class="col-container" 
                      ledger-scroller
                      column-scroller 
                      data-scrolled="lc.onScrollDebit(top, height, position)" 
                      data-scrollto="lc.drMatch">
                      <table class="width100">
                        <tbody>

                          <!--Add entry row for normal order-->
                          <tr>
                            <td colspan="100">
                              <table class="width100">
                                <tbody>
                                  <tr
                                    class="txn-row"
                                    ng-class="{compoundEntry: lc.blankLedger.isCompoundEntry}"
                                    ng-repeat="txn in lc.blankLedger.transactions"
                                    ng-if="txn.type == 'DEBIT'"
                                    uib-popover-template="lc.popover.templateUrl" 
                                    popover-trigger="outsideClick" 
                                    popover-placement="{{lc.popover.position}}" 
                                    popover-append-to-body='true' 
                                    popover-enable="!lc.popover.draggable" 
                                    popover-is-open="txn.isOpen"
                                    popover-popup-delay="200"
                                    set-popover-position
                                    ng-click="$event.stopPropagation()"
                                    >
                                    <td class="col-xs-2">
                                      <input type="text" 
                                      ng-model="lc.blankLedger.entryDate"
                                      ng-focus="lc.slctxn(lc.blankLedger, txn, $event)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input type="text" ng-model="txn.particular"
                                      typeahead-append-to-body="true" 
                                      uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:lc.isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25"
                                      typeahead-template-url="accountPopUp.html"
                                      ng-focus="lc.slctxn(lc.blankLedger, txn, $event)">
                                    </td>
                                    <td class="col-xs-5 pos-rel">
                                      <input type="number"
                                        placeholder="Quantity"
                                        ng-if="lc.accountToShow.stock != null || txn.particular.stock != null"
                                        class="form-control background-transparent pull-left bdrR bdrR0"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null}"
                                        ng-model="txn.inventory.quantity"
                                        ng-focus="lc.slctxn(lc.blankLedger, txn, $event)"
                                        ng-change="lc.onValueChange('qty' , txn)">
                                      <span class="pa rate" ng-if="accountToShow.stock != null || txn.particular.stock != null && txn.rate > 0 || txn.particular.stock.rate > 0">
                                        x{{txn.rate || txn.particular.stock.rate || lc.accountToShow.stock.rate | number:4 }}
                                        <span ng-if="lc.accountToShow.stock.openingStockUnitName || txn.particular.stock.openingStockUnitName || txn.inventory.unit.name">
                                          /{{lc.accountToShow.stock.openingStockUnit.shortCode || txn.particular.stock.openingStockUnit.shortCode || txn.inventory.unit.code}}
                                        </span>
                                      </span>
                                      <input type="number"
                                        class="form-control text-right pdR3"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null, 'pull-left':lc.accountToShow.stock != null || txn.particular.stock != null, 'pdl1imp':lc.accountToShow.stock != null || txn.particular.stock != null}" 
                                        ng-model="txn.amount"
                                        ng-focus="lc.slctxn(lc.blankLedger, txn, $event)"
                                        ng-change="lc.onValueChange('amount', txn)">                                     
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <!--ledgers-->
                          <tr 
                            id="{{value.uniqueName}}"
                            ng-repeat="(key, value) in lc.dLedgerContainer.ledgerData | orderObjectBy : 'lIndex' : lc.sortOrder.debit == lc.sortDirection.desc"
                            ng-dblclick="lc.getMatchingTxn(value, 'CR')">
                            <td colspan="100">
                              <table class="width100">
                                <tbody>
                                  <tr
                                    class="txn-row"
                                    ng-class="{compoundEntry: value.isCompoundEntry, uncEntry : value.unconfirmedEntry}"  
                                    ng-repeat="txn in value.transactions"
                                    ng-if="txn.type == 'DEBIT'"
                                    uib-popover-template="lc.popover.templateUrl" 
                                    popover-trigger="outsideClick" 
                                    popover-placement="{{lc.popover.position}}" 
                                    popover-append-to-body='true' 
                                    popover-enable="!lc.popover.draggable" 
                                    popover-is-open="txn.isOpen"
                                    popover-popup-delay="200"
                                    set-popover-position
                                    ng-click="$event.stopPropagation()">
                                    <td class="col-xs-2">
                                      <input type="text" 
                                      ng-model="value.entryDate"
                                      ng-focus="lc.slctxn(value, txn, $event)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input type="text" ng-model="txn.particular"
                                      typeahead-append-to-body="true" 
                                      uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:lc.isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25"
                                      typeahead-template-url="accountPopUp.html"
                                      ng-focus="lc.slctxn(value, txn, $event)">
                                    </td>
                                    <td class="col-xs-5 pos-rel">
                                      <input type="number"
                                        placeholder="Quantity"
                                        ng-if="lc.accountToShow.stock != null || txn.particular.stock != null"
                                        class="form-control background-transparent pull-left bdrR bdrR0"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null}"
                                        ng-model="txn.inventory.quantity"
                                        ng-focus="lc.slctxn(value, txn, $event)"
                                        ng-change="lc.onValueChange('qty' , txn)">
                                      <span class="pa rate" ng-if="lc.accountToShow.stock != null || txn.particular.stock != null && txn.rate > 0 || txn.particular.stock.rate > 0">
                                        x{{txn.rate || txn.particular.stock.rate || lc.accountToShow.stock.rate | number:4 }}
                                        <span ng-if="lc.accountToShow.stock.openingStockUnitName || txn.particular.stock.openingStockUnitName || txn.inventory.unit.name">
                                          /{{lc.accountToShow.stock.openingStockUnit.shortCode || txn.particular.stock.openingStockUnit.shortCode || txn.inventory.unit.code}}
                                        </span>
                                      </span>
                                      <input type="number"
                                        class="form-control text-right pdR3"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null, 'pull-left':lc.accountToShow.stock != null || txn.particular.stock != null, 'pdl1imp':lc.accountToShow.stock != null || txn.particular.stock != null}" 
                                        ng-model="txn.amount"
                                        ng-focus="lc.slctxn(value, txn, $event)"
                                        ng-change="lc.onValueChange('amount', txn)">
                                        <span 
                                        class="download-invoice-ledger" 
                                        ng-if="value.invoiceGenerated" 
                                        ng-click="lc.downloadInvoice(value.invoiceNumber, $event)" 
                                        tooltip-append-to-body="true" 
                                        uib-tooltip="Download invoice : {{value.invoiceNumber}}" 
                                        tooltip-placement="top"> 
                                        <i class="glyphicon glyphicon-download pull-left" style="font-size:15px;" ></i>
                                      </span>                                     
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          

                        </tbody>
                      </table>
                    </div>
                    <!-- </perfect-scrollbar> -->
                  </section>
                <table class="width100 ledger-footer">
                  <tbody>
                      
                      <tr class="t-h-bg3 bdr-w-t">
                        <td colspan="12" class="col-xs-12 text-right bdr-w-t white h32">
                          <span ng-if="lc.ledgerData.balance.type == 'CREDIT'">C/F: Cr {{lc.ledgerData.balance.amount | number:2}}</span>
                        </td>
                      </tr>
                      <tr class="t-h-bg2 bdr-w-t h42">
                        <td colspan="6" class="col-xs-6 text-left bold">Debit Total: {{lc.ledgerData.debitTotal | number:2}} </td>
                        <td colspan="6" class="col-xs-6 text-right bdr-w-t bold">Reckoning : {{lc.ledgerData.debitTotal | number:2}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!--right column-->
              <div class="right-col">
                  <!--ledger table body debit section-->
                  <section class="col-xs-12 pad0 bdr-w-t h100">

                    <table class="width100  ledger-header">
                      <thead>
                        <tr class="t-h-bg2">
                         <!--  <th class="col-xs-1"></th> -->
                          <th class="col-xs-2">
                            <span ng-click="lc.sortOrder.credit = lc.sortDirectionInvert(lc.sortOrder.credit)" class="cursor-pointer">
                                <i class="glyphicon glyphicon-sort-by-order-alt" ng-if="lc.sortOrder.credit == lc.sortDirection.desc"></i>
                                <i class="glyphicon glyphicon-sort-by-order" ng-if="lc.sortOrder.credit == lc.sortDirection.asc"></i>
                                Date
                            </span>
                            
                            <!-- <i class="glyphicon glyphicon-sort pull-left"></i> -->
                          </th>
                          <th class="col-xs-5">Paticular</th>
                          <th class="col-xs-5">Amount</th>
                        </tr>
                        <tr class="bg3">
                          <th colspan="12" class="col-xs-12 text-right bdr-w-t h32">
                            <span class="pull-left tcount">Total Transactions: {{lc.cNonemptyTxn}}</span>
                            <span ng-if="lc.ledgerData.forwardedBalance.type == 'CREDIT' && lc.ledgerData.forwardedBalance.amount > 0">B/F : {{lc.ledgerData.forwardedBalance.amount | number:2}}</span>
                           <!--  <span ng-if="lc.ledgerData.forwardedBalance.type == 'DEBIT'">B/F : 0</span> -->
                          </th>
                        </tr>
                      </thead>
                    </table>

                    <!-- <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10" auto-height on-scroll="onScrollCredit(scrollTop, scrollHeight, event)" id="mainLedgerContent"  additional-height="84" min-height="600"> -->
                    <div class="col-container" ledger-scroller column-scroller data-scrolled="lc.onScrollCredit(top, height, position)" data-scrollto="lc.crMatch">
                      <table class="width100">
                        <tbody>
                          <!--Add entry row for nomral order-->
                          <tr>
                            <td colspan="100">
                              <table class="width100">
                                <tbody>
                                  <tr
                                    class="txn-row"
                                    ng-class="{compoundEntry: lc.blankLedger.isCompoundEntry}" 
                                    ng-repeat="txn in lc.blankLedger.transactions"
                                    ng-if="txn.type == 'CREDIT'"
                                    uib-popover-template="lc.popover.templateUrl" 
                                    popover-trigger="outsideClick" 
                                    popover-placement="{{lc.popover.position}}" 
                                    popover-append-to-body='true' 
                                    popover-enable="!lc.popover.draggable" 
                                    popover-is-open="txn.isOpen"
                                    popover-popup-delay="200"
                                    set-popover-position
                                    ng-click="$event.stopPropagation()"
                                    >
                                    <td class="col-xs-2">
                                      <input type="text" 
                                      ng-model="lc.blankLedger.entryDate"
                                      ng-focus="lc.slctxn(lc.blankLedger, txn, $event)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input type="text" ng-model="txn.particular"
                                      typeahead-append-to-body="true" 
                                      uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:lc.isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25"
                                      typeahead-template-url="accountPopUp.html"
                                      ng-focus="lc.slctxn(lc.blankLedger, txn, $event)">
                                    </td>
                                    <td class="col-xs-5 pos-rel">
                                      <input type="number"
                                        placeholder="Quantity"
                                        ng-if="lc.accountToShow.stock != null || txn.particular.stock != null"
                                        class="form-control background-transparent pull-left bdrR bdrR0"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null}"
                                        ng-model="txn.inventory.quantity"
                                        ng-focus="lc.slctxn(lc.blankLedger, txn, $event)"
                                        ng-change="lc.onValueChange('qty' , txn)">
                                      <span class="pa rate" ng-if="accountToShow.stock != null || txn.particular.stock != null && txn.rate > 0 || txn.particular.stock.rate > 0">
                                        x{{txn.rate || txn.particular.stock.rate || lc.accountToShow.stock.rate | number:4 }}
                                        <span ng-if="lc.accountToShow.stock.openingStockUnitName || txn.particular.stock.openingStockUnitName || txn.inventory.unit.name">
                                          /{{lc.accountToShow.stock.openingStockUnit.shortCode || txn.particular.stock.openingStockUnit.shortCode || txn.inventory.unit.code}}
                                        </span>
                                      </span>
                                      <input type="number"
                                        class="form-control text-right pdR3"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null, 'pull-left':lc.accountToShow.stock != null || txn.particular.stock != null, 'pdl1imp':lc.accountToShow.stock != null || txn.particular.stock != null}" 
                                        ng-model="txn.amount"
                                        ng-focus="lc.slctxn(lc.blankLedger, txn, $event)"
                                        ng-change="lc.onValueChange('amount', txn)">                                     
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <!--ledgers-->
                          <tr 
                            id="{{value.uniqueName}}"
                            ng-repeat="(key, value) in lc.cLedgerContainer.ledgerData | orderObjectBy : 'lIndex' : lc.sortOrder.credit == lc.sortDirection.desc"
                            ng-dblclick="lc.getMatchingTxn(value, 'DR')">
                            <td colspan="100">
                              <table class="width100">
                                <tbody>
                                  <tr
                                    class="txn-row"
                                    ng-class="{compoundEntry: value.isCompoundEntry, uncEntry : value.unconfirmedEntry}" 
                                    ng-repeat="txn in value.transactions"
                                    ng-if="txn.type == 'CREDIT'"
                                    uib-popover-template="lc.popover.templateUrl" 
                                    popover-trigger="outsideClick" 
                                    popover-placement="{{lc.popover.position}}" 
                                    popover-append-to-body='true' 
                                    popover-enable="!lc.popover.draggable" 
                                    popover-is-open="txn.isOpen"
                                    popover-popup-delay="200"
                                    set-popover-position
                                    ng-click="$event.stopPropagation()">
                                    <td class="col-xs-2">
                                      <input type="text" 
                                      ng-model="value.entryDate"
                                      ng-focus="lc.slctxn(value, txn, $event)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input type="text" ng-model="txn.particular"
                                      typeahead-append-to-body="true" 
                                      uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:lc.isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25"
                                      typeahead-template-url="accountPopUp.html"
                                      ng-focus="lc.slctxn(value, txn, $event)">
                                    </td>
                                    <td class="col-xs-5 pos-rel">
                                      <input type="number"
                                        placeholder="Quantity"
                                        ng-if="lc.accountToShow.stock != null || txn.particular.stock != null"
                                        class="form-control background-transparent pull-left bdrR bdrR0"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null}"
                                        ng-model="txn.inventory.quantity"
                                        ng-focus="lc.slctxn(value, txn, $event)"
                                        ng-change="lc.onValueChange('qty' , txn)">
                                      <span class="pa rate" ng-if="lc.accountToShow.stock != null || txn.particular.stock != null && txn.rate > 0 || txn.particular.stock.rate > 0">
                                        x{{txn.rate || txn.particular.stock.rate || lc.accountToShow.stock.rate | number:4 }}
                                        <span ng-if="lc.accountToShow.stock.openingStockUnitName || txn.particular.stock.openingStockUnitName || txn.inventory.unit.name">
                                          /{{lc.accountToShow.stock.openingStockUnit.shortCode || txn.particular.stock.openingStockUnit.shortCode || txn.inventory.unit.code}}
                                        </span>
                                      </span>
                                      <input type="number"
                                        class="form-control text-right pdR3"
                                        ng-class="{'width50':lc.accountToShow.stock != null || txn.particular.stock != null, 'pull-left':lc.accountToShow.stock != null || txn.particular.stock != null, 'pdl1imp':lc.accountToShow.stock != null || txn.particular.stock != null}" 
                                        ng-model="txn.amount"
                                        ng-focus="lc.slctxn(value, txn, $event)"
                                        ng-change="lc.onValueChange('amount', txn)">
                                        <span 
                                        class="download-invoice-ledger" 
                                        ng-if="value.invoiceGenerated" 
                                        ng-click="lc.downloadInvoice(value.invoiceNumber, $event)" 
                                        tooltip-append-to-body="true" 
                                        uib-tooltip="Download invoice : {{value.invoiceNumber}}" 
                                        tooltip-placement="top"> 
                                        <i class="glyphicon glyphicon-download pull-left" style="font-size:15px;" ></i>
                                      </span>                                     
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                        </tbody>
                      </table>                     

                    </div>

                    <!-- </perfect-scrollbar> -->
                  </section>
                <table class="width100 ledger-footer">
                  <tbody>
                  
                      <tr class="t-h-bg3">
                        <td colspan="12" class="col-xs-12 text-right bdr-w-t white h32">
                          <span  ng-if="lc.ledgerData.balance.type == 'DEBIT'">C/F: Dr {{lc.ledgerData.balance.amount | number:2}}</span>
                        </td>
                      </tr>
                      <tr class="t-h-bg2 bdr-w-t h42">
                        <td colspan="6" class="col-xs-6 text-left bold">Credit Total: {{lc.ledgerData.creditTotal | number:2}}</td>
                        <td colspan="6" class="col-xs-6 text-right bold">Reckoning: {{lc.ledgerData.creditTotal | number:2}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
<!--  </perfect-scrollbar> -->
<!-- </perfect-scrollbar> -->
</div> 
<script type="text/ng-template" id="panel">
    <div class="ledger-panel" ng-click="$event.stopPropagation()" ng-class="{'pop-panel':!popover.draggable, 'fixed-panel': lc.showPanel, 'top0':hideHeader}">
      <div class="wrapper">
        <div class="">
          <div class="form-group">
            <div ng-if="selectedCompany.canUserSwitch" style="margin-top:3px" class="checkbox mrR1 pull-left">
              <!--<label>-->
                <!--<input type="checkbox" ng-model="lc.selectedLedger.unconfirmedEntry">Unconfirmed Entry-->
              <!--</label>-->
              <button class="btn btn-sm" ng-click="lc.selectedLedger.unconfirmedEntry = !lc.selectedLedger.unconfirmedEntry" ng-class="{'btn-primary' : lc.selectedLedger.unconfirmedEntry == true, 'btn-default' : lc.selectedLedger.unconfirmedEntry == false}">
                <span ng-if="lc.selectedLedger.unconfirmedEntry">Unconfirmed</span>
                <span ng-if="!lc.selectedLedger.unconfirmedEntry">Confirmed</span>
              </button>
            </div>
            <div style="margin-top: 3px;" class="checkbox mrR1 pull-left" >
              <!--<div>-->
                <!--<switch on="Inclusive" off="Exclusive" ng-model="lc.selectedLedger.isInclusiveTax" class="wide100" uib-tooltip="Merge/Unmerge bank transactions with ledger" tooltip-placement="bottom" ></switch>-->
              <!--</div>-->
              <!--<div>-->
                <!--<switch on="Applied Tax" off="Don't A.T." ng-model="lc.selectedLedger.applyApplicableTaxes" class="wide100" uib-tooltip="Merge/Unmerge bank transactions with ledger" tooltip-placement="bottom" ></switch>-->
              <!--</div>-->
              <button class="btn btn-sm" ng-click="lc.selectedLedger.isInclusiveTax = !lc.selectedLedger.isInclusiveTax" ng-class="{'btn-primary' : lc.selectedLedger.isInclusiveTax == true, 'btn-default' : lc.selectedLedger.isInclusiveTax == false}"  ng-if="lc.taxList.length > 0">
                <span>Inclusive</span>
              </button>
              <!--<label>                -->
                <!--<input type="checkbox" ng-model="lc.selectedLedger.isInclusiveTax">Inclusive-->
              <!--</label>-->
              <button class="btn btn-sm" ng-click="lc.selectedLedger.applyApplicableTaxes = !lc.selectedLedger.applyApplicableTaxes" ng-class="{'btn-primary' : lc.selectedLedger.applyApplicableTaxes == true, 'btn-default' : lc.selectedLedger.applyApplicableTaxes == false}" tabindex="0"  ng-if="lc.taxList.length > 0">
                <span>Tax as per account</span>
              </button>
              <!--<label>-->
                <!--<input type="checkbox" ng-model="lc.selectedLedger.applyApplicableTaxes">Applied taxes-->
              <!--</label>-->
            </div>
            <div class="mrT2 pull-right pdL" ng-if="lc.selectedLedger.total.amount > 0">
              <label>Total: <span ng-bind="lc.selectedLedger.total.amount | numberlimit"></span>
                <span ng-if="lc.selectedLedger.total.amount != 0 && lc.selectedLedger.total.type == 'CREDIT'">Cr</span>
                <span ng-if="lc.selectedLedger.total.amount != 0 && lc.selectedLedger.total.type == 'DEBIT'">Dr</span></label>
            </div>
            <div class="mrT2 pull-right bdrR pdR">
              <label>Rate:
                <input 
                  type="number" 
                  ng-model="lc.selectedTxn.rate" 
                  ng-change="lc.selectedTxn.amount = lc.selectedTxn.inventory.quantity*lc.selectedTxn.rate"
                  style="max-width:64px;border:0;">
              </label>
            </div>
            <div class="mrT1 clearfix" style="clear:both" ng-if="lc.taxList.length > 0">
              <hr class="width100">
              <ul class="list-inline pull-left">
                <li class="tax" ng-repeat="tax in lc.taxList">
                  <div class="checkbox"><label><input type="checkbox" ng-model="tax.isChecked">{{tax.name}}</label></div>
                </li>
              </ul>
            </div>
            <hr  class="width100">
          </div>
          <div class="row">
            <div ng-class="{'col-xs-4': !popover.draggable, 'col-xs-2': popover.draggable}">
              <div class="form-group">
                <!--<label>Voucher Type</label>-->
                <!--<select
                    class="form-control"
                    name="voucherType"
                    ng-options="item.shortCode as item.name for item in lc.voucherTypeList"
                    ng-model="lc.selectedLedger.voucher.shortCode">
                </select> -->
                <ui-select ng-model="lc.selectedLedger.voucher" theme="bootstrap">
                    <ui-select-match>
                      <span>{{$select.selected.name}}</span>
                    </ui-select-match >
                    <ui-select-choices repeat="item in lc.voucherTypeList| filter: $select.search ">
                      <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
                <label style="font-size: 12px;">#{{lc.selectedLedger.voucher.shortCode}} - {{lc.selectedLedger.voucherNo}}</label>
              </div>
            </div>
            <!--<div ng-class="{'col-xs-4': !popover.draggable, 'col-xs-2': popover.draggable}">
              <div class="form-group">
                <label></label>
                <input type="text" name="tag" class="form-control" placeholder="Tag" ng-model="lc.selectedLedger.tag"/>
              </div>
            </div> -->
            <div ng-class="{'col-xs-8': !popover.draggable, 'col-xs-10': popover.draggable}" style="padding-left:0">
              <!--<div class="form-group" style="margin-bottom:0">-->
                <!--<label>Voucher no. </label>-->
                <!--{{lc.selectedLedger.voucher.shortCode}}-{{lc.selectedLedger.voucherNo}}-->
              <!--</div>-->
              <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description" rows="2" ng-model="lc.selectedLedger.description"></textarea>
              </div>
            </div>
          </div>
          <div class="clearfix" ng-if="canUpdate">
            <button accesskey="x" ng-if="(lc.selectedLedger.isBankTransaction == false || lc.selectedLedger.isBankTransaction == undefined)" class="btn btn-sm btn-default mrR pull-left" ng-click="lc.addBlankTxn('DEBIT', lc.selectedLedger)">Add in DR</button>
            <button accesskey="c" ng-if="(lc.selectedLedger.isBankTransaction == false || lc.selectedLedger.isBankTransaction == undefined)" class="btn btn-sm btn-default mrR pull-left" ng-click="lc.addBlankTxn('CREDIT', lc.selectedLedger)">Add in CR</button>
            <button id="saveUpdate" class="pull-left mrR1 btn btn-sm btn-success min150" ng-click="lc.saveUpdateLedger(lc.selectedLedger)" ng-disabled="doingEntry">
              <span ng-if="(lc.selectedLedger.uniqueName == undefined || lc.selectedLedger.uniqueName == '') || lc.selectedLedger.isBankTransaction == true">Save</span>
              <span ng-if="(lc.selectedLedger.uniqueName != undefined && lc.selectedLedger.uniqueName != '') && (lc.selectedLedger.isBankTransaction == false || lc.selectedLedger.isBankTransaction == undefined)">Update</span>
            </button>
            <button ng-if="(lc.selectedLedger.uniqueName == undefined || lc.selectedLedger.uniqueName == '') && ((lc.selectedLedger.transactions[0].particular.uniqueName != '' && lc.selectedLedger.transactions[0].particular.uniqueName != undefined) || (lc.selectedLedger.transactions[1].particular.uniqueName != '' && lc.selectedLedger.transactions[1].particular.uniqueName != undefined)) && (lc.selectedLedger.isBankTransaction == false || lc.selectedLedger.isBankTransaction == undefined)" class="pull-right btn btn-sm btn-default mrL1" ng-click="lc.resetLedger()">Reset</button>
            <i ng-if="(lc.selectedLedger.uniqueName != undefined && lc.selectedLedger.uniqueName != '') && lc.selectedLedger.invoiceGenerated == false && (lc.selectedLedger.isBankTransaction == false || lc.selectedLedger.isBankTransaction == undefined)" class="pull-right glyphicon glyphicon-trash mrR1 pos-abs" uib-tooltip="Delete" tooltip-placement="left" style="top:9px;right:1px;color:#d35f29;" ng-click="lc.deleteEntryConfirm(lc.selectedLedger);lc.deleteMultipleTransactions()" uib-tooltip=""></i>
            <button class="btn btn-sm close-panel pull-right pos-rel" ng-click="lc.closePanel()" ng-if="popover.draggable">Close</button>
            <a class="pull-right anShrt" href="javascript:void(0)" ng-click="lc.addNewAccount()">New Account</a>
          </div>
        </div>
      </div>
    </div>
</script>

<script type="text/ng-template" id="accountPopUp.html">
  <a href="javascript:void(0)" class="account-list-item" set-drop-overflow style="border-bottom:1px solid #e0e0e0;">
    <span class="account-list-item" ng-bind-html="match.label | uibTypeaheadHighlight:query" style="display: block;font-size:12px"></span>
    <span class="account-list-item" ng-bind-html="match.model.uniqueName | uibTypeaheadHighlight:query" style="display: block;font-size:10px"></span>
  </a>
</script>

<script>

  var scope = angular.element('#ledger').scope();

  angular.element(document).on('click',function(e){
    if (!$(e.target).is('.account-list-item') && !$(e.target).is('.account-list-item strong')){
       scope.$apply(function(){
        scope.lc.showLedgerPopover = false
      })
    } 
  })
</script>