
<div class="loader mrT4" ng-if="showLoader && accountUnq.length != ''">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<section class="alert alert-info mrL2 mrR2 mrT2" ng-if="showLoader && accountUnq.length == ''">
  Please select an Account to load its Ledger
</section>

<div id="ledger" ng-if="!showLoader">
 <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height on-scroll="onledgerScroll(scrollTop, scrollHeight, event)" id="mainLedgerContent" >
    <section class="container-fluid" ng-if="accountUnq.length > 0">
      <div class="pdT1">
        <div class="ledger-top-panel clearfix" ng-class="{'while-panel':showPanel}" ng-hide="showPanel">
          <div class="form-inline pdB1 ledgHead">
            <form name="fromToDateForm" novalidate class="form-group mrR1 pull-left">
              <div class="form-group">
              <!--   <label>From</label> -->

                <p class="input-group maxW110">
                  <input type="text" class="form-control"
                         uib-datepicker-popup="{{format}}" required
                         datepicker-options="dateOptions"
                         is-open="fromDatePickerIsOpen"
                         ng-click="fromDatePickerOpen()"
                         ng-model="fromDate.date"
                         max-date="today"
                         placeholder="from date"
                          />
              <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i-->
                    <!--class="glyphicon glyphicon-calendar"></i></button>-->
              <!--</span>-->
                </p>
              </div>
              <div class="form-group">
                <label>to</label>

                <p class="input-group maxW110">
                  <input type="text" class="form-control"
                         uib-datepicker-popup="{{format}}" required
                         datepicker-options="dateOptions"
                         is-open="toDatePickerIsOpen"
                         ng-click="toDatePickerOpen()"
                         ng-model="toDate.date" min-date="fromDate.date"max-date="today" placeholder="to date"
                         />
              <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="toDatePickerOpen()"><i-->
                    <!--class="glyphicon glyphicon-calendar"></i></button>-->
              <!--</span>-->
                </p>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary mrL1" ng-click="getLedgerData()" ng-disabled="fromToDateForm.$invalid">
                  GO
                </button>
              </div>

            </form>


            <div class="form-group mrL1 pull-right maxW150 pos-rel" >
              <input type="search" class="form-control maxW150" placeholder="Search ledger" ng-model="particularSearch" ng-keyup="countTotalTransactionsAfterSomeTime()">
              <i class="glyphicon glyphicon-search pos-abs"  style="right:5px;top:10px;"></i>
            </div>

            <div option-list>
              <a id="showHide" class="pull-right mrL1" href="javascript:void(0)">
                <i class="glyphicon glyphicon-th-list"></i>
              </a>
              <div class="ol-options">

                <!-- <a class="pull-right" href="javascript:void(0)" title=""  uib-tooltip="Show List" tooltip-placement="left" ng-click="showImportList()" >
                  <i class="glyphicon glyphicon-list-alt" ></i>
                </a> -->

                <div class="form-group pull-right mrL1 pdf-export">
                  <a class="pull-right" href="javascript:void(0)" title=""  uib-tooltip="Export" tooltip-placement="right" ng-click="exportOptions()" >
                    <i class="glyphicon glyphicon-cloud-download pull-right" ></i>
                  </a>
                  <div class="export-ledger-options" ng-show="showExportOption">
                    <span class="arrow"></span>
                    <ul class="list-unstyled">
                      <li ng-click="exportLedger('detailed')">Detailed</li>
                      <li ng-click="exportLedger('condensed')">Condensed</li>
                    </ul>
                  </div>
                </div>

                <!-- <form class="pull-right mrL1" enctype="multipart/form-data">
                  <a class="" type="file" ngf-select="importLedger($files, $invalidFiles)" accept=".xls, .xlsx" ngf-max-size="100MB" ng-disabled="!canUpdate">
                     <i class="glyphicon glyphicon-copy" uib-tooltip="Import" tooltip-placement="left"></i>
                  </a>
                </form> -->


                <span class="pull-right mrL1" uib-dropdown  auto-close="outsideClick">
                  <a href id="simple-dropdown" uib-dropdown-toggle>
                    <i uib-tooltip="Send Ledger" tooltip-placement="right" class="glyphicon glyphicon-envelope" ></i>
                  </a>
                  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li>
                      <form class="form-group pd1" name="ledgerEmailSendForm" novalidate>
                        <div class="mrB1">
                          <textarea ng-model="ledgerEmailData.email" required name="ledgerEmailSendForm.email" class="form-control" placeholder="Recipents Email Id's"></textarea>
                        </div>
                        <ul class="list-unstyled email-type">
                            <li>
                              <label><input type="radio" ng-model="ledgerEmailData.emailType" name="emailType" value="view-detailed">view-detailed</label>
                            </li>
                            <li>
                              <label><input type="radio" ng-model="ledgerEmailData.emailType" name="emailType" value="view-condensed">view-condensed</label>
                            </li>
                            <li ng-if="canUpdate">
                              <label><input type="radio" ng-model="ledgerEmailData.emailType" name="emailType" value="admin-detailed">admin-detailed</label>
                            </li>
                            <li ng-if="canUpdate">
                              <label><input type="radio" ng-model="ledgerEmailData.emailType" name="emailType" value="admin-condensed">admin-condensed</label>
                            </li>
                        </ul>
                        <button ng-disabled="ledgerEmailSendForm.$invalid" class="btn btn-primary btn-sm mrT1" ng-click="sendLedgEmail(ledgerEmailData.email, ledgerEmailData.emailType)">Send Email</button>
                      </form>
                    </li>
                  </ul>
                </span>

                <a class="pull-right mrL1" href="javascript:void(0)" title=""  uib-tooltip="Generate Magic Link" tooltip-placement="left" ng-click="getMagicLink()">
                  <i class="glyphicon glyphicon-link pull-right"></i>
                </a>

                <a class="pull-right mrL1" style="margin-top:9px">
                  <div ng-click="togglePopoverDrag()">
                    <switch ng-model="popover.draggable" class="small" uib-tooltip="Switch between draggable and fixed popover. " tooltip-placement="bottom" ></switch>
                  </div>
                </a>
                <a class="pull-right mrL1" ng-if="eLedgerData.length > 0" style="margin-top:9px">
                  <div ng-click="mergeBankTransactions(mergeTransaction)">
                    <switch  ng-model="mergeTransaction" class="small" uib-tooltip="Merge/Unmerge bank transactions with ledger" tooltip-placement="bottom" ></switch>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="mrB1" ng-repeat="f in impLedgFiles" style="font:smaller" ng-hide="impLedgBar">
            <uib-progressbar class="progress-striped active" value="f.progress" type="success">{{f.progress}}%</uib-progressbar>
          </div>  
        </div>
        <div ng-include="'panel'" ng-if="showPanel" left-margin></div>
        <div ng-class="{'panel-margin': showPanel}">
          <!--ledger table start-->
          <!-- <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height on-scroll="onledgerScroll(scrollTop, scrollHeight, event)" id="mainLedgerContent" >  --> 
          <!-- external ledger code here -->
          <section ng-class="{'eledger-table':!showPanel, 'eledger-table-w':showPanel}" ng-if="eLedgerData.length > 0 && showEledger">
            <div ng-include="'/public/webapp/Ledger/eLedger.html'"></div>
          </section>
          <!-- external ledger code end here -->

          <div class="clearfix ledger-container" ng-class="{'ledger-container-w':showPanel}">
            <!--ledger table head 1-->
            <table class="col-xs-12 ledger-head">
              <thead>
                <tr class="t-h-bg1">
                  <th class="col-xs-6">Debit - {{accountToShow.name}} is receiving</th>
                  <th class="col-xs-6">Credit - {{accountToShow.name}} is giving</th>
                </tr>
              </thead>
            </table>
            <div class="ledger-table-body clearfix">
              <!--left column-->
              <div class="left-col">
                  <!--ledger table body debit section-->
                  <section class="col-xs-12 pad0 bdr-w-t">
                    <table class="width100">
                      <thead>
                        <tr class="t-h-bg2">
                          <th class="col-xs-1"></th>
                          <th class="col-xs-3">
                            Date
                            <!-- <i class="glyphicon glyphicon-sort pull-left mrL"></i> -->
                          </th>
                          <th class="col-xs-5">Paticular</th>
                          <th class="col-xs-3">Amount</th>
                        </tr>
                        <tr class="bg3">
                          <th colspan="12" class="col-xs-12 text-right bdr-w-t h32">
                            <span class="pull-left tcount">Total Transactions: {{dTxnCount}}</span>
                            <span ng-if="ledgerData.forwardedBalance.type == 'DEBIT' && ledgerData.forwardedBalance.amount > 0">Opening Balance : {{ledgerData.forwardedBalance.amount | number:2}}</span>
                            <!-- <span ng-if="ledgerData.forwardedBalance.type == 'CREDIT'">B/F : 0</span> -->
                          </th>
                        </tr>
                      </thead>
                    </table>
                    <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height on-scroll="onScrollDebit(scrollTop, scrollHeight, event)" id="mainLedgerContent" additional-height="84" min-height="0" >
                      <table class="width100">
                        <tbody>
                          <tr id="{{ledger.uniqueName}}" class="" 
                          ng-repeat="ledger in ledgerData.ledgers 
                          | filter:particularSearch
                          | limitTo: dLedgerLimit " 
                          ng-class="{compoundEntry: ledger.isCompoundEntry || ledger.failed}">
                            <td colspan="100%" class="ledger-row">
                              <table class="width100">
                                <tbody class="ledger-main">
                                  <tr class="ledger-row" 
                                  ng-repeat="txn in ledger.transactions track by $index" 
                                  ng-click="selectTxn(ledger, txn, $index, $event)" 
                                  ng-if="txn.type == 'DEBIT'" 
                                  ng-class="{uncEntry : ledger.unconfirmedEntry}"  
                                  uib-popover-template="popover.templateUrl" 
                                  popover-trigger="outsideClick" 
                                  popover-placement="bottom" 
                                  popover-append-to-body='true' 
                                  popover-enable="!popover.draggable" 
                                  popover-is-open="txn.isOpen && showLedgerPopover" 
                                  ng-init="getFocus(txn,ledger)"
                                  popover-popup-delay="200"
                                  >
                                    <!-- <td class="col-xs-1 maxW42" ng-click="$event.stopPropagation()">
                                      <input type="checkbox" ng-model="txn.isSelected" ng-change="selectMultiple(ledger, txn, $index)" ng-click="$event.stopPropagation()">
                                    </td> -->
                                    <td class="col-xs-3">
                                      <input class="form-control background-transparent" ng-model="ledger.entryDate" ng-disabled="ledger.isBankTransaction != undefined && ledger.isBankTransaction == true" ng-focus="openClosePopOver(txn,ledger)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input class="form-control" ng-model="txn.particular" typeahead-append-to-body="true" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-template-url="accountPopUp.html" input-focus is-open="txn.isOpen">
                                    </td>
                                    <td class="col-xs-3" style="position: relative">
                                      <input type="text" class="form-control background-transparent"  ng-model="txn.amount" ng-disabled="ledger.isBankTransaction != undefined && ledger.isBankTransaction == true" ng-keyup="triggerPanelFocus($event)" ng-focus="openClosePopOver(txn,ledger)">
                                        <span class="download-invoice-ledger" ng-if="ledger.invoiceGenerated" ng-click="downloadInvoice(ledger.invoiceNumber, $event)" tooltip-append-to-body="false" uib-tooltip="Download invoice : {{ledger.invoiceNumber}}" tooltip-placement="left">  <i class="glyphicon glyphicon-download pull-left" style="font-size:19px;"></i>
                                        </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <!--Add entry row-->
                          <tr class="">
                            <td colspan="100%" class="ledger-row">
                              <table class="width100">
                                <tbody class="ledger-main">
                                  <tr class="ledger-row"
                                  ng-repeat="txn in blankLedger.transactions track by $index"
                                  ng-if="txn.type == 'DEBIT'" 
                                  ng-click="selectTxn(blankLedger, txn, $index, $event)" 
                                  uib-popover-template="popover.templateUrl" 
                                  popover-trigger="outsideClick" 
                                  popover-placement="bottom" 
                                  popover-append-to-body='true' 
                                  popover-enable="!popover.draggable" 
                                  popover-is-open="txn.isOpen && showLedgerPopover"
                                  popover-popup-delay="200"  
                                  ng-class="{'failed-entry':blankLedger.failed,  'highlight-txn': txn.isOpen}"
                                  >
                                    <!-- <td class="col-xs-1 maxW42">
                                      <input type="checkbox">
                                    </td> -->
                                    <td class="col-xs-3">
                                      <input class="form-control" ng-model="blankLedger.entryDate" accesskey="L" ng-focus="openClosePopOver(txn,ledger)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input class="form-control" ng-model="txn.particular" typeahead-append-to-body="true" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25"  typeahead-template-url="accountPopUp.html"  input-focus is-open="txn.isOpen">
                                    </td>
                                    <td class="col-xs-3" style="position: relative">
                                      <input type="text" class="form-control"  ng-model="txn.amount" ng-keyup="triggerPanelFocus($event)" ng-focus="openClosePopOver(txn,ledger)">
                                      <span class="download-invoice-ledger" ng-if="ledger.invoiceGenerated" ng-click="downloadInvoice(ledger.invoiceNumber, $event)" tooltip-append-to-body="false" uib-tooltip="Download invoice : {{ledger.invoiceNumber}}" tooltip-placement="left">  <i class="glyphicon glyphicon-download pull-left" style="font-size:19px;"></i>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </section>
                <table class="width100">
                  <tbody>
                      <tr class="t-h-bg3 bdr-w-t">
                        <td colspan="12" class="col-xs-12 text-right bdr-w-t white h32">
                          <span ng-if="ledgerData.balance.type == 'CREDIT'">C/F: Cr {{ledgerData.balance.amount | number:2}}</span>
                        </td>
                      </tr>
                      <tr class="t-h-bg2 bdr-w-t h42">
                        <td colspan="6" class="col-xs-6 text-left bold">Debit Total: {{debitTotal | number:2}} </td>
                        <td colspan="6" class="col-xs-6 text-right bdr-w-t bold">Reckoning : {{ledgerData.debitTotal | number:2}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!--right column-->
              <div class="right-col">
                  <!--ledger table body debit section-->
                  <section class="col-xs-12 pad0 bdr-w-t">

                    <table class="width100">
                      <thead>
                        <tr class="t-h-bg2">
                          <th class="col-xs-1"></th>
                          <th class="col-xs-3">
                            Date
                            <!-- <i class="glyphicon glyphicon-sort pull-left"></i> -->
                          </th>
                          <th class="col-xs-5">Paticular</th>
                          <th class="col-xs-3">Amount</th>
                        </tr>
                        <tr class="bg3">
                          <th colspan="12" class="col-xs-12 text-right bdr-w-t h32">
                            <span class="pull-left tcount">Total Transactions: {{cTxnCount}}</span>
                            <span ng-if="ledgerData.forwardedBalance.type == 'CREDIT' && ledgerData.forwardedBalance.amount > 0">B/F : {{ledgerData.forwardedBalance.amount | number:2}}</span>
                           <!--  <span ng-if="ledgerData.forwardedBalance.type == 'DEBIT'">B/F : 0</span> -->
                          </th>
                        </tr>
                      </thead>
                    </table>

                    <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="10" auto-height on-scroll="onScrollCredit(scrollTop, scrollHeight, event)" id="mainLedgerContent"  additional-height="84" min-height="0">
                      <table class="width100">
                        <tbody>
                          <tr id="{{ledger.uniqueName}}" class="" ng-repeat="ledger in ledgerData.ledgers | 
                          filter:particularSearch | 
                          limitTo: cLedgerLimit" 
                          ng-class="{compoundEntry: ledger.isCompoundEntry || ledger.failed}">
                            <td colspan="100%" class="ledger-row">
                              <table class="width100">
                                <tbody class="ledger-main">
                                  <tr 
                                  class="ledger-row" 
                                  ng-repeat="txn in ledger.transactions track by $index" 
                                  ng-click="selectTxn(ledger, txn, $index, $event)" 
                                  ng-if="txn.type == 'CREDIT'" 
                                  ng-class="{uncEntry : ledger.unconfirmedEntry}" 
                                  uib-popover-template="popover.templateUrl" 
                                  popover-trigger="outsideClick" 
                                  popover-placement="bottom" 
                                  popover-append-to-body='true' 
                                  popover-enable="!popover.draggable" 
                                  popover-is-open="txn.isOpen && showLedgerPopover"
                                  popover-popup-delay="200"  
                                  ng-init="getFocus(txn,ledger)">
                                    <!-- <td class="col-xs-1 maxW42" ng-click="$event.stopPropagation()">
                                      <input type="checkbox" ng-model="txn.isSelected" ng-change="selectMultiple(ledger, txn, $index)" ng-click="$event.stopPropagation()">
                                    </td> -->
                                    <td class="col-xs-3">
                                      <input class="form-control background-transparent" ng-model="ledger.entryDate" ng-disabled="ledger.isBankTransaction != undefined && ledger.isBankTransaction == true" ng-focus="openClosePopOver(txn,ledger)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input class="form-control" ng-model="txn.particular" typeahead-append-to-body="true" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-template-url="accountPopUp.html"  input-focus is-open="txn.isOpen">
                                    </td>
                                    <td class="col-xs-3" style="position: relative">
                                      <input type="text" class="form-control background-transparent"  ng-model="txn.amount" ng-disabled="ledger.isBankTransaction != undefined && ledger.isBankTransaction == true" ng-keyup="triggerPanelFocus($event)" ng-focus="openClosePopOver(txn,ledger)">
                                      <span class="download-invoice-ledger" ng-if="ledger.invoiceGenerated" ng-click="downloadInvoice(ledger.invoiceNumber,$event)" tooltip-append-to-body="false" uib-tooltip="Download invoice : {{ledger.invoiceNumber}}" tooltip-placement="left"><i class="glyphicon glyphicon-download pull-left"></i>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <!--Add entry row-->
                          <tr class="">
                            <td colspan="100%" class="ledger-row">
                              <table class="width100">
                                <tbody class="ledger-main">
                                  <tr 
                                  class="ledger-row" 
                                  ng-repeat="txn in blankLedger.transactions track by $index" 
                                  ng-if="txn.type == 'CREDIT'" 
                                  ng-click="selectTxn(blankLedger, txn, $index, $event)" 
                                  uib-popover-template="popover.templateUrl" 
                                  popover-trigger="outsideClick" 
                                  popover-placement="bottom" 
                                  popover-append-to-body='true' 
                                  popover-enable="!popover.draggable" 
                                  popover-is-open="txn.isOpen && showLedgerPopover"  
                                  ng-class="{'failed-entry':blankLedger.failed, 'highlight-txn': txn.isOpen}">
                                    <!-- <td class="col-xs-1 maxW42">
                                      <input type="checkbox">
                                    </td> -->
                                    <td class="col-xs-3">
                                      <input class="form-control"  ng-model="blankLedger.entryDate" accesskey="R"  ng-focus="openClosePopOver(txn,ledger)">
                                    </td>
                                    <td class="col-xs-5">
                                      <input class="form-control" ng-model="txn.particular" typeahead-append-to-body="true" uib-typeahead="accounts as accounts.name for accounts in fltAccntListPaginated | omit:isCurrentAccount | searchAccountInPaginated:$viewValue | limitTo: 25" typeahead-template-url="accountPopUp.html"  input-focus is-open="txn.isOpen">
                                    </td>
                                    <td class="col-xs-3" style="position: relative">
                                      <input type="text" class="form-control"  ng-model="txn.amount" ng-keyup="triggerPanelFocus($event)" ng-focus="openClosePopOver(txn,ledger)">
                                      <span class="download-invoice-ledger" ng-if="blankLedger.invoiceGenerated" ng-click="$event.stopPropagation()">
                                        <i class="glyphicon glyphicon-download pull-left" tooltip-append-to-body="true" uib-tooltip="Download invoice : {{blankLedger.invoiceNumber}}" ng-click="downloadInvoice(blankLedger.invoiceNumber)">
                                        </i>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </section>
                <table class="width100">
                  <tbody>
                      <tr class="t-h-bg3">
                        <td colspan="12" class="col-xs-12 text-right bdr-w-t white h32">
                          <span  ng-if="ledgerData.balance.type == 'DEBIT'">C/F: Dr {{ledgerData.balance.amount | number:2}}</span>
                        </td>
                      </tr>
                      <tr class="t-h-bg2 bdr-w-t h42">
                        <td colspan="6" class="col-xs-6 text-left bold">Credit Total: {{creditTotal | number:2}}</td>
                        <td colspan="6" class="col-xs-6 text-right bold">Reckoning: {{ledgerData.creditTotal | number:2}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
 </perfect-scrollbar>
<!-- </perfect-scrollbar> -->
</div>

<script type="text/ng-template" id="panel">
    <div class="ledger-panel" ng-click="stopProp($event)" ng-class="{'pop-panel':!popover.draggable, 'fixed-panel': showPanel, 'top0':hideHeader}">
      <div class="wrapper">
        <div class="">
          <div class="form-group">
            <div ng-if="selectedCompany.canUserSwitch" style="margin-top:3px" class="checkbox mrR1 pull-left">
              <!--<label>-->
                <!--<input type="checkbox" ng-model="selectedLedger.unconfirmedEntry">Unconfirmed Entry-->
              <!--</label>-->
              <button class="btn btn-sm" ng-click="selectedLedger.unconfirmedEntry = !selectedLedger.unconfirmedEntry" ng-class="{'btn-primary' : selectedLedger.unconfirmedEntry == true, 'btn-default' : selectedLedger.unconfirmedEntry == false}">
                <span ng-if="selectedLedger.unconfirmedEntry">Unconfirmed</span>
                <span ng-if="!selectedLedger.unconfirmedEntry">Confirmed</span>
              </button>
            </div>
            <div style="margin-top: 3px;" class="checkbox mrR1 pull-left" >
              <!--<div>-->
                <!--<switch on="Inclusive" off="Exclusive" ng-model="selectedLedger.isInclusiveTax" class="wide100" uib-tooltip="Merge/Unmerge bank transactions with ledger" tooltip-placement="bottom" ></switch>-->
              <!--</div>-->
              <!--<div>-->
                <!--<switch on="Applied Tax" off="Don't A.T." ng-model="selectedLedger.applyApplicableTaxes" class="wide100" uib-tooltip="Merge/Unmerge bank transactions with ledger" tooltip-placement="bottom" ></switch>-->
              <!--</div>-->
              <button class="btn btn-sm" ng-click="selectedLedger.isInclusiveTax = !selectedLedger.isInclusiveTax" ng-class="{'btn-primary' : selectedLedger.isInclusiveTax == true, 'btn-default' : selectedLedger.isInclusiveTax == false}">
                <span>Inclusive</span>
              </button>
              <!--<label>                -->
                <!--<input type="checkbox" ng-model="selectedLedger.isInclusiveTax">Inclusive-->
              <!--</label>-->
              <button class="btn btn-sm" ng-click="selectedLedger.applyApplicableTaxes = !selectedLedger.applyApplicableTaxes" ng-class="{'btn-primary' : selectedLedger.applyApplicableTaxes == true, 'btn-default' : selectedLedger.applyApplicableTaxes == false}" tabindex="0">
                <span>Tax as per account</span>
              </button>
              <!--<label>-->
                <!--<input type="checkbox" ng-model="selectedLedger.applyApplicableTaxes">Applied taxes-->
              <!--</label>-->
            </div>
            <div class="mrT2 pull-right">
              <label>Total: {{selectedLedger.total.amount | number:2}}
                <span ng-if="selectedLedger.total.amount != 0 && selectedLedger.total.type == 'CREDIT'">Cr</span>
                <span ng-if="selectedLedger.total.amount != 0 && selectedLedger.total.type == 'DEBIT'">Dr</span></label>
            </div>
            <div class="row mrT1 clearfix" style="clear:both">
              <hr class="width100">
              <ul class="list-inline pull-left" style="margin-left:15px">
                <li ng-repeat="tax in taxList">
                  <div class="checkbox"><label><input type="checkbox" ng-model="tax.isChecked">{{tax.name}}</label></div>
                </li>
              </ul>
              <hr  class="width100">
            </div>
          </div>
          <div class="row">
            <div ng-class="{'col-xs-4': !popover.draggable, 'col-xs-2': popover.draggable}">
              <div class="form-group">
                <!--<label>Voucher Type</label>-->
<!--                 <select
                    class="form-control"
                    name="voucherType"
                    ng-options="item.shortCode as item.name for item in voucherTypeList"
                    ng-model="selectedLedger.voucher.shortCode">
                </select> -->
                <ui-select ng-model="selectedLedger.voucher" theme="bootstrap">
                    <ui-select-match>
                      <span>{{$select.selected.name}}</span>
                    </ui-select-match >
                    <ui-select-choices repeat="item in voucherTypeList| filter: $select.search ">
                      <span ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
                <label style="font-size: 12px;">#{{selectedLedger.voucher.shortCode}} - {{selectedLedger.voucherNo}}</label>
              </div>
            </div>
            <div ng-class="{'col-xs-4': !popover.draggable, 'col-xs-2': popover.draggable}">
              <div class="form-group">
                <!--<label></label>-->
                <input type="text" name="tag" class="form-control" placeholder="Tag" ng-model="selectedLedger.tag"/>
              </div>
            </div>
            <div ng-class="{'col-xs-4': !popover.draggable, 'col-xs-8': popover.draggable}">
              <!--<div class="form-group" style="margin-bottom:0">-->
                <!--<label>Voucher no. </label>-->
                <!--{{selectedLedger.voucher.shortCode}}-{{selectedLedger.voucherNo}}-->
              <!--</div>-->
              <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description" rows="2" ng-model="selectedLedger.description"></textarea>
              </div>
            </div>
          </div>
          <div class="" ng-if="canUpdate">
            <button accesskey="x" ng-if="(selectedLedger.isBankTransaction == false || selectedLedger.isBankTransaction == undefined)" class="btn btn-sm btn-default mrR pull-left" ng-click="addBlankTxn('DEBIT', selectedLedger)">Add in DR</button>
            <button accesskey="c" ng-if="(selectedLedger.isBankTransaction == false || selectedLedger.isBankTransaction == undefined)" class="btn btn-sm btn-default mrR pull-left" ng-click="addBlankTxn('CREDIT', selectedLedger)">Add in CR</button>
            <button id="saveUpdate" ng-if="(selectedLedger.transactions[0].particular.uniqueName != '' && selectedLedger.transactions[0].particular.uniqueName != undefined) || (selectedLedger.transactions[1].particular.uniqueName != '' && selectedLedger.transactions[1].particular.uniqueName != undefined)" class="pull-left mrR1 btn btn-sm btn-success min150" ng-click="saveUpdateLedger(selectedLedger)" ng-disabled="doingEntry">
              <span ng-if="(selectedLedger.uniqueName == undefined || selectedLedger.uniqueName == '') || selectedLedger.isBankTransaction == true">Save</span>
              <span ng-if="(selectedLedger.uniqueName != undefined && selectedLedger.uniqueName != '') && (selectedLedger.isBankTransaction == false || selectedLedger.isBankTransaction == undefined)">Update</span>
            </button>
            <button ng-if="(selectedLedger.uniqueName == undefined || selectedLedger.uniqueName == '') && ((selectedLedger.transactions[0].particular.uniqueName != '' && selectedLedger.transactions[0].particular.uniqueName != undefined) || (selectedLedger.transactions[1].particular.uniqueName != '' && selectedLedger.transactions[1].particular.uniqueName != undefined)) && (selectedLedger.isBankTransaction == false || selectedLedger.isBankTransaction == undefined)" class="pull-right btn btn-sm btn-default" ng-click="resetLedger()">Reset</button>
            <i ng-if="(selectedLedger.uniqueName != undefined && selectedLedger.uniqueName != '') && selectedLedger.invoiceGenerated == false && (selectedLedger.isBankTransaction == false || selectedLedger.isBankTransaction == undefined)" class="pull-right glyphicon glyphicon-trash mrR1 pos-abs" uib-tooltip="Delete" tooltip-placement="left" style="top:9px;right:1px;color:#d35f29;" ng-click="deleteEntry(selectedLedger);deleteMultipleTransactions()" uib-tooltip=""></i>
          </div>
          <button class="btn btn-sm close-panel pull-right pos-rel" ng-click="closePanel()" ng-if="popover.draggable">Close</button>
        </div>
      </div>
    </div>
</script>

<script type="text/ng-template" id="accountPopUp.html">
  <a href="javascript:void(0)" class="account-list-item" set-drop-overflow>
    <span class="account-list-item" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    (<span class="account-list-item" ng-bind-html="match.model.uniqueName | uibTypeaheadHighlight:query"></span>)
  </a>
</script>

<script>

  var scope = angular.element('#ledger').scope();

  angular.element(document).on('click',function(e){
    if (!$(e.target).is('.account-list-item')){
       scope.$apply(function(){
        scope.showLedgerPopover = false
      })
    } 
  })

</script>