<style type="text/css">
.form-control, input {
	color: #4d4d4d;
}
table td[class*=col-] {
	padding: 0 !important;
	border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
font-size: 13px;
color: #4d4d4d;
}
table th[class*=col-]:last-child {
	border-right: 0;
}
th {
	font-weight: 700; 
}
.total_col td {
	border: 0 !important;
}
.ledger-main .form-control {
	border: 0;
}
.ledger-main tr td:last-child {
	border-right: 0;
}
.t-h-bg1 th {
	border-left: 0;
}
.ledgHead input[type=search] {
	min-width: auto;
}
.primary_color {
	color: #ff782d;
}
.ledger-stat {
	padding: 50px 0;
	background: #f7f7f7;
	color: #808080;
	font-size: 18px;
}
.ledger-stat h3 {
	font-size: 24px;
	margin-top: 10px;
}
.icomoon_ico {
	margin-left: 8px;
}
.account_Name {
	font-size: 21px;
	color: #858585;
}
.ledger-footer {
	bottom: 0;
}
.ledger-head th {
	color: #cccccc;
}
.total_col td {
	border: 0;
}
.ledger-stat span {
	display: inline-block;
}
.pageCount {
	overflow: hidden;
	width: 100%;
	float: left;
}
#pagination {
	margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.pagination>li>a, .pagination>li>span {
	border: 0;
    color: #999999;
    background: none;
	padding: 4px 8px;
}
.pagination>li>a.active {
	color: #4d4d4d;
	border: 1px solid #ddd;
}
.grey {
	color: #4d4d4d;
}
</style>
<section class="container">
	
	<!--ledger table-->
	<div class="ledgHead mrT3">
		

		<table class="width100" style="border:1px solid #e0e0e0">
			<thead>
				<tr>
					<th style="color:#ccc;font-weight:400">
						Is {{lc.accountToShow.name}} coming in?
					</th>
					<th style="color:#ccc;font-weight:400">
						Is {{lc.accountToShow.name}} going out?
					</th>
				</tr>
				<tr>
					<th>
						<table class="width100">
							<thead class="t-h-bg1">
								<th>Date</th>
								<th>Particular</th>
								<th>Amount</th>
							</thead>
						</table class="width100">
					</th>
					<th>
						<table class="width100">
							<thead class="t-h-bg1">
								<th>Date</th>
								<th>Particular</th>
								<th>Amount</th>
							</thead>
						</table>
					</th>
				</tr>	
			</thead>

			<tbody class="ledger-table-body">
				
				<tr>
					<td class="width100">
						<table>
							<tbody>
								<tr ng-repeat="txn in ledger.transactions" ng-if="txn.type=='DEBIT'">
									<td>
										<input type="text" ng-model="ledger.entryDate">
									</td>
									<td>
										<input type="text" ng-model="txn.particular.name">
									</td>
									<td>
										<input type="number" ng-model="txn.amount">
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

			</tbody>

		</table>



	</div>

<div class="text-center mrT2 pageCount">
		<span class="grey">{{lc.dNonemptyTxn + lc.cNonemptyTxn}} transactions,</span> <span class="black">14 pages</span>
</div>


<nav id="pagination" aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true" class="primary_color">First</span>
      </a>
    </li>
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true" class="primary_color">Last</span>
      </a>
    </li>
  </ul>
</nav>

	<!-- ledger table end -->

</section>
<section class="ledger-stat">
	<div class="container">
		<div class="col-xs-3">
			<h1>Total Transactions <span class="primary_color">500</span></h1>
			<span class="mrT1 mrR2">Dr 200</span> <span class="mrT1 mrR2">Cr 300</span>
		</div>
		<div class="col-xs-3">
			<h1>Debit Total</h1>
			<h3>{{lc.ledgerData.debitTotal | number:2}}</h3>
		</div>
		<div class="col-xs-3">
			<h1>Credit Total</h1>
			<h3>{{lc.ledgerData.creditTotal | number:2}}</h3>
		</div>
		<div class="col-xs-3 primary_color">
			<h1>Net Total Credit</h1>
			<h3>{{lc.ledgerData.reckoningCreditTotal | number:2}}</h3>
		</div>
	</div>

</section>