<div class="container-fluid pd">
  <div class="row mr1">
    <label>Terms & Conditions</label>
    <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss(); closePop()" aria-label="Close"><i aria-hidden="true">&times;</i></button>
  </div>
  <div class="row mr1">
    <section class="uvFaq typeset">
      <a href="https://giddh.com/terms" target="_blank">Terms and conditions</a>
      <p>By clicking the button below you are accepting the terms and conditions mentioned in the above link.</p>
    </section>
  </div>
  <div class="row mr1">
    <button class="col-xs-3 btn btn-primary pull-right" ng-click="$dismiss(); closePop();connectBnk()">I Agree</button>
  </div>
</div>