<div class="pdT2 container-fluid" ng-controller="settingsProformaController as ctrl">
	<div class="clearfix pdR1 mrB2 mrT1 text-right col-xs-12">
		<button ng-click="ctrl.showAddTemplate()" class="btn btn-primary md-btn" ng-class="{'btn-primary':!ctrl.showTemplate, 'btn-default': ctrl.showTemplate}"><span ng-if="!ctrl.showTemplate">Add New Template</span><span ng-if="ctrl.showTemplate">Back</span></button>
	</div>
	<div ng-if="!ctrl.showTemplate" class="clearfix">
		<div class="template_list" ng-repeat="value in ctrl.templateList" ng-if="value.type == 'proforma'">
			<a href="javascript:void(0)" class="thumbnail" style="min-height:181px;">
				<div class="caption">
				<div class="templateInfo">
					<!-- <label>Template for {{value.type}}</label> -->
					<h3 class="lead templateName alC" ng-bind-html="value.name"></h3>

					<div class="mrT1 alC switch_state">
		              <div ng-click="ctrl.setDefTemp(value)" class="switch_div">
		                <switch name="setAsDefault" on="on" off="Off" class="wide" ng-model="value.isDefault"></switch>
		              </div>
		              <label ng-show="value.isDefault" class="mrT text-left">Default Selected</label>
		              <label ng-if="!value.isDefault || !value.isDefault"class="mrT">Set as default</label>
            		</div>

					<!-- <p>
						<button class="btn btn-default btn-block" ng-click="ctrl.getTemplate(value, 'update')" ng-if="!value.isFixed">Edit</button>
						<button class="btn btn-danger btn-block" ng-click="ctrl.deleteTemplate(value)" ng-disabled="value.isDefault" ng-if="!value.isFixed">Delete</button>
					<div class="mrT1 alC" ng-show="!value.isDefault">
						<div ng-click="ctrl.setDefTemp(value)">
							<switch name="setAsDefault" on="Default" off="Off" class="wide" ng-model="value.isDefault"></switch>
						</div>
					</div> -->

					<!-- <div class="mrT1 alC" ng-show="value.isDefault">
						<h1 style="font-size:28px">Default</h1>
					</div>
					<div class="mrT1 alC" ng-show="value.isFixed">
						<h1 style="font-size:28px">Fixed</h1>
					</div> -->
					</p>
					</div>

					<div class="template_action">
<!-- 					<h2 ng-show="value.isFixed" class="mrT">Fixed</h2> -->
					<button ng-disabled="value.isFixed" ng-show="value.isFixed" class="btn btn-default mrB1">Fixed</button>
	                <button ng-click="ctrl.deleteTemplate(value)" ng-disabled="value.isDefault" ng-if="!value.isFixed" class="btn btn-default mrB1">Delete</button>
	                <button ng-click="ctrl.getTemplate(value, 'update')" ng-if="!value.isFixed" class="btn btn-default">Edit</button>
              		</div>

				</div>
			</a>
		</div>
	</div>
	<div ng-if="ctrl.showTemplate" class="clearfix">
		<div class="row">
			<div class="col-md-12">
				<section id="invoice-wrapper">
					<div style="width:100%;color:red;font-size: 12px;" ng-if="ctrl.widgetOverflow">
						The Template Page size has been exceeded, please move the wigets within the blue area to create a template
					</div>
					<div ng-if="!ctrl.updateTemplate" class="clearfix pdB2 form-inline">
						<div class="form-group">
							<input type="text" name="ctrl.templateName" ng-model="ctrl.templateName" placeholder="Template Name" class="form-control">
						</div>
						<div class="form-group">
							<button ng-disabled="ctrl.templateName === undefined || ctrl.widgetOverflow" class="btn btn-success" ng-click="ctrl.saveTemplate()" href="javascript:void(0)">Save Template</button>
							<button class="btn btn-success mrL1" ng-click="ctrl.resetTemplate()" href="javascript:void(0)">Reset Template</button>
						</div>

						<div class="form-group pull-right">
							<a class="btn btn-primary" ng-click="ctrl.addWidget()" href="javascript:void(0)">Add Widget</a>
						</div>
						<div class="form-group pull-right mrR1">
							<select
									required
									class="form-control"
									name="ctrl.tempType"
									ng-model="ctrl.tempType"
									ng-options="item for item in ctrl.tempTypes">
							</select>
						</div>

					</div>


					<div ng-if="ctrl.updateTemplate" class="clearfix pdB2 form-inline">
			            <div class="form-group">
			              <input type="text" name="ctrl.selectedTemplate.name" ng-model="ctrl.selectedTemplate.name" placeholder="Template Name" class="form-control">
			            </div>
			            <div class="form-group">
			              <button ng-disabled="ctrl.selectedTemplate.name === undefined || ctrl.selectedTemplate.name == ''  || ctrl.widgetOverflow" class="btn btn-success" ng-click="ctrl.updateProformaTemplates()" href="javascript:void(0)">Update Template</button>
			            </div>

			            <div class="form-group pull-right">
			              <a class="btn btn-primary" ng-click="ctrl.addWidget()" href="javascript:void(0)">Add Widget</a>
			            </div>
			            <div class="form-group pull-right mrR1">
			              <select
			                  required
			                  class="form-control"
			                  name="ctrl.tempType"
			                  ng-model="ctrl.tempType"
			                  ng-options="item for item in ctrl.tempTypes">
			              </select>
			            </div>
			          </div>

					<div class="invoice-wrapper-m a4">
						<div gridster="ctrl.gridsterOptions">
							<ul>
								<li class="invoice-widget" ng-repeat="item in ctrl.widgets | orderBy:row:true" gridster-item row="item.row" col="item.col" size-x="item.sizeX" size-y="item.sizeY" ng-dblclick="item.edit = true;$event.stopPropagation();">
									<div class="move-widget"  ng-if="!item.edit">
										<label ng-if="item.type == 'Image' && item.data.length < 1">{{item.type}}</label>
									</div>
									<img src="{{item.data}}" ng-if="item.type == 'Image' && !item.edit" style="max-height:60px">
									<!--<i ng-if="item.type != 'Entry'" class="glyphicon glyphicon-edit" ng-hide="item.edit" ng-click="item.edit = true"></i>-->
									<i class="glyphicon glyphicon-text-width" ng-if="item.edit" ng-click="item.toolbar = !item.toolbar"></i>
									<i ng-if="item.type != 'Entry'" class="glyphicon glyphicon-ok" ng-show="item.edit" ng-click="item.edit = false"></i>
									<i ng-show="item.edit" class="glyphicon glyphicon-remove" ng-click="ctrl.removeWidget(item)" ng-if="item.type != 'Entry'"></i>
									<p class="widget-text" ng-bind-html="item.data" ng-show="!item.edit && item.type != 'Image'"></p>
									<div ng-show="item.type != 'Image' && item.edit" class="height100per">
										<div class="invoice-input" set-iframe-height ng-class="{hidden:!item.edit, 'hide-toolbar': item.toolbar}">
											<textarea class="height100per" ui-tinymce="tinymceOptions" ng-model="item.data"></textarea>
										</div>
									</div>
									<div ng-if="item.type === 'Image' && item.edit" class="mrT2" style="position: relative;">
										<form class="form-inline" enctype="multipart/form-data">
											<div class="form-group" ng-hide="item.showImage">
<!-- 												<button type="file"
																ng-model="item.uploadFile"
																class="btn btn-primary"
																ngf-select="ctrl.uploadImages($files,'logo', item)"
																ngf-pattern="image/*"
																accept="image/*"
																ngf-max-size="200KB"
																ngf-multiple="false"
														>
													<i class="glyphicon glyphicon-folder-open"></i>
													&nbsp; Upload Logo</button><br/>
												<small>* Image size should be max 200KB</small> -->
												<div class="upload_div">
												  <input type="file" name="proformaLogo" id="proformaLogo" file-model="item.uploadFile" ng-click="$event.stopPropagation()">
												  <label for="proformaLogo" class="upload-btn"><i class="glyphicon glyphicon-upload"></i> Upload Image</label>
												  <button class="btn btn-md btn-default" ng-click="ctrl.uploadImages('logo', item, false)">Upload</button>
												</div>
												<!-- <input type="file" name="proformaLogo" id="proformaLogo" file-model="item.uploadFile" ng-click="$event.stopPropagation()">
            									<button class="btn btn-sm btn-default" ng-click="ctrl.uploadImages('logo', item, false)">upload</button> -->

											</div>
											<div class="form-group" ng-if="item.showImage">
												<img ngf-src="item.uploadFile" style="max-height:60px"><br>
												<button class="btn btn-md btn-default" ng-click="ctrl.uploadImages('logo', item, true)">Reset Logo</button>
												<!-- <a href="javascript:void(0)" ng-click="ctrl.uploadImages('logo', item, true)">Reset Logo</a> -->
											</div>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>

			</div>
		</div>
		<!-- end row -->


	</div>
</div>