<script>
  function validateThis(input) {
    if (input.value < -90) input.value = -90;
    if (input.value > 90) input.value = 90;
  }
</script>
<div class="col-xs-12">
  <div  class="middleBody bdrR bdrL row" auto-height style="overflow-y:scroll;">
    <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="20" min-scrollbar-length="20">
      <uib-tabset justified="false">
        <uib-tab heading="{{tabs[0].title}}" active="tabs[0].active" class="background-transparent" select="getAllSetting(); setTab(0)">
          <div class="container-fluid mrT1 form-group">
            <table class="table-bordered table">
              <thead>
              <th>Settings</th>
              <th>Invoice</th>
              <th>Proforma</th>
              </thead>
              <tbody>

              <tr>
                <td>Send alert</td>
                <td colspan="2">
                  <div class="row">
                    <div class="col-xs-12">
                      <div ng-repeat="webhook in webhooks" class="row pd1">
                        <div class="col-xs-7 pd0 mrR1">
                          <input ng-disabled="true" type="text" class="form-control" placeholder="Add webhook url" ng-model="webhook.url">
                        </div>
                        <div class="col-xs-1 pd0">
                          <input ng-disabled="true" type="text" class="form-control" placeholder="days" ng-model="webhook.triggerAt">
                        </div>
                        <div class="col-xs-2">
                          <select ng-disabled="true" class="form-control" ng-model="webhook.entity">
                            <option>proforma</option>
                            <option>invoice</option>
                          </select>
                        </div>
                        <div class="col-xs-1 mrT1">
                          <i class="glyphicon glyphicon-trash" ng-click="deleteWebhook(webhook)"></i>
                        </div>
                      </div>
                      <div class="row pd1" ng-if="addWebhook.url != undefined">
                        <div class="col-xs-7 pd0 mrR1">
                          <input type="text" class="form-control" placeholder="Add webhook url" ng-model="addWebhook.url">
                        </div>
                        <div class="col-xs-1 pd0">
                          <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45' onchange="validateThis(this)" class="form-control" placeholder="days" ng-model="addWebhook.triggerAt">
                        </div>
                        <div class="col-xs-2">
                          <select class="form-control" ng-model="addWebhook.entity">
                            <option>proforma</option>
                            <option>invoice</option>
                          </select>
                        </div>
                        <div class="col-xs-1 mrT1">
                          <i class="glyphicon glyphicon-ok" ng-click="saveWebhook()"></i>
                        </div>
                      </div>
                      <div ng-if="webhooks.length < 10 && addWebhook.url == undefined" class="row pd1">
                        <i class="glyphicon glyphicon-plus-sign mr" ng-click="showWebhook()">Add new webhook</i>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Auto mail when generated</td>
                <td>
                  <!-- <input type="checkbox" ng-model="settings.invoiceSettings.autoMail"> -->
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!settings.invoiceSettings.autoMail" ng-click="settings.invoiceSettings.autoMail = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="settings.invoiceSettings.autoMail" ng-click="settings.invoiceSettings.autoMail = false">
                </td>
                <td>
                  <!-- <input type="checkbox" ng-model="settings.proformaSettings.autoMail"> -->
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!settings.proformaSettings.autoMail" ng-click="settings.proformaSettings.autoMail = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="settings.proformaSettings.autoMail" ng-click="settings.proformaSettings.autoMail = false">
                </td>
              </tr>

              <tr>
                <td>Default due date</td>
                <td>
                  <div class="col-xs-3 pdL-0">
                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3" ng-model="settings.invoiceSettings.duePeriod" class="form-control"/>
                  </div>
                  Days
                </td>
                <td>
                  <div class="col-xs-3 pdL-0">
                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3" ng-model="settings.proformaSettings.duePeriod" class="form-control"/>
                  </div>
                  Days
                </td>
              </tr>

              <tr>
                <td>Create entry after payment using any payment gateway</td>
                <td>
                  <!-- <input type="checkbox" ng-model="settings.invoiceSettings.createPaymentEntry"> -->
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!settings.invoiceSettings.createPaymentEntry" ng-click="settings.invoiceSettings.createPaymentEntry = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="settings.invoiceSettings.createPaymentEntry" ng-click="settings.invoiceSettings.createPaymentEntry = false">
                </td>
                <td>
                  <!-- <input type="checkbox" ng-model="settings.proformaSettings.createPaymentEntry"> -->
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!settings.proformaSettings.createPaymentEntry" ng-click="settings.proformaSettings.createPaymentEntry = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="settings.proformaSettings.createPaymentEntry" ng-click="settings.proformaSettings.createPaymentEntry = false">
                </td>
              </tr>
              <tr>
                <td>Show Seal according to status of payment</td>
                <td>
                  <!-- <input type="checkbox" ng-model="settings.invoiceSettings.createPaymentEntry"> -->
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!settings.invoiceSettings.showSeal" ng-click="settings.invoiceSettings.showSeal = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="settings.invoiceSettings.showSeal" ng-click="settings.invoiceSettings.showSeal = false">
                </td>
                <td>
                  <!-- <input type="checkbox" ng-model="settings.proformaSettings.createPaymentEntry"> -->
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!settings.proformaSettings.showSeal" ng-click="settings.proformaSettings.showSeal = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="settings.proformaSettings.showSeal" ng-click="settings.proformaSettings.showSeal = false">
                </td>
              </tr>
              </tbody>
            </table>
            <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
          </div>
        </uib-tab>
        <!-- manage taxes -->
        <uib-tab heading="{{tabs[1].title}}" active="tabs[1].active" id="taxes" select="getTax(); setTab(1);showTaxTab=true">
          <div class="pd2" ng-if="showTaxTab" ng-init="initTaxFormObj()">
            <h3 class="fs16 mrB1">Create New Tax</h3>
            <div class="form-wrapper" style="max-width:460px">
              <form name="createTax" novalidate>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <ui-select ng-model="createTaxData.taxType" theme="bootstrap">
                        <ui-select-match placeholder="Select type of TAX to add"><span>{{$select.selected}}</span></ui-select-match>
                        <ui-select-choices repeat="val in typeOfTaxList | limitTo : 6 | filter: $select.search"><span ng-bind-html="val"></span></ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input type="text" name="createTax.taxNumber" required ng-model="createTaxData.taxNumber" class="form-control" placeholder="Unique No.">
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input type="text" name="createTax.name" required ng-model="createTaxData.name" class="form-control" placeholder="Name">
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="createTaxData.taxType === 'Other'">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <ui-select allow-clear ng-model="createTaxData.account" theme="bootstrap">
                        <ui-select-match placeholder="Linked Account" reset-search-input="true">
                          {{$select.selected.name}}
                        </ui-select-match >
                        <ui-select-choices
                            repeat="acc in queryFltAccnt | omit:isCurrentAccount | limitTo : 5 | filter: $select.search" refresh="getFlatAccntsByQuery($select.search)">
                          <span>{{acc.name}} ({{acc.uniqueName}})</span>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <p class="text-danger mrB1" ng-if="noResultsTax"> No Result found <a href="javascript:void(0)" ng-click="addNewAccountBytaxes()">Create New Account</a></p>
                </div>


                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="mrB">-100 to 100</label>
                      <input type="text" name="createTax.taxValue" required ng-model="createTaxData.taxDetail[0].taxValue" class="form-control" placeholder="Value"  maxlength="6">
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="mrB">Apply Tax From:</label>
                      <p class="input-group">
                        <input type="text" class="form-control"
                         uib-datepicker-popup="{{format}}" required
                         datepicker-options="dateOptions"
                         is-open="fromDatePickerIsOpen"
                         ng-click="fromDatePickerOpen()"
                         ng-model="createTaxData.taxDetail[0].date"
                         placeholder="from date"
                         name=""/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="fromDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- ng-if="createTaxData.taxType !== 'Other'" -->
                <div class="row mrB1">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="mrB">Tax Duration:</label>
                      <select
                          required
                          class="form-control"
                          name="createTax.duration"
                          ng-model="createTaxData.duration"
                          ng-options="item for item in taxTypes">
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="mrB">Tax File Date:</label>
                      <select
                          required
                          class="form-control"
                          name="createTax.taxFileDate"
                          ng-model="createTaxData.taxFileDate"
                          ng-options="item for item in monthDays">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-block" type="submit" ng-disabled="createTax.$invalid" ng-click="createTax.$valid && addNewTax(); isAddNewTax=true">Add</button>
                </div>
              </form>
              <!-- end of form -->
            </div>
            <!-- end of form wrapper -->
            <hr class="mrB1">
            <h3 class="fs16 mrB1" ng-if="taxList.length > 0">Added Taxes</h3>
            <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="20" min-scrollbar-length="20">
              <table class="taxTable table table-bordered" ng-if="taxList.length > 0">
                <thead>
                <th class="col-xs-1">Tax #</th>
                <th class="col-xs-2">Name</th>
                <th class="col-xs-3">Percentage</th>
                <th class="col-xs-2">Linked Ac</th>
                <th class="col-xs-1">Duration</th>
                <th class="col-xs-1">Type</th>
                <th class="col-xs-1">Day</th>
                <th class="col-xs-1">Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="item in taxList track by $index">
                  <td><input class="form-control" type="text" ng-model="item.taxNumber" ng-disabled="!item.editMode"/></td>
                  <td><input class="form-control" type="text" ng-model="item.name" ng-disabled="!item.editMode"/></td>
                  <td class="nopad">
                    <table class="nopad inner-table" style="width:100%">
                      <thead>
                      <th class="col-xs-5">
                        <div class="pdBth06">Date</div>
                      </th>
                      <th class="col-xs-5">
                        <div class="pdBth06">Percentage</div>
                      </th>
                      </thead>
                      <tbody>
                      <tr ng-repeat="tax in item.taxDetail | orderBy: tax.date">
                        <td>
                          <input class="form-control" type="text" ng-model="tax.date" ng-disabled="!item.editMode"/>
                        </td>
                        <td>
                          <section class="form-inline">
                            <div class="form-group">
                              <input class="form-control" type="text" ng-model="tax.taxValue" ng-disabled="!item.editMode"/>
                            </div>
                          </section>
                        </td>
                        <td ng-if="item.editMode">
                          <div class="form-group" style="margin-bottom:0">
                            <i tooltip-placement="top" uib-tooltip="Add new row" class="glyphicon glyphicon-plus" ng-click="addNewSlabAfter(tax, $index)"></i>
                            <i tooltip-placement="top" uib-tooltip="Delete row" class="glyphicon glyphicon-minus" ng-click="removeSlab(tax, $index)" ng-if="item.taxDetail.length > 1"></i>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <div ng-if="item.accounts.length == 0">
                      No Account Linked
                    </div>
                    <div ng-if="item.accounts.length <= 1">
                      <select ng-options="option.uniqueName as option.name for option in fltAccntListPaginated | searchAccountInPaginated:$viewValue" class="form-control" ng-model="item.accounts[0].uniqueName" ng-if="item.editMode">
                      </select>
                      <div class="pdBth06" ng-if="!item.editMode">{{item.accounts[0].name}}</div>
                    </div>
                    <div class="form-control" style="height: inherit;" ng-if="item.accounts.length > 1">
                      <span ng-repeat="acc in item.accounts">
                        {{acc.name}}<br>
                      </span>
                    </div>
                  <td>
                    <select class="form-control" ng-model="item.duration" ng-if="item.editMode">
                      <option ng-repeat="option in taxTypes">{{option}}</option>
                    </select>
                    <div class="pdBth06" ng-if="!item.editMode">{{item.duration}}</div>
                  </td>
                  <td>{{item.taxType}}</td>
                  <td>
                    <input class="form-control" type="text" ng-model="item.taxFileDate" ng-disabled="!item.editMode"/>
                  </td>
                  <td class="tdfsbig">
                    <div class="pdBth06">
                      <a ng-click="editTax(item)" href="javascript:void(0)" ng-if="!item.editMode"><i class="glyphicon glyphicon-pencil" tooltip-placement="top" uib-tooltip="Edit Tax" ></i></a>
                      <a ng-click="updateTax(item)" href="javascript:void(0)" ng-if="item.editMode" ><i class="glyphicon glyphicon-ok" tooltip-placement="top" uib-tooltip="Save Tax"></i></a>
                      <a ng-click="deleteTaxconfirmation(item)" href="javascript:void(0)"><i class="glyphicon glyphicon-trash" tooltip-placement="top" uib-tooltip="Delete Tax"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <!-- end of table -->
            </perfect-scrollbar>
            <script type="text/ng-template" id="editTaxModal.html">
              <div class="modal-header themeBg">
                <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Edit Tax</h3>
              </div>
              <div class="modal-body">

                <div class="form-inline clearfix mrT1 mrB1" ng-repeat="tax in taxEditData.taxDetail track by $index">
                  <div class="form-group mrR1">
                    <input type="text" class="form-control max150" ng-model="tax.date" placeholder="dd-mm-yyyy">
                  </div>
                  <div class="form-group mrR1">
                    <input type="text" class="form-control max150" ng-model="tax.taxValue" placeholder="%" format="percent"> %
                  </div>
                  <div class="form-group mrR1">
                    <a ng-click="removeSlab(tax, $index)" href="javascript:void(0)">
                      Remove
                    </a>
                  </div>
                  <div class="form-group">
                  <span class="" uib-dropdown  auto-close="outsideClick">
                    <a href id="slab-dropdown" uib-dropdown-toggle>
                      Insert new slab <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="slab-dropdown">
                      <li>
                        <a ng-click="addNewSlabBefore(tax, $index)" href="javascript:void(0)">Before</a>
                      </li>
                      <li>
                        <a ng-click="addNewSlabAfter(tax, $index)" href="javascript:void(0)">After</a>
                      </li>
                    </ul>
                  </span>
                  </div>
                </div>
                <!-- end repeat -->
              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-sm" ng-click="updateTax()">Save</button>
                <!--     <button class="btn btn-warning btn-sm" ng-click="cancelUpdateTax()">Cancel</button> -->
              </div>
            </script>


          </div>
        </uib-tab>
        <!-- end of manage taxes -->

        <uib-tab heading="{{tabs[2].title}}" active="tabs[2].active" id="email-settings" select="getKeys(); setTab(2)">
          <div class="pd2">
            <h3 class="fs16 mrB1">Bulk Email/Sms Settings</h3>
            <p>Currently we offer bulk email and sms services to our users through <a class="underline" href="https://sendgrid.com/" target="_blank">SendGrid</a> (Transactional Email) and <a class="underline" href="https://msg91.com/" target="_blank">MSG91</a>(Transactional Route) respectively. <br/> In order to be able to send bulk emails and sms you would require auth-keys and sender ID from aforementioned providers. </p>

            <hr>

            <div style="overflow:hidden">
              <h3 class="fs16 mrB1 mrT2">MSG91</h3>
              <form name="msg91_keys">
                <div class="form-group">
                  <label>Auth Key</label>
                  <input type="text" placeholder="enter auth-key" class="form-control max350" ng-model="msg91.authKey"/>
                </div>
                <div class="form-group">
                  <label>Sender ID</label>
                  <input type="text" placeholder="enter sender Id" class="form-control max350" ng-model="msg91.senderId"/>
                </div>
                <button type="submit" class="btn btn-success pull-left" ng-disabled="msg91_keys.$invalid" ng-click="saveMsg91()">Save</button>
              </form>
            </div>

            <hr class="mrT1 mrB1">

            <div style="overflow:hidden">
              <h3 class="fs16 mrB1 mrT1">SendGrid</h3>
              <form name="sGrid_keys">
                <div class="form-group">
                  <label>Auth Key</label>
                  <input type="text" placeholder="enter auth-key" class="form-control max350" ng-model="sGrid.authKey"/>
                </div>
                <div class="form-group">
                  <label>Email Subject</label>
                  <input type="text" placeholder="enter email subject" class="form-control max350" ng-model="sGrid.subject"/>
                </div>
                <button type="submit" class="btn btn-success pull-left" ng-disabled="sGrid_keys.$invalid" ng-click="saveSendGrid()">Save</button>
              </form>
            </div>

          </div>
        </uib-tab>


        <!--linked bank accounts section-->
        <uib-tab heading="{{tabs[3].title}}" active="tabs[3].active" select="loadYodlee(); setTab(3)">
          <div class="pd2 clearfix">
            <h1 class="mrB1">Add Bank Account </h1>
            <button ng-click="connectBank()" class="btn btn-primary">Connect Bank</button>
            <div class="mrT1">NOTE: In case you do not see your bank listed in Added Accounts even after getting a success message, please check again after some time.</div>
            <hr class="mrT2 col-xs-11">
            <div class="mrT2 col-xs-12 pd0">
              <h1 class="pull-left">Added Accounts</h1>
              <button class="btn btn-primary btn-sm pull-right" ng-click="refreshAccounts()" ng-if="linkedAccountsExist">Refresh</button>
              <div class="col-xs-12 mrT1 pd0" ng-if="banks.linked.length > 0">
                <section class="linked-accounts clearfix" ng-repeat="account in banks.linked | orderBy: 'siteName'">
                  <aside class="title">{{account.siteName}}</aside>
                  <aside class="body">
                    <aside class="account-card" ng-repeat="card in account.accounts">
                      <div class="reconnectDiv" ng-if="card.reconnect">
                        <button class="btn btn-sm btn-info reconnectButton" ng-click="reconnectAccount(card)">Reconnect</button>
                        <button class="btn btn-sm btn-danger reconnectButton" style="top:60%;left:28%; width:109px;" ng-click="deleteAddedBank(card)">Delete</button>
                      </div>
                      <a><i class="pull-left glyphicon glyphicon-refresh refresh-icon" ng-disabled="card.reconnect" ng-click="refreshToken(card)"></i></a>
                      <h1 ng-bind="card.name"  uib-tooltip="{{card.name}}"></h1>
                      <div class="account-number">
                        <b>Account</b>: {{card.accountNumber}}
                      </div>
                      <div class="account-date">
                        <b>Entries From</b>:
                        <a href="javascript:void(0)">
                          {{card.transactionDate | date}}
                          <input
                              ng-change='changedate(card.transactionDate)'
                              type="text" class="transaction-date"
                              uib-datepicker-popup="{{format}}" required
                              datepicker-options="dateOptionsBanks"
                              is-open="fromDatePickerIsOpen"
                              ng-click="fromDatePickerOpen(); setItemAccountId(card)"
                              ng-model="card.transactionDate"
                              max-date="today"
                              min-date="beforeThreeMonths"
                              placeholder="from date"/>
                        </a>
                      </div>
                      <div class="balance">
                        {{card.currencyCode}} {{card.amount}}
                      </div>
                      <div class="with" ng-if="card.linkedAccount != null">
                        Linked with: {{card.linkedAccount.name}} ({{card.linkedAccount.uniqueName}})
                      </div>
                      <div class="select-account" ng-if="card.showAccList">
                        <ui-select ng-model="banks.toLink" theme="bootstrap" on-select="LinkGiddhAccountConfirm($select.selected)">
                          <ui-select-match placeholder="Select Accounts">
                            <span>{{$select.selected.name}}</span>
                          </ui-select-match >
                          <ui-select-choices
                              ui-disable-choice="acc.uniqueName === selAcntUname"
                              repeat="acc in AccountsListToLink | filter: $select.search | limitTo: 5">
                            <span>{{acc.name}} ({{acc.uniqueName}})</span>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                      <button class="btn btn-sm btn-warning pull-right" ng-if="card.showAccList" ng-disabled="card.reconnect" ng-click="card.showAccList = !card.showAccList" style="margin-top:5px">Not Now</button>
                      <button class="btn btn-sm btn-info" ng-if="card.linkedAccount == null && !card.showAccList" ng-disabled="card.reconnect" ng-click="linkGiddhAccount(card)">Link Account</button>
                      <button class="btn btn-sm btn-danger mrT1" ng-if="card.linkedAccount.name.length > 0" ng-disabled="card.reconnect" ng-click="removeGiddhAccount(card)">Unlink Account</button>
                      <a class="delete-bank" ng-disabled="card.reconnect" ng-click="deleteAddedBank(card)" uib-tooltip="Delete Bank" tooltip-placement="left"><i class="glyphicon glyphicon-trash"></i></a>
                    </aside>
                  </aside>
                </section>
              </div>
            </div>
          </div>
        </uib-tab>
        <!-- end of yodlee tabs -->

        <uib-tab heading="{{tabs[4].title}}" active="tabs[4].active" select="getRazorPayDetails(); setTab(4);showRazorPayTab=true">
          <div class="col-xs-3 pd3" cover-page ng-if="showRazorPayTab">
            <div class="row pd1">
              <label>Razorpay details :</label>
            </div>
            <div class="row pd1">
              <label>Key Id <span class="required">*</span></label>
              <input class="form-control" type="text" placeholder="Key Id" ng-model="razorPayDetail.userName">
            </div>
            <div class="row pd1">
              <label>Secret<span class="required">*</span></label>
              <input class="form-control" type="password" placeholder="Secret key" ng-model="razorPayDetail.password">
            </div>
            <div class="row pd1">
              <label>Link Account</label>
              <div class="input-group">
                <ui-select allow-clear ng-model="razorPayDetail.account" theme="bootstrap">
                  <ui-select-match placeholder="Select Accounts" reset-search-input="true">
                    {{$select.selected.name}}
                  </ui-select-match >
                  <ui-select-choices
                      repeat="acc in queryFltAccnt | omit:isCurrentAccount | limitTo : 5 | filter: $select.search" refresh="getFlatAccntsByQuery($select.search)">
                    <span>{{acc.name}} ({{acc.uniqueName}})</span>
                  </ui-select-choices>
                </ui-select>
                    <span class="input-group-btn">
                      <button type="button" ng-click="unlinkAccount(razorPayDetail)" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </span>
              </div>
            </div>
            <div class="row pd1">
               <img style="max-height:18px;" src="/public/webapp/Globals/images/unchecked.png" ng-if="!razorPayDetail.autoCapturePayment" ng-click="razorPayDetail.autoCapturePayment = true">
                  <img style="max-height:18px;" src="/public/webapp/Globals/images/checked.png" ng-if="razorPayDetail.autoCapturePayment" ng-click="razorPayDetail.autoCapturePayment = false"> Automatic capture on payment
            </div>
            <div class="row">
              <div class="col-xs-3 pdL1">
                <button ng-if="!updateRazor" class="btn btn-default" ng-click="saveRazorPayDetails(razorPayDetail)">Save</button>
                <button ng-if="updateRazor" class="btn btn-default" ng-click="updateRazorPayDetails(razorPayDetail)">Update</button>
              </div>
              <div class="col-xs-3">
                <button ng-if="updateRazor" class="btn btn-danger" ng-click="deleteRazorPayDetail()">Delete</button>
              </div>
            </div>
          </div>
        </uib-tab>

        <!--basic info-->
        <uib-tab heading="{{tabs[5].title}}" active="tabs[5].active" id="basic" select="setCompanyCountryDefault()">
          <div class="pd2" ng-controller="companyController">
            <fieldset ng-disabled="!canManageCompany">
            <form id="cmpnyBascFrm" name="cmpnyBascFrm" novalidate ng-init="setFormScope(this)">
              <p ng-hide="cmpnyBascFrm.$submitted || !ecmpnyBascFrm.cCountry.$invalid" class="bg-warning pd1 mrB1">
                For better experience fill all details of form
              </p>
              <input type="hidden" ng-model="selectedCompany.uniqueName" name="cUniqName"/>

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group"
                       ng-class="(cmpnyBascFrm.cName.$valid  && cmpnyBascFrm.cName.$touched) ? 'has-success' : (cmpnyBascFrm.cName.$touched) ? 'has-error' : '' ">
                    <label>Name</label>
                    <input type="text" ng-model="selectedCompany.name" class="form-control" required name="cName"
                           tabindex="1">
                  </div>
                  <div class="form-group">
                    <label>Uniquename</label>
                    <input ng-readonly="true" type="text" ng-model="selectedCompany.uniqueName" class="form-control"  name="cUname" required>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" ng-model="selectedCompany.email" class="form-control" name="cEmail"
                           tabindex="2">
                  </div>
                  <div class="form-group"
                      ng-class="(cmpnyBascFrm.cContact.$valid  && cmpnyBascFrm.cContact.$touched) ? 'has-success' : (cmpnyBascFrm.cContact.$touched) ? 'has-error' : '' ">
                    <label>Contact</label>
                    <script type="text/ng-template" id="cityTemplate.html">
                      <a>
                        <span ng-bind-html="match.label"></span>
                        <span ng-bind-html="match.model.countryName"></span>
                      </a>
                    </script>
                    <div class="row">

                      <div class="col-xs-3">

                        <input type="hidden" ng-model="selectedCompany.contactNo">

                        <input type="text" ng-model="selectedCompany.cCode"
                               uib-typeahead="country as country.value for country in countryCodesList | filter:$viewValue | limitTo:8"
                               class="form-control" typeahead-template-url="cityTemplate.html" placeholder="91" tabindex="3"/>

                      </div>
                      <div class="col-xs-9"> 
                        <input type="text" placeholder="98XXXXXXXX" class="form-control" name="onlyMobileNo" 
                               ng-model="selectedCompany.mobileNo" valid-number tabindex="4"/>
                      </div>
                    </div>

                  </div>
                  <div class="form-group"
                       ng-class="(cmpnyBascFrm.cAddress.$valid  && cmpnyBascFrm.cAddress.$touched) ? 'has-success' : (cmpnyBascFrm.cAddress.$touched) ? 'has-error' : '' ">
                    <label>Address</label>
                    <textarea ng-model="selectedCompany.address" class="form-control" name="cAddress" 
                              tabindex="5"/>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group"
                       ng-class="(cmpnyBascFrm.cCountry.$valid  && cmpnyBascFrm.cCountry.$touched) ? 'has-success' : (cmpnyBascFrm.cCountry.$touched) ? 'has-error' : '' ">
                    <label>Country</label>
                    <input type="text" ng-model="selectedCompany.country"
                           uib-typeahead="address.long_name for address in getCountry($viewValue)" typeahead-loading="loadingLocationsC"
                           typeahead-no-results="noResultsC" class="form-control" name="cCountry" autocomplete="off"
                           tabindex="6" >
                    <i ng-show="loadingLocationsC" class="glyphicon glyphicon-refresh"></i>

                    <div ng-show="noResultsC">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>

                  </div>
                  <div class="form-group"
                       ng-class="(cmpnyBascFrm.cState.$valid  && cmpnyBascFrm.cState.$touched) ? 'has-success' : (cmpnyBascFrm.cState.$touched) ? 'has-error' : '' ">
                    <label>State</label>
                    <input type="text" 
                      ng-model="selectedCompany.state"
                      uib-typeahead="address.long_name for address in getState($viewValue)" typeahead-loading="loadingLocationsS"
                      typeahead-no-results="noResultsS" class="form-control" name="cState" autocomplete="off"
                      tabindex="7" ng-disabled="cmpnyBascFrm.cCountry.$invalid && selectedCompany.country" required>
                    <i ng-show="loadingLocationsS" class="glyphicon glyphicon-refresh"></i>

                    <div ng-show="noResultsS">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>

                  </div>
                  <div class="form-group"
                       ng-class="(cmpnyBascFrm.cCity.$valid  && cmpnyBascFrm.cCity.$touched) ? 'has-success' : (cmpnyBascFrm.cCity.$touched) ? 'has-error' : '' ">
                    <label>City</label>
                    <input type="text" 
                      ng-model="selectedCompany.city"
                      uib-typeahead="address.long_name for address in getCity($viewValue)" typeahead-loading="loadingLocationsCt"
                      typeahead-no-results="noResultsCt" class="form-control" name="cCity" autocomplete="off"
                      tabindex="8" ng-disabled="cmpnyBascFrm.cState.$invalid && selectedCompany.state" required>
                    <i ng-show="loadingLocationsCt" class="glyphicon glyphicon-refresh"></i>

                    <div ng-show="noResultsCt">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group"
                           ng-class="(cmpnyBascFrm.cCurrency.$valid  && cmpnyBascFrm.cCurrency.$touched) ? 'has-success' : (cmpnyBascFrm.cCurrency.$touched) ? 'has-error' : '' ">
                        <label>Currency</label>
                        <input type="text" ng-model="selectedCompany.baseCurrency" class="form-control"
                         ng-model="currencySelected"
                         uib-typeahead="currency for currency in currencyList | filter:$viewValue | limitTo:4" required
                         name="cCurrency" autocomplete="off" tabindex="9">

                      </div>
                    </div>
                    <div class="col-xs-8">
                      <!--<div class="form-group"
                           ng-class="(cmpnyBascFrm.cPincode.$valid  && cmpnyBascFrm.cPincode.$touched) ? 'has-success' : (cmpnyBascFrm.cPincode.$touched) ? 'has-error' : '' ">
                        <label>Multicurrency?</label>
                        <input type="checkbox" ng-model="selectedCompany.isMultipleCurrency" name="multiCurrency" tabindex="10">
                      </div>-->
                      <div class="form-group pdT2">
                          <div class="checkbox">
                              <label ng-click="$event.stopPropagation()">
                                  <input type="checkbox" ng-model="selectedCompany.isMultipleCurrency" name="multiCurrency">Multicurrency?
                              </label>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group"
                           ng-class="(cmpnyBascFrm.cpanNumber.$valid  && cmpnyBascFrm.cpanNumber.$touched) ? 'has-success' : (cmpnyBascFrm.cpanNumber.$touched) ? 'has-error' : '' ">
                        <label>PAN Number</label>
                        <input type="text" ng-model="selectedCompany.panNumber" class="form-control" name="cpanNumber" tabindex="10" maxlength="10" ng-change="validatePanNum(selectedCompany.panNumber)">

                      </div>
                      <div ng-if="invalidPan"><p class="alert alert-danger pd1">Invalid PAN Number</p></div>
                    </div>
                    <div class="col-xs-8">
                      <div class="form-group"
                           ng-class="(cmpnyBascFrm.cPincode.$valid  && cmpnyBascFrm.cPincode.$touched) ? 'has-success' : (cmpnyBascFrm.cPincode.$touched) ? 'has-error' : '' ">
                        <label>Pincode</label>
                        <input type="text" ng-model="selectedCompany.pincode" class="form-control" required
                               pattern="^[0-9]*$" name="cPincode" tabindex="10" valid-number>

                      </div>
                    </div>
                  </div>
                </div>

                <!--  GST START -->

                  <div class="col-xs-6 clearfix mrT2 companyGst">

                    <h1 class="bdrB pdB1">Add GST Detail <span class="grey_clr">(Note: Check to Set to Default)</span>
                      <div class="pdB1">
                        <span class="pull-right"><i class="fa fa-plus cursor-pointer" aria-hidden="true" ng-click="addNewGst()"></i></span>
                      </div>
                    </h1>
                      <div class="mrT1 clearfix gst_row">
                      <ul class="gstList h100">
                          <li ng-repeat="gst in gstDetail" class="pos-rel gst clearfix">
                            <div class="col-xs-5 pd0">
                              <span class="col-xs-12 pd0 pdB1">
                                <label class="w100">GST No.</label>
                                <input type="text" class="form-control" ng-model="gst.gstNumber" ng-change="getStateCode(gst.gstNumber, gst)" maxlength="15" name="gstNumber"/>
                              </span>
                              <span class="col-xs-12 pd0">
                                <label class="w100">State</label>
                                 <input type="text" ng-model="gst.addressList[0].stateName" ng-readonly="gst.gstNumber > 2" typeahead-append-to-body="true" uib-typeahead="state.name for state in stateList | filter:$viewValue" class="form-control" />
                              </span>
                            </div>
                            <div class="col-xs-7 pd0">
                              <span class="col-xs-12">
                                <label class="w100">Address</label>
                                <textarea ng-model="gst.addressList[0].address" class="form-control" rows="4" name="gstAddress"></textarea>
                              </span>
                            </div>
                            <i class="fa fa-times cursor-pointer" aria-hidden="true" ng-click="deleteGst(gst, $index)"></i>
                            <span class="Default_box">
                            <input type="checkbox"  name="isDefault" ng-model="gst.addressList[0].isDefault" ng-click="checkIsDefault(gst, $event)" />
                            </span>
                          </li>
                      </ul>
                      </div>
                  </div>

                <!-- GST END -->
              </div>
              <!-- end of row -->
              <div class="clearfix">
                <button ng-hide="!canManageCompany" tabindex="11" ng-click="updateCompanyInfo(selectedCompany)" class="btn btn-primary mrT1">Update
                </button>
              </div>
            </form>
            </fieldset>
            <!-- end of change basic info -->
          </div>
        </uib-tab>

        <!--shared list-->
        <uib-tab ng-if="canManageCompany" heading="{{tabs[6].title}}" active="tabs[6].active" id="permission" select="getSharedList();showPermissionTab = true">
          <div class="pd2" ng-controller="companyController" ng-if="showPermissionTab">
            <div class="greyBox mrB2">
              <form name="addShareEmailForm" novalidate class="form-inline">
                <div class="form-group">
                  <label class="mrR1">Give permission to:</label>
                  <input ng-model="shareRequest.emailId" name="userEmail" type="text" class="form-control" placeholder="Uniquename/Email ID" required/>
                </div>
                <div class="form-group">
                  <select 
                    class="form-control"
                    name="userRole" 
                    ng-model="shareRequest.roleUniqueName"
                    ng-options="item.uniqueName as item.name for item in shareableRoles">
                  </select>
                </div>
                <div class="form-group">
                  <button ng-disabled="addShareEmailForm.$invalid" class="btn btn-primary mrL1"
                          ng-click="shareCompanyWithUser()">
                    Add
                  </button>
                </div>
              </form>
            </div>
            
            <div ng-repeat="usrGrp in sharedUsersList">
              <div class="lead mrB1">{{usrGrp.name}}</div>
              <div class="mrB1"><i class="fa fa-user"></i> {{usrGrp.rows[0].userUniqueName}}</div>
              <table width="100%" class="table bdrB">
                <tbody>
                  <tr ng-repeat="user in usrGrp.rows">
                    <td width="30%">&nbsp;</td>
                    <td width="16%">
                      <input class="form-control" value="{{user.roleName}}">
                    </td>
                    <td width="22%">
                      <input ng-if="user.from && user.to" class="form-control" value="{{user.from}} - {{user.to}}" />
                      <input ng-if="user.period && user.duration" class="form-control" value="Past &nbsp;{{user.duration}} &nbsp; {{user.period}}S" />
                    </td>
                    <td width="22%">
                      <input ng-if="user.ipsStr" class="form-control" value="{{user.ipsStr}}">
                      <input ng-if="user.cidrsStr" class="form-control" value="{{user.cidrsStr}}">
                    </td>
                    <td width="10%" class="alC">
                      <i ng-click="unSharedUser(user)" class="fa fa-trash cp"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <!-- <ul class="list-group ln">

              <li ng-repeat="(key,value) in sharedUsersList | pick: exceptOwnEmail track by $index" class="list-group-item">

                <div class="row">
                  <div class="col-xs-6">
                    <span class="pull-left mrR1">
                      <i ng-if="value.role.uniqueName != 'super_admin_off_the_record'" class="glyphicon glyphicon-user"></i>
                      <i ng-if="value.role.uniqueName == 'super_admin_off_the_record'" class="glyphicon glyphicon-star"></i>
                    </span>
                    <span class="pull-left">
                      <div ng-bind-html="value.userName">
                      </div>
                      <small ng-bind-html="value.userEmail"></small>
                    </span>
                  </div>

                  <div class="col-xs-6">

                    <div class="form-inline">
                      <div class="form-group">
                        <select 
                          class="form-control"
                          ng-change="updateUserRole(value.role.uniqueName, value.userEmail)"
                          ng-model="value.role.uniqueName"
                          ng-options="item.uniqueName as item.name for item in shareableRoles">
                        </select>
                      </div>
                      <span class="delIcon">
                        <i class="glyphicon glyphicon-trash" ng-click="unSharedUser(value.userUniqueName, $index)"></i>
                      </span>
                    </div>

                  </div>

                </div>

              </li>

            </ul> -->

          </div>
        </uib-tab>

        <!-- start transaction tab -->
        <uib-tab ng-if="canManageCompany" heading="{{tabs[7].title}}" active="tabs[7].active" id="payment">
          <div class="pd2" ng-controller="companyController">
            <div class="clearfix mrB1 form-inline">
              <div class="form-group mrR1">
                <h3 class="fs16">Invoice amount {{selectedCompany.companySubscription.billAmount}} &#x20B9;</h3>
              </div>
              <div class="form-group">
                <button ng-disabled="!selectedCompany.companySubscription.paymentDue" ng-click="getWltBal()" class="btn btn-success">Pay Now</button>
                <!--  -->
              </div>
            </div>

            <!-- <div ng-if="chkWltBal">
              <div class="search-loading">
                <span class="spinner small"></span> Please wait we are recharging your wallet
              </div>
            </div> -->

            <!-- show payment options start-->
            <div ng-if="showPayOptns">
              <p class="lead mrB1">
                You don't have sufficient balance in your wallet. You have to make a payment of {{wlt.Amnt}}  &#x20B9;
              </p>
              <div class="checkbox">
                <label>
                  <input ng-change="resetDiscount(isHaveCoupon)" ng-model="isHaveCoupon" type="checkbox">Have a coupon code
                </label>
              </div>
              <form class="form-inline mrB2" name="couponForm" novalidate ng-show="isHaveCoupon">
                <div class="form-group mrR1" ng-class="(couponForm.couponcode.$valid  && couponForm.couponcode.$touched) ? 'has-success' : (couponForm.couponcode.$touched) ? 'has-error' : '' ">
                  <input type="text" name="couponcode" class="form-control max200" ng-model="coupon.code" placeholder="Coupon code" required autocomplete="off">
                </div>
                <button ng-disabled="couponForm.$invalid" class="btn btn-primary" ng-click="redeemCoupon(coupon.code)">Redeem</button>
              </form>
              <uib-alert ng-repeat="alert in payAlert" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
              <div ng-if="directPay">
                <div class="search-loading">
                  <span class="spinner small"></span> Please wait we are recharging your wallet
                </div>
              </div>
              <div class="">
                <button ng-disabled="disableRazorPay" razor-pay class="btn btn-primary">Pay with Razorpay</button>
              </div>
            </div>
            <!-- show payment option end -->


            <table class="mrT2 table table-bordered table-striped">
              <thead>
                <th>Subs. date</th>
                <th>Plan</th>
                <th>Auto pay</th>
                <th>Prim. payee</th>
                <th>Sec. payee</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr>
                  <td ng-bind-html="selectedCompany.companySubscription.subscriptionDate | moment: 'format': 'MMM DD, YYYY' "></td>
                  <td>
                    {{selectedCompany.companySubscription.servicePlan.planName}}
                  </td>
                  <td>
                    <switch name="autopay" on="On" off="Off" ng-model="selectedCompany.companySubscription.autoDeduct" class="wide"></switch>
                  </td>
                  
                  <td>
                    <ui-select 
                      ng-model="selectedCompany.companySubscription.primaryBiller"
                      theme="bootstrap"
                      ng-disabled="disabled"
                      reset-search-input="false"
                      on-select="primPayeeChange($item, $model)"
                    >
                      <ui-select-match placeholder="Select...">{{$select.selected.userName}}</ui-select-match>
                      <ui-select-choices 
                        ui-disable-choice="person.userUniqueName === selectedCompany.createdBy.uniqueName"
                        repeat="person in sharedUsersList">
                        <div ng-bind-html="person.userName"></div>
                        <small>
                          email: {{person.userEmail}}
                          age: {{person.userUniqueName}}
                        </small>
                      </ui-select-choices>
                    </ui-select>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-disabled="true" 
                    tooltip-placement="top" uib-tooltip="{{selectedCompany.createdBy.email}}"
                    ng-model="selectedCompany.createdBy.name">
                  </td>
                  <td>
                    <button ng-disabled="compSetBtn" class="btn btn-sm btn-info" ng-click="updateCompSubs(selectedCompany.companySubscription)">Update</button>
                  </td>
                </tr>
              </tbody>
            </table>

            
            <section ng-hide="compDataFound" class="mrT2">
              <a href="javascript:void(0)" ng-click="getCompanyTransactions()">
                Show Transaction logs
              </a>
            </section>
            <section ng-if="compDataFound">
              <div class="bdrB mrT2 mrB2"></div>

              <p class="lead mrB2">Transaction logs</p>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>User</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="value in compTransData.paymentDetail">
                    <td ng-bind-html="value.paymentDate | moment: 'format': 'MMM DD, YYYY' "></td>
                    <td>
                      <span class="mrR" ng-bind-html="value.balance.amount"></span>
                      <span class="text-success" ng-if="value.balance.type == 'CREDIT'">
                        (CR)
                      </span>
                      <span class="text-danger" ng-if="value.balance.type == 'DEBIT'">
                        (DR)
                      </span>
                    </td>
                    <td>
                      <div ng-bind-html="value.user.name" tooltip-placement="top" uib-tooltip="{{value.user.email}}"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button ng-hide="compTransData.totalPages <= 1" ng-disabled="nothingToLoadComp" class="btn btn-primary" ng-click="pageChangedComp(compTransData)">Load more</button>
            </section>

          </div>
        </uib-tab>
        <!-- end transaction tab -->

        <uib-tab ng-if="canManageCompany" heading="{{tabs[8].title}}" active="tabs[8].active" id="fin-year" select="getFY()">
          <div class="pd2">

              <h3 class="fs16 mrB1 mrT1">Financial Year(s) - {{fy.company}}</h3>
              <div class="">
                <table class="mrT3 table table-bordered table-striped">
                  <thead ng-if="fy.years.length > 0">
                    <tr>
                      <th>#</th>
                      <th>From</th>
                      <th>To</th>
                      <th colspan="2">Lock Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="year in fy.years track by $index">
                      <td>{{$index + 1}}</td>
                      <td>{{year.financialYearStarts}}</td>
                      <td>{{year.financialYearEnds}}</td>
                      <td ng-if="$index != 0">
                        <div ng-click="lockFY(year)">
                          <switch name="lockFY_{{$index}}" on="Lock" off="Unlock" ng-model="year.isLocked" class="wide100" ></switch>
                        </div>
                      </td>
                      <td ng-if="$index == 0"><p>Current Financial Year (can not be locked)</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <hr>

              <div>
                <h3 class="fs16 mrB1 mrT1">Switch Financial Year</h3>
                <div class="clearfix max350">
                  <ui-select ng-model="fy.selectedYear" theme="bootstrap">
                      <ui-select-match placeholder="Select Period">
                        <span>{{$select.selected.name}}</span>
                      </ui-select-match >
                      <ui-select-choices repeat="yr in fy.years | filter: $select.search">
                        <span ng-bind="yr.name"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <button class="btn btn-success mrT1 mrB1" ng-click="switchFY(fy.selectedYear)">Save</button>   
              </div>

              <hr>

              <div>
                <h3 class="fs16 mrB1 mrT1">Add Financial Year</h3>
                <div class="clearfix max350">
                  <ui-select ng-model="fy.newFY" theme="bootstrap">
                      <ui-select-match placeholder="Select Period">
                        <span>{{$select.selected}}</span>
                      </ui-select-match >
                      <ui-select-choices repeat="yr in fyYears | filter: $select.search | orderBy:yr">
                        <span ng-bind="yr"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <button class="btn btn-success mrT1 mrB1" ng-click="addFY(fy.newFY)">Save</button>   
              </div>
          </div>
        </uib-tab>


      </uib-tabset>
    </perfect-scrollbar>
  </div>
</div>