<style type="text/css">
@page {
  size: 8.5in 11in;
  margin: 2cm
}

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}

h1 {
  page-break-before: always;
}


/*end of print css*/

.invoiceContainer .row {
  margin-bottom: 20px;
}

.previewMode .form-control {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}

.previewMode .txtAreaWrap .form-control {
  padding: 0
}

.previewMode .txtAreaWrap input.form-control {
  height: 24px
}

.previewMode #two .form-control {
  padding: 0;
  height: 20px;
}

.previewMode .form-control.wid80 {
  width: 80px
}

.editMode .form-control.wid80 {
  width: 100px
}

.txtAreaWrap textarea.form-control {
  overflow: hidden;
  /*height: 1.2in*/
}

#one,
#two {
  height: .6in;
  overflow: hidden;
}

#three,
#four {
  height: 2in;
  overflow: auto !important;
}

#five {
  height: 2.5in;
}

#six,
#seven {
  height: 1.2in;
}

#eight {
  height: 2in;
}

#two label {
  display: block;
  text-align: left;
}

.form-inline .form-control.smlInp {
  width: 100px;
  padding: 6px 0 6px 4px;
}

.form-inline input[disabled].form-control.smlInp {
  width: 100px;
  padding: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.template_b #three,
#four {
  height: 2.5in;
  overflow: visible;
}

.vcenter {
  display: block;
  vertical-align: middle;
}

.modal-dialog.modal-a4 {
  /*margin: 0;*/
  width: 8.5in;
}

.modal-dialog.modal-a4 .modal-body {
  min-height: 11.5in
}

.modal-dialog.modal-a4 .modal-content {
  border-radius: 0
}

.modal-dialog.modal-a4 .modal-header span {
  position: absolute;
  left: 15px;
}

hr {
  margin: 10px 0 20px;
}

fieldset[disabled] .form-control {
  cursor: default;
  background-color: white
}

.thumb {
  height: 50px;
}

.modal-header.genPrevMode {
  height: 80px;
}

.genPrevMode span {
  top: 5px;
}

.genPrevMode .form-group {
  margin-bottom: 0;
}

textarea {
  resize: none;
}

textarea:disabled,
input:disabled {
  background: #fff !important;
}

.invHd {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  position: relative;
  top: -20px;
  margin: 0;
}

table.table {
  font-size: 13px;
  margin-top: 20px;
}

table td {
  vertical-align: top;
}

h3 {
  margin-bottom: 15px;
}

.thankyou {
  margin-top: 20px;
  border-bottom: 2px solid #E14926;
  margin-bottom: 15px;
}

.signature {
  border-top: 1px solid #ccc;
  margin-top: 60px;
  padding-top: 8px;
  width: 260px;
  float: right;
}
</style>
<div id="InvoiceTemplate" class="templateClass no-border">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss(); closePop()" aria-label="Close"><i aria-hidden="true">&times;</i></button>
    <span ng-if="!editMode && genPrevMode">
      <aside class="form-inline">
        
        <div class="form-group mrR">
          <button ng-disabled="editGenInvoice" ng-click="downloadInv()" class="btn btn-primary">Download</button>
        </div>
        
        <div class="form-group mrR" uib-dropdown auto-close="outsideClick">
          <button ng-disabled="editGenInvoice" id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle>Send Email</button>
          <ul class="dropdown-menu" uib-dropdown-menu template-url="invDropdown.html" aria-labelledby="button-template-url">
          </ul>
        </div>
        <div class="form-group">
          <h3 class="modal-title">Invoice</h3>
        </div>
      </aside>
    </span>

  </div>

<div class="modal-body">
  <div class="invoiceContainer">
    <fieldset ng-disabled="true">
      <div class="row">
        <div class="col-xs-12">
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>
                  <h3 style="color:#E14926 !important;">{{ defTempData.company.name }}</h3>
                  <table class="with-pd">
                    <tbody>
                      <tr>
                        <td style="padding-right: 15px; vertical-align: middle;">
                          <p><b>GSTIN</b></p>
                        </td>
                        <td>
                          <select class="form-control">
                            <option>{{defTempData.gstDetails.companyGstDetails.gstNumber}}</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td style="text-align: right">
                  <h3 style="color:#E14926 !important;">Total {{defTempData.grandTotal  | currency: "" : 2}}</h3>
                  <table style="float: right;">
                    <tbody>
                      <tr>
                        <td style="padding-right: 15px;">
                          <p><b>Invoice Date</b></p>
                          <p><b>Invoice No.</b></p>
                        </td>
                        <td>
                          <p>{{defTempData.invoiceDetails.invoiceDate}}</p>
                          <p>{{defTempData.invoiceDetails.invoiceNumber}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="border-bottom:2px solid #E14926 !important; margin-top: 10px;">&nbsp;</div>
      <div class="text-center">
        <h3 class="invHd" style="background: #fff !important; color:#E14926 !important;">TAX</h3>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="padding-right: 15px;">
                  <p><b>Customer Name</b></p>
                  <p>{{defTempData.account.name}}</p>
                  <p>{{defTempData.account.mobileNumber}}</p>
                  <p>{{defTempData.account.email}}</p>
                  <br />
                  <p><b>Due Date</b></p>
                  <p>{{defTempData.invoiceDetails.dueDate}}</p>
                </td>
                <td style="padding-right: 15px;">
                  <p><b>Billing Address</b></p>
                  <textarea class="form-control" ng-model="defTempData.gstDetails.accountGstBillingDetails.address[0]" placeholder="Address and other details" rows="5"></textarea>
                  <br />
                  <b>GSTIN</b>
                  <select class="form-control">
                    <option>{{defTempData.gstDetails.accountGstBillingDetails.gstNumber}}</option>
                  </select>
                </td>
                <td>
                  <p><b>Shipping Address</b></p>
                  <textarea class="form-control" ng-model="defTempData.gstDetails.accountGstShippingDetails.address[0]" placeholder="Address and other details" rows="5"></textarea>
                  <br />
                  <b>GSTIN</b>
                  <select class="form-control">
                    <option>{{defTempData.gstDetails.accountGstShippingDetails.gstNumber}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <table class="table">
        <thead style="background: #f5f5f5;">
          <tr>
            <th>Item</th>
            <th>HSN/SAC</th>
            <th>Qty.</th>
            <th class="text-right">Rate/
              <br />Item(₹)</th>
            <th class="text-right">Discount/
              <br />Item(₹)</th>
            <th class="text-right">Taxable
              <br />Value(₹)</th>
            <th class="text-right">SGST
              <br />₹</th>
            <th class="text-right">CGST
              <br />₹</th>
            <th class="text-right">CESS
              <br />₹</th>
            <th class="text-right">Total
              <br />₹</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in defTempData.gstDetails.gstEntries track by $index">
            <td>{{item.description}}</td>
            <td>123456</td>
            <td>10 No.</td>
            <td>1000.00</td>
            <td class="text-right">300.00</td>
            <td class="text-right">9700.00</td>
            <td class="text-right">970.00
              <br /><small>@10%</small></td>
            <td class="text-right">970.00
              <br /><small>@10%</small></td>
            <td class="text-right">00.00
              <br /><small>@0%</small></td>
            <td class="text-right">11000640.00</td>
          </tr>
        </tbody>
        <tfoot style="background: #f5f5f5;">
          <tr>
            <th colspan="5"></th>
            <th>30100.00</th>
            <th>2960.00</th>
            <th>2960.00</th>
            <th>00.00</th>
            <th>36020.00</th>
          </tr>
        </tfoot>
      </table>
      <div class="clearfix text-right">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td>
                <p><b>Taxable Amount</b></p>
                <p><b>Total Tax*</b></p>
                <p><b>Invoice Total</b></p>
                <p><b>Invoice Total (In words)</b></p>
              </td>
              <td>
                <p><b>₹30100.00</b></p>
                <p><b>₹5920.00</b></p>
                <p><b>₹36020.00</b></p>
                <p><b>Thirty Six Thousand Twenty Only</b></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    
    <div class="clearfix small" style="margin-top:60px">
      <div class="clearfix">
        <div class="col-xs-12">
          <div class="col-xs-12">
            <table style="width: 100%;">
              <tbody>
                <tr>
                  <td>
                    <p><b>Notes</b></p>
                    <textarea ng-if="editMode" style="width:100%;height:100%" ng-model="defTempData.termsStr"></textarea>
                    <p ng-if="!editMode" ng-repeat="term in defTempData.terms track by $index">{{ term }}</p>
                    <br>
                    <p><b>*Tax to be paid on Reverse Charge</b></p>
                  </td>
                  <td style="text-align: center;">
                    <div class="signature">
                      <p><b>{{defTempData.company.name}}</b></p>
                      <p><b class="text-muted">(Signature)</b></p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="col-sm-12">
        <div class="col-xs-12 thankyou">
          <h3 style="color: #E14926 !important;">Thank you for your business</h3>
        </div>
      </div>
      <div class="small text-center">
        <p><b>{{defTempData.company.name}}</b></p>
        <p>{{defTempData.gstDetails.companyGstDetails.address[0]}}</p>
      </div>
    </div>
  </section>
    
    <!-- end of preview mode -->
  </div>
  <!-- end of invoiceContainer -->
</div>
<!-- end of modal body -->
</div>
