<style type="text/css">
@page {
  size: 8.5in 11in;
  margin: 2cm
}

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}

h1 {
  page-break-before: always;
}


/*end of print css*/

.invoiceContainer .row {
  margin-bottom: 20px;
}

.previewMode .form-control {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}

.previewMode .txtAreaWrap .form-control {
  padding: 0
}

.previewMode .txtAreaWrap input.form-control {
  height: 24px
}

.previewMode #two .form-control {
  padding: 0;
  height: 20px;
}

.previewMode .form-control.wid80 {
  width: 80px
}

.editMode .form-control.wid80 {
  width: 100px
}

.txtAreaWrap textarea.form-control {
  overflow: hidden;
}

#one,
#two {
  height: .6in;
  overflow: hidden;
}

#three,
#four {
  height: 2in;
  overflow: auto !important;
}

#five {
  height: 2.5in;
}

#six,
#seven {
  height: 1.2in;
}

#eight {
  height: 2in;
}

#two label {
  display: block;
  text-align: left;
}

.form-inline .form-control.smlInp {
  width: 100px;
  padding: 6px 0 6px 4px;
}

.form-inline input[disabled].form-control.smlInp {
  width: 100px;
  padding: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.template_b #three,
#four {
  height: 2.5in;
  overflow: visible;
}

.vcenter {
  display: block;
  vertical-align: middle;
}

.modal-dialog.modal-a4 {
  width: 8.5in;
}

.modal-dialog.modal-a4 .modal-body {
  min-height: 11.5in
}

.modal-dialog.modal-a4 .modal-content {
  border-radius: 0
}

.modal-dialog.modal-a4 .modal-header span {
  position: absolute;
  left: 15px;
}

hr {
  margin: 10px 0 20px;
}

fieldset[disabled] .form-control {
  cursor: default;
  background-color: white
}

.thumb {
  height: 50px;
}

.modal-header.genPrevMode {
  height: 80px;
}

.genPrevMode span {
  top: 5px;
}

.genPrevMode .form-group {
  margin-bottom: 0;
}

textarea {
  resize: none;
}

textarea:disabled,
input:disabled {
  background: #fff !important;
  border: none !important;
}

.invHd {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  position: relative;
  top: -20px;
  margin: 0;
}

table.table {
  font-size: 13px;
  margin-top: 20px;
}

table td {
  vertical-align: top;
}

h3 {
  margin-bottom: 15px;
}

.thankyou {
  margin-top: 20px;
  border-bottom: 2px solid #E14926;
  margin-bottom: 15px;
}

.signature {
  border-top: 1px solid #ccc;
  margin-top: 60px;
  padding-top: 8px;
  width: 260px;
  float: right;
}
</style>
<div id="InvoiceTemplate" class="templateClass no-border">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss(); closePop()" aria-label="Close"><i aria-hidden="true">&times;</i></button>
    <span ng-if="!editMode && genPrevMode">
      <aside class="form-inline">
        
        <div class="form-group mrR">
          <button ng-click="downloadInv()" class="btn btn-primary">Download</button>
        </div>
        
        <div class="form-group mrR" uib-dropdown auto-close="outsideClick">
          <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle>Send Email</button>
          <ul class="dropdown-menu" uib-dropdown-menu template-url="invDropdown.html" aria-labelledby="button-template-url">
          </ul>
        </div>
        <div class="form-group">
          <h3 class="modal-title">Invoice</h3>
        </div>
      </aside>
    </span>

  </div>

<div class="modal-body">
  <div class="invoiceContainer">
      <div class="row">
        <div class="col-xs-12">
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>
                  <h3 style="color:#E14926 !important;">{{ defTempData.company.name }}</h3>
                  <table class="with-pd">
                    <tbody>
                      <tr ng-if="defTempData.gstDetails.companyGstDetails.gstNumber">
                        <td style="padding-right: 15px; vertical-align: middle;">
                          <p><b>GSTIN</b></p>
                        </td>
                        <td>
                          {{defTempData.gstDetails.companyGstDetails.gstNumber}}
                        </td>
                      </tr>
                      <tr ng-if="defTempData.gstDetails.companyGstDetails.panNumber">
                        <td style="padding-right: 15px; vertical-align: middle;">
                          <p><b>PAN</b></p>
                        </td>
                        <td>
                          {{defTempData.gstDetails.companyGstDetails.panNumber}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td style="text-align: right">
                  <h3 style="color:#E14926 !important;">Total {{defTempData.grandTotal  | currency: "" : 2}}</h3>
                  <table style="float: right;">
                    <tbody>
                      <tr>
                        <td style="padding-right: 15px;">
                          <p><b>Invoice Date</b></p>
                          <p><b>Invoice No.</b></p>
                        </td>
                        <td>
                          <p>{{defTempData.invoiceDetails.invoiceDate}}</p>
                          <p>{{defTempData.invoiceDetails.invoiceNumber}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <div style="border-bottom:2px solid #E14926 !important; margin-top: 10px;">&nbsp;</div>
    <div class="text-center">
      <h3 class="invHd" style="background: #fff !important; color:#E14926 !important;">TAX INVOICE</h3>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <table style="width: 100%">
          <tbody>
            <tr>
              <td style="padding-right: 15px;">
                <p><b>Customer Name</b></p>
                <p>{{defTempData.account.name}}</p>
                <p>{{defTempData.account.mobileNumber}}</p>
                <p>{{defTempData.account.email}}</p>
                <br />
                <p><b>Due Date</b></p>
                <p>{{defTempData.invoiceDetails.dueDate}}</p>
              </td>
              <td style="padding-right: 15px;">
                <p><b>Billing Address</b></p>
                <textarea disabled="true" class="form-control" ng-model="defTempData.gstDetails.accountGstBillingDetails.address[0]" placeholder="Address and other details" rows="5"></textarea>
                <span ng-if="defTempData.gstDetails.accountGstBillingDetails.gstNumber">
                  <br /><b>GSTIN</b><br />{{defTempData.gstDetails.accountGstBillingDetails.gstNumber}}
                </span>
                <span ng-if="defTempData.gstDetails.accountGstBillingDetails.panNumber">
                  <br /><b>PAN</b><br />{{defTempData.gstDetails.accountGstBillingDetails.panNumber}}
                </span>
              </td>
              <td>
                <p><b>Shipping Address</b></p>
                <textarea disabled="true" class="form-control" ng-model="defTempData.gstDetails.accountGstShippingDetails.address[0]" placeholder="Address and other details" rows="5"></textarea>
                <span ng-if="defTempData.gstDetails.accountGstShippingDetails.gstNumber">
                  <br />
                  <b>GSTIN</b><br />
                  {{defTempData.gstDetails.accountGstShippingDetails.gstNumber}}
                </span>
                <span ng-if="defTempData.gstDetails.accountGstShippingDetails.panNumber">
                  <br />
                  <b>PAN</b><br />
                  {{defTempData.gstDetails.accountGstShippingDetails.panNumber}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <table class="table">
      <thead style="background: #f5f5f5;">
        <tr>
          <th>Item</th>
          <th ng-if="defTempData.gstDetails.showHsn || defTempData.gstDetails.showSac">HSN/SAC</th>
          <th ng-if="defTempData.gstDetails.showQty">Qty.</th>
          <th ng-if="defTempData.gstDetails.showRate" class="text-right">Rate/
            <br />Item(₹)</th>
          <th ng-if="defTempData.gstDetails.showDiscount" class="text-right">Discount/
            <br />Item(₹)</th>
          <th class="text-right" ng-if="defTempData.gstDetails.showTaxes">Taxable
            <br />Value(₹)</th>
          <th class="text-right" ng-repeat="tax in defTempData.gstDetails.gstTaxesTotal track by $index | orderBy:'uniqueName'">{{tax.name}}</th>
          <th class="text-right">Total
            <br />₹</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in defTempData.gstDetails.gstEntries track by $index">
          <td>{{item.transactions[0].description}}</td>
          <td ng-if="item.transactions[0].hsnNumber != null">{{item.transactions[0].hsnNumber}} (H)</td>
          <td ng-if="item.transactions[0].sacNumber != null">{{item.transactions[0].sacNumber}} (S)</td>
          <td ng-if="item.transactions[0].quantity != null">{{item.transactions[0].quantity}}</td>
          <td class="text-right" ng-if="item.transactions[0].rate != null">
            {{item.transactions[0].rate | number : 2}}
          </td>
          <td class="text-right" ng-if="item.transactions[0].rate === null && defTempData.gstDetails.showRate">&nbsp;</td>

          <td class="text-right" ng-if="item.discounts.length > 0">{{item.discounts[0].amount | number : 2}}</td>
          <td class="text-right" ng-if="item.discounts.length === 0 && defTempData.gstDetails.showDiscount">&nbsp;</td>

          <td class="text-right" ng-if="defTempData.gstDetails.showTaxes">{{item.taxableValue | number : 2}}</td>
          <td class="text-right" ng-repeat="fTax in defTempData.gstDetails.gstTaxesTotal track by $index | orderBy:'uniqueName'">
            <span ng-repeat="tax in item.taxes track by $index">
              <span ng-if="fTax.uniqueName === tax.accountUniqueName">
                {{tax.amount | number : 2}}<br />
                <small>@{{tax.rate}}%</small>
              </span>
            </span>
          </td>
          <td class="text-right">{{item.entryTotal | number : 2}}</td>
        </tr>
      </tbody>
      <tfoot style="background: #f5f5f5;">
        <tr>
          <th>&nbsp;</th>
          <th ng-if="defTempData.gstDetails.showHsn || defTempData.gstDetails.showSac">&nbsp;</th>
          <th ng-if="defTempData.gstDetails.showQty">&nbsp;</th>
          <th ng-if="defTempData.gstDetails.showRate" class="text-right">&nbsp;</th>
          <th ng-if="defTempData.gstDetails.showDiscount" class="text-right">&nbsp;</th>
          <th class="text-right" ng-if="defTempData.gstDetails.showTaxes">{{defTempData.gstDetails.gstTaxableValueTotal | number : 2}}</th>
          <th class="text-right" ng-repeat="tax in defTempData.gstDetails.gstTaxesTotal track by $index | orderBy:'uniqueName'">{{tax.total | number : 2}}</th>
          <th class="text-right">{{defTempData.gstDetails.gstEntriesTotal | number : 2}}</th>
        </tr>
      </tfoot>
    </table>
    
    <div class="clearfix text-right">
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td>
              <p><b>Taxable Amount</b></p>
              <p><b>Total Tax*</b></p>
              <p ng-if="defTempData.roundOff"><b>Round off</b></p>
              <p><b>Invoice Total</b></p>
              <p><b>Invoice Total (In words)</b></p>
            </td>
            <td>
              <p><b>₹ {{defTempData.gstDetails.gstTaxableValueTotal | number : 2}}</b></p>
              <p><b>₹ {{defTempData.taxTotal | number : 2}}</b></p>
              <p ng-if="defTempData.roundOff"><b>₹ {{defTempData.roundOff.transaction.amount | number : 2}}</b></p>
              <p><b>₹ {{defTempData.grandTotal | number : 2}}</b></p>
              <p><b>{{defTempData.grandTotal | numtowords}}</b></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    <div class="row small" style="margin-top:60px">
      <div class="col-xs-12">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td>
                <p><b>Notes</b></p>
                <p ng-repeat="term in defTempData.terms track by $index">{{term}}</p>
              </td>
              <td style="text-align: center;">
                <div class="signature">
                  <p><b>{{defTempData.company.name}}</b></p>
                  <p><b class="text-muted">(Signature)</b></p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 thankyou">
        <h3 style="color: #E14926 !important;">Thank you for your business</h3>
      </div>
      <div class="small text-center col-xs-12">
        <p><b>{{defTempData.company.name}}</b></p>
        <p ng-repeat="address in defTempData.gstDetails.companyGstDetails.address track by $index">{{ address }}</p>
      </div>
    </div>
  
    
    <!-- end of preview mode -->
  </div>
  <!-- end of invoiceContainer -->
</div>
<!-- end of modal body -->
</div>
