<style type="text/css">
@page {
  size: 8.5in 5in;
  margin: 2cm
}

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}

h1 {
  page-break-before: always;
}


/*end of print css*/

.modal-dialog.modal-a4 {
  width: 8.5in;
}

.modal-dialog.modal-a4 .modal-body {
  min-height: 5in
}

.modal-dialog.modal-a4 .modal-content {
  border-radius: 0
}

.modal-dialog.modal-a4 .modal-header span {
  position: absolute;
  left: 15px;
}

hr {
  margin: 10px 0 20px;
}

</style>
<div id="InvoiceTemplate" class="templateClass no-border">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss(); closePop()" aria-label="Close"><i aria-hidden="true">&times;</i></button>
    
    <h3 class="modal-title alC">
      Download or Send Invoice
    </h3>

  </div>

  <div class="modal-body alC">

    <h3 class=" mrB4">Preview is currently not available for GST Templates</h3>
    

    <aside class="form-inline">
        
      <div class="form-group mrR">
        <button ng-click="downloadInv()" class="btn btn-primary">Download</button>
      </div>
      
      <div class="form-group mrR" uib-dropdown auto-close="outsideClick">
        <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle>Send Email</button>
        <ul class="dropdown-menu" uib-dropdown-menu template-url="invDropdown.html" aria-labelledby="button-template-url">
        </ul>
      </div>
    </aside>

  </div>
  <!-- end of modal-body -->
</div>
<!-- end of InvoiceTemplate -->
