<section class="intro sindhu-login">
    <!-- banner content -->
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="brand-heading arvo">Welcome to Giddh Admin Panel</h1>

            <div id="box" class="text-uppercase">
              <div class="clearfix mrB1">
                <p class="lead ">Sign In or register</p>
                <!-- <div ng-class="loginIsProcessing ? 'giddh-spinner': 'giddh-logo'" ></div> -->
              </div>

              <button type="login" class="btn sharp btn-block btn-lg btn-login google" ng-click="login.authenticate('google')">connect with Google</button>
              <button type="login" class="btn sharp btn-block btn-lg btn-login twitter" ng-click="login.authenticate('twitter')">connect with Twitter</button>
              <button type="login" class="btn sharp btn-block btn-lg btn-login linkedin" ng-click="login.authenticate('linkedin')">connect with LinkedIn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>