<h1>{{admin.title}}</h1>


<div class="container-fluid mrT1 pd1">
  <div class="row">
    <div class="form-group mrL1 pull-right maxW150 pos-rel">
      <input class="pull-right maxW150" placeholder="Search" ng-model="query"/>
      <i class="glyphicon glyphicon-search pos-abs"/>
    </div>
  </div>
  <div class="row mrT1 pd1">
      <table class="table table-bordered">
        <thead>
        <th>Name</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Mobile No.</th>
        <th>Expiry Date</th>
        <th>Last activity</th>
        <th>Account balance</th>
        <th>Shared With</th>
        <th>Subscription plan</th>
        <th>Monthly API hits</th>
        </thead>
        <tbody>
        <tr ng-repeat="company in companies">
          <td>{{company.name}}</td>
          <td>{{company.createdBy.email}}</td>
          <td>{{company.companySubscription.createdAt}}</td>
          <td>{{company.contactNo}}</td>
          <td>{{company.companySubscription.expiry}}</td>
          <td>{{company.lastActivity}}</td>
          <td>{{company.companySubscription.servicePlan.amount | number:2}}</td>
          <td><button class="btn btn-default" ng-click="showSharedWithDetails(company.sharedWith)">open list</button></td>
          <td>{{company.companySubscription.servicePlan.planName}}</td>
          <td>{{company.apiHits}}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>

