<div class="container-fluid pd2">
  <div class="row">
    <div class="pull-right maxW150 pos-rel pdR1">
      <input class="form-control" placeholder="Search" ng-model="query"/>
      <i class="glyphicon glyphicon-search pos-abs" style="right: 22px;top:10px"/>
    </div>
  </div>
  <div class="row mrT1 pd1">
      <table class="table table-bordered">
        <thead>
        <th>Name</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Mobile No.</th>
        <th>Expiry Date</th>
        <th>Last activity</th>
        <th>Primary Account balance</th>
        <th>Secondary Account balance</th>
        <th>Subscription plan</th>
        <th>Total API hits</th>
        </thead>
        <tbody>
        <tr ng-repeat="company in admin.companies | filter:query">
          <td>{{company.companyName}}</td>
          <td>{{company.createdBy}}</td>
          <td>{{company.companyCreatedAt}}</td>
          <td>{{company.contactNo}}</td>
          <td>{{company.subscriptionExpiringAt}}</td>
          <td>{{company.lastActivityAt}}</td>
          <td>{{company.primaryAccBalance}}</td>
          <td>{{company.secondaryAccBalance}}</td>
          <td>{{company.planName}}</td>
          <td>{{company.apiHits}}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>

