<div class="container-fluid pd2">
  <div class="row">
    <div class="pull-right maxW150 pos-rel pdR1">
      <input class="form-control" placeholder="Search" ng-model="query"/>
      <i class="glyphicon glyphicon-search pos-abs" style="right: 22px;top:10px"/>
      <div class="form-group mrL1 col-xs-2 pull-right">
          <label>Items per page</label>
          <select class="form-control" ng-model="countPage" ng-options="count for count in counts">
          </select>
      </div>
    </div>
  </div>
    <div class="row">
        <div class="proforma-list" ng-class="{pdT:!showFilters}">
            <div class="filters" ng-if="showFilters">

            </div>
        </div>
    </div>
  <div class="row mrT1 pd1">
      <table class="table table-bordered">
        <thead>
        <th>Name</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Mobile No.</th>
        <th>Expiry Date</th>
        <th>Last activity</th>
        <th>Primary Account balance</th>
        <th>Secondary Account balance</th>
        <th>Subscription plan</th>
        <th>Total API hits</th>
        </thead>
        <tfoot>
        <td colspan="10">
          <div class="pagination pull-right">
            <ul class="list-inline">
              <li>
                <button class="btn btn-default" ng-disabled="paginationDetails.page == 1" ng-click="prevPage(); getCompaniesList();">Prev</button>
              </li>
              <li>{{paginationDetails.page}}/{{paginationDetails.totalPages}}</li>
              <li>
                <button class="btn btn-default" ng-disabled="paginationDetails.page == paginationDetails.totalPages" ng-click="nextPage(); getCompaniesList();">Next</button>
              </li>
            </ul>
          </div>
        </td>
        </tfoot>
        <tbody>
          <tr ng-repeat="company in companies">
            <td>{{company.companyName}}</td>
            <td>{{company.createdByUniqueName}}</td>
            <td>{{company.companyCreatedAt}}</td>
            <td>{{company.contactNo}}</td>
            <td>{{company.subscriptionExpiringAt}}</td>
            <td>{{company.lastActivityAt}}</td>
            <td>{{company.primaryAccBalance}}</td>
            <td>{{company.secondaryAccBalance}}</td>
            <td>{{company.planName}}</td>
            <td>{{company.apiHits}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

