
<!-- add/modify stock group-->
<section>
		
		<aside class="row greyBg bdrB pd1 mrB1">
			<label>Add/Modify Stock Group</label>
		</aside>



		<aside class="col-xs-6">
			
			<form name="addStockGroup" ng-model="stock.addStockGroup" novalidate>
				<label>Add New Group</label>
				<hr>
				<div class="form-group">
					<label>Name<span class="required">*</span></label>
					<input type="text" name="stockName" class="form-control" ng-model="stock.addStockGroup.stockName" required>
				</div>

				<div class="form-group">
					<label>Unique Name<span class="required">*</span></label>
					<input type="text" name="stockUnqName" class="form-control" ng-model="stock.addStockGroup.stockUnqName" required>
				</div>

				<div class="form-group">
					<label>Parent Stock Group</label>
					<input type="text" name="parentStockGroupUniqueName" class="form-control" ng-model="stock.addStockGroup.parentStockGroupUniqueName" disabled>
				</div>

				<button type="submit" class="btn btn-md btn-default" ng-click="stock.addGroup(stock.addStockGroup)" ng-disabled="stock.addStockGroup.stockName.length < 2 || stock.addStockGroup.stockUnqName.length < 2">Add</button>
			</form>

		</aside>

		<aside class="col-xs-6 bdrL">
			
			<form name="updateStockGroup" ng-model="stock.updateStockGroup" novalidate>
				<label>Modify Group</label>
				<hr>
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="stockName" class="form-control" ng-model="stock.updateStockGroup.stockName" required>
				</div>

				<div class="form-group">
					<label>Unique Name</label>
					<input type="text" name="stockUnqName" class="form-control" ng-model="stock.updateStockGroup.stockUnqName" required>
				</div>

				<div class="form-group">
					<label>Parent Stock Group</label>
					<input type="text" name="parentStockGroupUniqueName" class="form-control" disabled ng-model="stock.updateStockGroup.parentStockGroupUniqueName" required>
				</div>

				<button type="submit" class="btn btn-md btn-default" ng-click="stock.updateGroup(stock.updateStockGroup)"  ng-disabled="stock.updateStockGroup.stockName.length < 2">Modify</button>
			</form>

		</aside>
		<div class="clearfix"></div>
</section>


<!-- add/modify stock item-->

<section class="mrT1">
	<aside class="row greyBg bdrB bdrT pd1 mrB1">
		<label>Add Stock Item</label>
	</aside>

	<aside class="col-xs-6">
		
		<form name="addStockGroup" ng-model="stock.addStockItem" novalidate>
			<label>Add New Stock</label>
			<hr>
			<div class="row mr0">
				<div class="form-group col-xs-12 pdL0 pdR0">
					<label>Name<span class="required">*</span></label>
					<input type="text" name="stockName" class="form-control" ng-model="stock.addStockItem.stockName" required>
				</div>

<!-- 				<div class="form-group col-xs-6 pdR0 pdL">
					<label>Unique Name<span class="required">*</span></label>
					<input type="text" name="stockUnqName" class="form-control" ng-model="stock.addStockItem.stockUnqName" required>
				</div>	 -->			
			</div>
			<div class="row mr0">
				<div class="form-group col-xs-6 pdL0 pdR">
					<label>Opening Stock Type<span class="required">*</span></label>
					<input type="text" name="stockType" class="form-control" ng-model="stock.addStockItem.stockType" required>
				</div>

				<div class="form-group col-xs-3 pdR pdL">
					<label>Opening Qty<span class="required">*</span></label>
					<input type="text" name="stockQty" class="form-control" ng-model="stock.addStockItem.stockQty" required>
				</div>	
				<div class="form-group col-xs-3 pdR0 pdL">
					<label>Opening Amount<span class="required">*</span></label>
					<input type="text" name="stockAmount" class="form-control" ng-model="stock.addStockItem.stockAmount" required>
				</div>				
			</div>
			<div class="row mr0">
				<div class="form-group col-xs-6 pdL0 pdR">
					<label>Purchase Account<span class="required">*</span></label>
					<!-- <input type="text" name="stockPurchaseAccount" class="form-control" ng-model="stock.addStockItem.stockPurchaseAccount" required> -->
	                <ui-select ng-model="stock.addStockItem.stockPurchaseAccount" theme="bootstrap">
	                  <ui-select-match>
	                      <span>{{$select.selected.name}}</span>
	                  </ui-select-match>
	                  <ui-select-choices repeat="account in stock.purchaseAccounts | limitTo:5" refresh="stock.getPurchaseAccounts($select.search)">
	                      <span ng-bind="account.name"></span>
	                  </ui-select-choices>
	                </ui-select>
				</div>

				<div class="form-group col-xs-6 pdR0 pdL">
					<label>Purchase Rate<span class="required">*</span></label>
					<input type="text" name="stockPurchaseRate" class="form-control" ng-model="stock.addStockItem.stockPurchaseRate" required>
				</div>				
			</div>
			<div class="row mr0">
				<div class="form-group col-xs-6 pdL0 pdR">
					<label>Sales Account<span class="required">*</span></label>
					<!-- <input type="text" name="stockSalesAccount" class="form-control" ng-model="stock.addStockItem.stockSalesAccount" required> -->
					<ui-select ng-model="stock.addStockItem.stockSalesAccount" theme="bootstrap">
	                  <ui-select-match>
	                      <span>{{$select.selected.name}}</span>
	                  </ui-select-match>
	                  <ui-select-choices repeat="account in stock.salesAccounts | limitTo:5" refresh="stock.getSalesAccounts($select.search)">
	                      <span ng-bind="account.name"></span>
	                  </ui-select-choices>
	                </ui-select>
				</div>

				<div class="form-group col-xs-6 pdR0 pdL">
					<label>Sales Rate<span class="required">*</span></label>
					<input type="text" name="stockSalesRate" class="form-control" ng-model="stock.addStockItem.stockSalesRate" required>
				</div>				
			</div>
			<button type="submit" class="btn btn-md btn-default" ng-click="stock.addStock(stock.addStockItem)">Add</button>
		</form>

	</aside>


</section>