<section class="col-xs-12" ng-if="stock.report.name == undefined" >
	<p>Select a Stock to Load Report</p>
</section>
<section class="col-xs-12 mrT1" ng-if="stock.report.name">
<div class="clearfix mrB2 pull-right">
<button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Manage Stock</button>
<button class="btn btn-primary mrL"><i class="fa fa-trash-o" aria-hidden="true"></i> Manage Stock</button>
</div>
	<div class="filterForm pos-rel clearfix">	
		<div class="form-group mrB pull-left">
	        <label>From</label>
	        <p class="input-group">
	          <input type="text" class="form-control"
	                 uib-datepicker-popup="{{stock.format}}" required
	                 datepicker-options="stock.dateOptions" 
	                 is-open="stock.fromDatePickerIsOpen"
	                 ng-click="stock.fromDatePickerOpen($event)"
	                 ng-model="stock.fromDate.date"
	                 max-date="stock.today"
	                 placeholder="from date"
	              />
	        </p>
	    </div>
	    <div class="form-group mrB pull-left">
	        <label>To</label>
	        <p class="input-group">
	          <input type="text" class="form-control"
	                 uib-datepicker-popup="{{stock.format}}" required
	                 datepicker-options="stock.dateOptions"
	                 is-open="stock.toDatePickerIsOpen"
	                 ng-click="stock.toDatePickerOpen($event)"
	                 ng-model="stock.toDate.date" 
	                 min-date="stock.fromDate.date" 
	                 max-date="stock.today" 
	                 placeholder="to date"
	              />
	        </p>
	    </div>
	    <div class="form-group">
	        <label>&nbsp;</label>
		    <button class="btn btn-primary" ng-click="stock.getStockReport(stock.selectedReportStock, stock.selectedReportGrp)">Go</button>
        </div>
	</div>
	<br>
	<ul class="list-inline">
		<li  class="mrR2">
			<label>Stock Name:</label> <span class="ReportInfo">{{stock.report.name}}</span>
		</li>
		<li  class="mrR2">
			<label>Stock UniqueName:</label> <span class="ReportInfo">{{stock.report.uniqueName}}</span>
		</li>
		<li class="mrR2">
			<label>Opening Amt:</label> <span class="ReportInfo">{{stock.report.openingAmount}}</span>
		</li>
		<li class="mrR2">
			<label>Opening Qty:</label> <span class="ReportInfo">{{stock.report.openingQuantity}}</span></label>
		</li>
		<li class="mrR2">
			<label>Closing Qty:</label><span class="ReportInfo">{{stock.report.closingQuantity}}</span></label>
		</li>
	</ul>
	

	<p class="mrT1" ng-if="stock.report.transactionResource.length == 0">No Transactions for this Stock</p>
	<div class="h100 overflow-y">
		<table class="col-xs-12 mrT2 table_theme" ng-if="stock.report.transactionResource.length > 0">
			<thead>
				<tr class="t-h-bg1">
					<th>Account</th>
					<th>Entry Date</th>
					<th>Qty</th>
					<th>Rate</th>
					<th>Amount(CR)</th>
					<th>Amount(DR)</th>
					<th>Closing Qty</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="txn in stock.report.transactionResource">
					<td ng-bind="txn.account.name"></td>
					<td ng-bind="txn.entryDate"></td>
					<td ng-bind="txn.quantity"></td>
					<td ng-bind="txn.rate"></td>
					<td><span ng-bind="txn.amount" ng-if="txn.stockBalType == 'cr'"></span></td>
					<td><span ng-bind="txn.amount" ng-if="txn.stockBalType == 'dr'"></span></td>
					<td ng-bind="txn.closingQuantity"></td>
				</tr>
			</tbody>
		    <tfoot>
	          
	          <tr>
	            <td colspan="14">
	            <div class="pagination pull-right">
	                <ul class="list-inline">
	                  <li>
	                    <button class="btn btn-default" ng-click="stock.report.page = stock.report.page-1;stock.getStockReport(stock.selectedReportStock, stock.selectedReportGrp)" ng-disabled="stock.report.page == 1">Prev</button>
	                  </li>
	                  <li>{{stock.report.page}}/{{stock.report.totalPages}}</li>
	                  <li>
	                    <button class="btn btn-default" ng-click="stock.report.page = stock.report.page+1; stock.getStockReport(stock.selectedReportStock, stock.selectedReportGrp)" ng-disabled="stock.report.page == stock.report.totalPages">Next</button>
	                  </li>
	                </ul>
	              </div>
	            </td>
	          </tr>

	        </tfoot>
		</table>
	</div>

</section>