<div class="input-group width100 search-input">
	<input 
		type="search"
		placeholder="Search Stock" 
		ng-focus="stock.sideBarOn($event)" 
		ng-model="grpStockSrch" 
		ng-model-options="{debounce:500}" 
		ng-change="stock.getStockGroupsByQuery(grpStockSrch)"/>
</div>

<ul class="list-unstyled stock-grp-list mrT1">
	<li ng-click="grp.visibleChilds = !grp.visibleChilds; stock.loadStockGroup(grp)" class="pdL isParent" ng-repeat="grp in stock.groupListHr track by $index">
		<a href ng-class="{'active': stock.$state.params.grpId === grp.uniqueName }">{{grp.name}}</a>
		<i ng-if="grp.childStockGroups.length > 0 || stock.updateStockGroup.stocks.length > 0 && grp.uniqueName === stock.$state.params.grpId" class="glyphicon" ng-class="grp.visibleChilds ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i>	
		<div ng-if="grp.childStockGroups.length > 0" ng-include="'stockgrplist.html'"></div>
		<div ng-if="stock.updateStockGroup.stocks.length > 0 && grp.uniqueName === stock.$state.params.grpId" ng-include="'stockList.html'"></div>
	</li>
</ul>

<script type="text/ng-template" id="stockgrplist.html">
	<ul class="list-unstyled sub-grp" ng-show="grp.visibleChilds">
		<li ng-click="$event.stopPropagation(); grp.visibleChilds = !grp.visibleChilds; stock.loadStockGroup(grp)" class="pdL" ng-repeat="grp in grp.childStockGroups">
			<a href ng-class="{'active': stock.$state.params.grpId === grp.uniqueName }">{{grp.name}}</a>
			<i ng-if="grp.childStockGroups.length > 0" class="glyphicon" ng-class="grp.visibleChilds ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i>
			<div ng-if="grp.childStockGroups.length > 0" ng-include="'stockgrplist.html'"></div>
			<div ng-if="stock.updateStockGroup.stocks.length > 0 && grp.uniqueName === stock.$state.params.grpId" ng-include="'stockList.html'"></div>
		</li>
	</ul>
</script>

<script type="text/ng-template" id="stockList.html">
	{{list=stock.updateStockGroup.stocks;""}}
	<ul class="list-unstyled stock-items" ng-show="grp.visibleChilds">
		<li ng-click="$event.stopPropagation(); stock.loadStockReportView(l)" ng-repeat="l in list track by $index">
			<a href ng-class="{'active': stock.$state.params.stockId === l.uniqueName }">{{l.name}}</a>
		</li>
	</ul>
</script>



