
<ul class="list-unstyled stock-grp-list">
	<li class="bdrL pdL" ng-repeat="grp in stock.stockGroup.list">
		<a href="javascript:void(0)" ng-click="grp.showStocks = !grp.showStocks">{{grp.name}}</a>
		<ul class="list-unstyled" ng-if="grp.stocks.length > 0 && grp.showStocks">
			<li class="bdrL pdL" ng-repeat="stk in grp.stocks">
				<a href="javascript:void(0)" ng-click="stock.getStockReport(stk, grp)">{{stk.name}}</a>
			</li>
		</ul>
	</li>
	<a href="javascript:void(0)" ng-click="stock.stockGroup.page = stock.stockGroup.page+1;stock.getStockGroupsFlatten(stockFlattenSearch, stock.stockGroup.page, 'get')" ng-if="stock.stockGroup.page < stock.stockGroup.totalPages">Load More</a>
</ul>

<p ng-if="stock.stockGroup.list.length < 1">
	No Stocks Found 
	<br>
	Go to <a href="javascript:void(0)" ng-click="stock.showStockReport = false">Manage Stocks</a> to create new stocks.
</p>



