<section class="pd2" ng-if="!vm.report.name" >
	<p>Select a Stock to Load Report </p>
	<a href ng-click="vm.getStockReport()">Refresh</a>
</section>

<section class="pd2 h100" ng-if="vm.report.name" auto-height>
	
	<div class="clearfix mrB2">
		<button ng-click="vm.goToManageStock()" class="btn btn-primary btn-md gico-wrap"><i class="icon-edit" aria-hidden="true"></i> Manage Stock</button>
	</div>

	<div class="filterForm clearfix pr">	
		<div class="form-group mrB pull-left">
      <label>From Date</label>
      <p class="input-group">
      	<input type="text" class="form-control"
					uib-datepicker-popup="{{vm.format}}" required
					datepicker-options="vm.dateOptions" 
					is-open="vm.fromDatePickerIsOpen"
					ng-click="vm.fromDatePickerOpen($event)"
					ng-model="vm.fromDate.date"
					max-date="vm.today"
					placeholder="from date"
          />
      </p>
	  </div>
	  <div class="form-group mrB pull-left">
      <label>To Date</label>
      <p class="input-group">
        <input type="text" 
        	class="form-control"
					uib-datepicker-popup="{{vm.format}}" required
					datepicker-options="vm.dateOptions"
					is-open="vm.toDatePickerIsOpen"
					ng-click="vm.toDatePickerOpen($event)"
					ng-model="vm.toDate.date" 
					min-date="vm.fromDate.date" 
					max-date="vm.today" 
					placeholder="to date"
        />
      </p>
    </div>
    <div class="form-group">
      <label>&nbsp;</label>
	    <button class="btn btn-primary" ng-click="vm.getStockReport()">Go</button>
    </div>
	</div>

	<p class="mrT1" ng-if="vm.report.transactionResource.length == 0">No Transactions for this Stock</p>

	<table ng-if="vm.report.transactionResource.length > 0" class="mrT1 stkRprtTbl table_theme width100">
		<thead>
			<tr>
				<th>Account</th>
				<th>Date</th>
				<th>Qty</th>
				<th>Rate</th>
				<th>Amount(CR)</th>
				<th>Amount(DR)</th>
				<th>Closing Qty</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="txn in vm.report.transactionResource">
				<td ng-bind="txn.account.name"></td>
				<td ng-bind="txn.entryDate"></td>
				<td ng-bind="txn.quantity"></td>
				<td ng-bind="txn.rate"></td>
				<td><span ng-bind="txn.amount" ng-if="txn.stockBalType == 'cr'"></span></td>
				<td><span ng-bind="txn.amount" ng-if="txn.stockBalType == 'dr'"></span></td>
				<td ng-bind="txn.closingQuantity"></td>
			</tr>
		</tbody>
	  <tfoot>
      <tr>
        <td colspan="14">
        	<div class="pagination pull-right">
            <ul class="list-inline">
              <li>
                <button class="btn btn-default" ng-click="vm.report.page = vm.report.page-1; vm.getStockReport()" ng-disabled="vm.report.page == 1">Prev</button>
              </li>
              <li>{{vm.report.page}}/{{vm.report.totalPages}}</li>
              <li>
                <button class="btn btn-default" ng-click="vm.report.page = vm.report.page+1; vm.getStockReport()" ng-disabled="vm.report.page == vm.report.totalPages">Next</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tfoot>
	</table>
</section>