<div ng-controller="homeController">

	<section id="topSection">
		<ng-include src="'view/header.html'"></ng-include>
		<!-- start of slider -->

		<div class="container" id="banner">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div>
				    	<h2 id="imd" class="h2i mocha">{{home.banner.mainHead}}</h2>
				        <h3 id="imdContent" class="h3 trumph">{{home.banner.subHead}}</h3>
				        <div id="thead" class="trumph">{{home.banner.p}}</div>
				    </div>
				</div>
				
				<div class="col-md-6 col-sm-12">
				    <div class="play_button">
				    	<a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"></a>
				    </div>
				    <figure class="pull-right">
				    	<img class="img-responsive center-block" ng-src="{{home.banner.imgSrc}}" alt="{{home.banner.imgTitle}}" />
				    </figure>
				</div>
			</div>
			<div class="row pr">
			    <div id="trywrap">
			        <a target="_blank" href="/login">
			        	<div id="try">
			        		<img border="0" ng-src="{{home.banner.banBtnImgSrc}}" alt="{{home.banner.banBtnImgTitle}}" />
			        	</div>
			        </a>
			    </div>
			</div> 
		</div> <!-- end of banner -->
	</section>
	<!-- end of top section -->
	<!-- modal content -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<!-- 16:9 aspect ratio -->
			<div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/p6HClX7mMMY"></iframe>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- end modal -->



	<section class="container" id="midSection">
		<ul class="ln" id="indul">

			<li class="row" ng-repeat="list in home.middle.list">
				<div class="col-md-6 col-sm-12">
					<h4 class="h4">{{list.title}}</h4>
					<p class="cmnp">{{list.details}}</p>
				</div>
				<div class="col-md-6 col-sm-12">
					<figure class="pull-right">
						<img class="img-responsive center-block" ng-src="{{list.imgSrc}}" alt="{{list.imgTitle}}"/>
					</figure>
				</div>
			</li>

		</ul>
	</section>

	<section id="mainline" class="alC mocha">
		{{home.bottomContent.text}}
		<img ng-src="{{home.bottomContent.imgSrc}}" alt="{{home.bottomContent.altText}}" align="absmiddle" />
	</section>

	<ng-include src="'view/footer.html'"></ng-include>
</div>