<div ng-controller="versionController">
	<section id="topSection">
		<ng-include src="'view/header.html'"></ng-include>
		<!-- start of banner -->
		<div class="container othPage" id="banner">
			<div class="row">
				<div class="col-md-12 col-sm-12 alC">
					<h2 class="h2 mocha">
						{{version.banner.mainHead}} <br>
						{{version.banner.mainHead1}}
					</h2>
					<h3 class="h3 trumph">{{version.banner.subHead}}</h3>
					<div id="trywrap">
						<a href="/login">
							<div id="try">
								<img border="0" ng-src="{{version.banner.banBtnImgSrc}}" alt="{{version.banner.banBtnImgTitle}}" />
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End of banner -->
	</section>

	<section class="container" id="midSection">
		<ul class="ln" id="cmnul">
			<li class="col-md-4 col-sm-12"  ng-repeat="list in version.middle.list">
            	<h4 class="h4">{{list.title}}</h4>
                <p class="cmnp">{{list.details}}</p>
                <a href="javascript:;" class="readmore">Read more</a>
            </li>
		</ul>
	</section>
	<ng-include src="'view/footer.html'"></ng-include>
</div>