@charset "utf-8";
/*
________/\\\\\\\\\\\\______
_______/\\\/////////\\_____
______\//\\\______\///_____
_______\////\\\____________
__________\////\\\_________
_____________\////\\\______
______/\\\______\//\\\_____
_____\///\\\\\\\\\\\/______
______\////////////________

  TITLE:    Styles for giddh.com
  AUTHOR:   @THEMECHANIC
  VERSION:  1
*/

/*google fonts*/


.hamburger_menu {
    background: #525252;
}