@charset "utf-8";

body {
    font-family: 'Roboto', sans-serif
}

/*icomoon fonts*/
.icon-options:before {
  content: "\e908";
}
.icon-child:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}
.icon-magic_link:before {
  content: "\e903";
}
.icon-dropdown:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-building:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\f2334";
}
.icon-folderminus:before {
  content: "\f2332";
}
.icon-folderplus:before {
  content: "\f2333";
}
.icon-minus:before {
  content: "\e909";
}



a,button,input {
     transition: all 0.3s ease;
}

/*input*/
.form-control {
    background: #f9f7f2 !important;
    border: 1px solid #ded3c0;
    border-radius: 0px;
    padding: 6px !important;
    outline: 0;
    color: #616161;
    box-shadow: none;
}
.form-control:focus {
    border-radius: 0 !important;
    outline: 0;
    border: 1px solid #f7b995 !important;
    box-shadow: none;
}

.sidebar {
    background: #e7e7e6;
}
.acntAccordion a {
    color: #616161;
}
.acntAccordion .title {
    background-image: none; 
}
.acntAccordion .title a {
    font-size: 14px;
}
.subAccBox li a span {
    font-size: 12px;
}
.company-name span {
    color: #616161 !important;
}
.acntAccordion .title.active {
    background-image: none;
}
header, header .navbar {
    background-color: #fff/*f0f0f0*/;
/*    border-bottom: 1px solid #eee;*/
}
.hamburger_menu {
    background: #525252;
}

.company-name.open span {
    color: #fff;
}
.fyear {
    font-size: 14px;
}

.t-h-bg1 th {
    background: #f3f0e6;
    color: #4d4d4d;
    border: 1px solid #c4c6c7;
    padding: 11px !important;
    font-weight: 400;
}
table {
      /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.accountName {
    color: #ff782d;
    text-transform: capitalize;
}

.icomoon_ico {
    color: #424242/*ff782d*/;
}
.icomoon_ico:hover {
    color: #ff782d;
}
.export-ledger-options>.arrow:after {
    content: ' ';
}
.export-ledger-options.left>.arrow, .export-ledger-options>.arrow {
    top: 0;
    border-bottom-color: #d4d3d3;
}
.export-ledger-options>.arrow, .export-ledger-options>.arrow:after {
    transform: none;
}
.export-ledger-options {
    left: 0;
    top: 48px;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    margin: 0 auto;
    right: 0;
    position: absolute;
    background: none;
}

.export-ledger-options .list-unstyled {
    padding-left: 0;
    list-style: none;
    position: relative;
    float: left;
    background: #000;
}
.export-ledger-options>ul>li {
    width: 100%;
    border-bottom: 1px solid #d4d3d3;
    color: #616161;
}
.ledgHead {
    float: left;
    width: 100%;
}
.ledgHead input[type=search] {
min-width: 220px;
}
.ledger-container table th {
    font-weight: 500;
}
/*btn*/
.btn-primary {
    background: #525252;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #d35f29;
}
.btn {
    padding: 6px 16px;
    border: 0;
    border-radius: 0;
    font-size: 14px;
}
#AddManage {
    margin: 6px;
    padding: 10px 5px;
}
.btn-default {
    background: #eee;
    border: 1px solid #ccc;
}
/*btn end*/
.ledger-main .form-control {
    background: #fff !important;
}
.ledger-header thead th {
    background: #fff;
    border-right: 1px solid #c4c6c7;
}
.t-h-bg2 th {
    padding: 7px !important;
}

.compoundEntry td, .compoundEntry td .form-control {
    background: #f7de8a !important;
}
.ledger-table-body table tbody.ledger-main tr td {
    padding: 0;
}

.ledger-container table tr.bg3 th {
    border: 1px solid #c4c6c7;
    border-left: 0;
}
.highlight_info {
    color: #ff782d/* 95756E*/;
}
.midlight_info {
    color: #95756E;
    font-weight: 500;
}
.tcount {
    font-weight: 500;
}
.ledger-panel {
    box-shadow: 0px 3px 28px 0 rgba(0, 0, 0, 0.14);
    color: #616161;
    padding: 10px 15px;
    border-radius: 6px;
}
.ledger-panel .form-control {
    border: 1px solid #949494;
    cursor: text;
}
.ledger-panel .btn {
    background: #eee;
    border: 1px solid #949494;
}
.ledger-panel .btn:hover, .ledger-panel .btn-primary {
    background: #f3f0e6;
    border-color: #ff782d;
    color: #616161;
}
.tax-list {
    padding: 10px 0;
}

.btn-default:hover {
    border: 1px solid #ccc;
    background: #f3f0e6;
    color: #616161;
    box-shadow: 0px 3px 11px #e6e3d8;
}
.marginTop {
margin-top: 0;
}

#accountSearch  {
    min-height: 54px;
    border: 0;
    background: #d35f29 !important;
    color: #fff;
    padding: 7px 10px !important;
    width: 232px;
}
#accountSearch:focus  {
border: 0 !important;
outline: 0;
}

.ledger_search i {
    color: #fff;
}
.ledger_search .input-group-addon {
    background: #d35f29;
    color: #fff;
    border: 1px solid #f5834e;
    border-top: 0;
    border-bottom: 0;
}
.acntAccordion .accBox {
    background: none;
}
.acntAccordion .title, .acntAccordion .title.active {
    position: relative;
}
.acntAccordion .mainLiAclist .title:before {
    content: '\f2333';
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -9px;
    font-weight: 600;
}
.parent-Group {
    padding-left: 15px;
}
.parent-Group li {

}
.smlSquare.ASS {
    background: none;
}
.subAccBox li a {
    font-weight: 500;
}
.subAccBox li a.active, .subAccBox li a:hover {
    color: #d35f29;
    background: none;
}
.subAccBox li a span {
    font-size: 13px;
    text-transform: capitalize;
}
.load-more {
    padding: 8px 10px;
    display: block;
    background: #f5f5f5;
    color: #d35f29 !important;
    margin: 20px 0px;
    font-weight: 500;
}
.acntAccordion {
    margin-top: 11px;
}
#cmpWrp i {
    color: #525252;
}
.company-name {
    font-weight: 500;
}
#ledger {
    border-top: 1px solid #eee;
}
.export-ledger-options ..dropdown_theme {
    left: -30px;
}
.dropdown_theme {
    box-shadow: 0 3px 28px 0 rgba(0,0,0,.14);
    color: #616161;
    border: 1px solid #d4d3d3;
}
.export-ledger-options .list-unstyled {
    background: #fff;
    left: -80px;
    width: 151px;
}
.export-ledger-options>.arrow, .export-ledger-options>.arrow:after {
    transform: none;
    top: -9px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.icon-options {
    color: #d35f29;
/*    background: #f3f0e6;*/
    padding:0 4px;
/*    border: 1px solid #ccc;
    border-radius: 3px;
*/    font-size: 24px;
}
.daterangepicker.ltr .ranges {
    float: right;
}
.date-range-picker {
    max-width: 220px;
    width: 100% !important;
}
header {
    border-bottom: 1px solid rgb(214, 214, 214);
}
.company-name {
    min-width: 380px;
}

.childTab >.nav.nav-tabs {
    background: #f5f5f5;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    float: none;
    text-align: center;
    display: inline-block;
}
.childTab >.nav-tabs li {
    float: none;
    display: inline-block;
    text-align: center;
}
.childTab >.nav-tabs>li>a {
    margin-right: 0;
    transition: none;
    float: none !important;
    display: inline-block;
    line-height: inherit;
    border: 0;
    padding: 13px 18px;
    color: #616161;
    background: none;
    border: 1px solid transparent;
}

.childTab >.nav-tabs>li.active>a, .childTab >.nav-tabs>li.active>a:focus, .childTab >.nav-tabs>li.active>a:hover {
    color: #d35f29;
    border: 0;
    cursor: pointer;
     background: none; 
    border-bottom: 2px solid #d35f29;
}

/*.childTab >.nav.nav-tabs {
    text-align: center;
    width: 100%;
    padding: 7px 0 0 42px;
    margin: 0;
    text-align: center;
    display: inline-block;
    float: left;
}
.childTab >.nav-tabs li {
    display: inline-block;
    text-align: center;
}
.childTab >.nav-tabs>li>a {
    margin-right: 0;
    transition: none;
    float: none !important;
    display: inline-block;
    line-height: inherit;
    border: 0;
    padding: 13px 18px;
    color: #616161;
    background: none;
    border: 1px solid transparent;
}

.childTab .nav-tabs>li.active>a, .childTab .nav-tabs>li.active>a:focus, .childTab .nav-tabs>li.active>a:hover {
    padding: 13px 18px;
    background: white;
    color: #d35f29;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}*/
.childTab .tab-content {
    float: left;
    width: 100%;
}
.danger-btn {
    background-color: #d35f29;
    color: #fff;
    text-shadow: none;
    background-image: none;
    padding: 12px 25px;
    border-radius: 3px;
    outline: 0;
    box-shadow: none;
    border: 1px solid #ca541e;
}

#cmpWrp .cText {
    margin: 5px 0 5px 10px;
}
#cmpWrp {
    background: #f3f0e6;
}
#companyList {
    background: #fff;
    border: 1px solid #fff;
    border-top: 0;
}
#companyList li ul li:hover {
    background: #e7e7e6;
}
#companyList li {
    background: #fff;
}
#companyList li.selected-company, #companyList li.selected-company:hover {
    background: #f5834e;
    color: #fff;
}
#companyList li.selected-company span {
    color: #fff !important;
}
.company-name .icon-dropdown {
    font-size: 6px;
    position: absolute;
    top: 60%;
    bottom: 0;
    transform: translateY(-50%);
    right: 14px;
}
.basic>tbody>tr>td, .basic>tbody>tr>th, .basic>tfoot>tr>td, .basic>tfoot>tr>th, .basic>thead>tr>td, .basic>thead>tr>th {
    vertical-align: middle !important;
    font-size: 14px;
}
.basic>thead>tr>th {
    font-weight: 500;
    border-bottom: 0;
}
.basic>tbody>tr>td {
    font-weight: 400;
    padding: 4px 8px;
}
.basic>tbody>tr>td a {
    color: #d35f29; 
}

.delt {
    text-align: center;
}
input[type="checkbox"]{
    position: relative;
    top: 0;
    text-align: center;
    margin: 0 1rem 0 0;
    cursor: pointer;
    left: 8px;
}
input[type="checkbox"]:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}
input[type="checkbox"]:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 3px;
    top: -2px;
    z-index: 1;
    width: 17px;
    height: 8px;
    border: 2px solid #f5834e;
    border-top-style: none;
    border-right-style: none;
}
input[type="checkbox"]:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #c9c9c9;
    cursor: pointer;
}
.tab-pane .list-inline>li {
    padding-left: 0;
}
.tab-pane input[type=search] {
    min-width: 220px;
}
.tab-pane input[type=search]:after {
    content: "\e906";
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pos-rel label {
    font-weight: 400;
}
.lh33 {
    line-height: 33px;
}
.btn-success {
    background: #3fab63;
}
.btn-success:hover {
    background: #57C17A;
}
.btn-danger {
    background: #EF5350 !important;
    color: #fff !important;
}
.btn-danger:hover {
    background: #F44336;
}
.sm-btn {
    padding: 6px 11px;
}
.unverified, .verified {
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.thumbnail.active {
    background: #ffffff;
    box-shadow: 0 5px 34px 0 rgba(211, 95, 41, 0.18);
    border-color: #d35f29 !important;
}
.thumbnail {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 0;
    background: #ffffff;
    border-color: #fbc2a8 !important;
}
.thumbnail:hover {
    box-shadow: 0 5px 34px 0 rgba(58, 58, 58, 0.18);
    transition: box-shadow 0.3s ease;
}
.template_action {
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 16px 0 0;
} 
.thumbnail .caption {
    padding: 20px 7px;
    color: #333;
    overflow: hidden;
    text-align: center;
}
.template_action button {
    margin: 0 4px;
}
/*.templateInfo {
    padding: 7px 4px;
}*/
.switch.wide.checked small {
    left: 31px;
    background: #fff;
}
.switch.wide {
    width: 62px;
    height: 34px;
}
.switch {
    border: 0;
    border-radius: 48px;
    top: 0;
    background: #f0f0f0;
}
.switch.checked {
    background: #48d076;
    border: 0;
}
.switch.checked small {
    left: 20px;
}
.switch small {
    top: 2px;
    left: 0px;
}
.switch.wide small {
    height: 29px;
    width: 29px;
}
.switch .on, .switch .off {
    display: none;
}
.switch_div {
    max-width: 80px;
    float: left;
    width: 100%;
}
.switch_state label {
    text-align: left;
    float: left;
    font-weight: 400;
}
.switch_state {
    overflow: hidden;
    text-align: center;
    width: 230px;
    margin: 0 auto;
}
.template_list {
    width: 20%;
    float: left;
    padding: 0 12px;
    margin: 0 0px;
}
.filterForm .form-group {
    float: left;
    padding: 0 4px;
}
.filterForm .form-group input, .filterForm .form-group select, .filterForm .form-group .ui-select-bootstrap.dropdown span.ui-select-toggle {
    max-width: 140px;
    width: 100%;
    border-radius: 0 !important;
}
.filterForm .form-group.col-xs-2 {
    padding: 0 7px;

}
.filterForm label {
    width: 100%;
    font-size: 13px;
}

.filterForm .form-group:nth-child(1) {
    padding-left: 0;
}

.bootstrapSelect {
    width: 300px;
}
.bootstrapSelect .ui-select-search {
    max-width: 218px;
}
.ui-select-toggle {
    padding: 6px 16px !important;
}
.bootstrapSelect .input-group-btn {
    width: 1%;
}
.bootstrapSelect input[type=search] {
    min-width: inherit;
}
.tab-pane .list-inline {
    margin-left: 0;
}
.pdB1 {
    padding-bottom: 10px;
}

.templateInfo {
    position: relative;
    width: 100%;
}
.templateInfo h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 1400px) {
    .template_list {
        width: 25%;
    }
}
@media only screen and (max-width: 1160px) {
    .template_list {
        width: 33.33%;
    }
}
.md-btn {
    padding: 10px 16px;
    border-radius: 3px;
}
.proforma-list > .filters label {
    font-weight: 400;
    font-size: 15px;
}
.proforma-list>.filters input, .proforma-list>.filters select {
    height: 34px;
}
.proforma-list>.filters .separator {
    height: 30px;
    width: 1px;
    border: 1px solid #ded3c0;
    margin-right: 10px;
    vertical-align: bottom;
    float: left;
    top: 24px;
    position: relative;
}
.proforma-list>.filters {
        padding: 10px 0;
        border: 0 !important;
}
#companyList .glyphicon-trash {
    color: red;
}
.proforma-list>.filters>div {
    margin-right: 0;
}
.reset-btn {
    padding: 8px;
    background: #f3f0e6;
    border: 1px solid #f5834e;
}
.filter-btn {
    right: 2em;
    cursor: pointer;
    z-index: 2;
    top: 1em;
    bottom: inherit;
}
.filter-btn label {
    position: relative;
    top: -5px;
    right: 4px;
}
.childTab>.nav.nav-tabs {
    position: relative;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-right: 10px;
    margin-left: 0;
}
.checkbox label, .radio label {
    padding-left: 0;
}
.selectTag {
    z-index: 9;
    height: 49px;
    border: 0;
    width: 200px;
    color: #d35f29;
    background: #dddddd;
    left: 0;
    padding-left: 16px;
    font-size: 17px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.selectTag:focus {
    outline: 0;
}
.selectTag:after {
    content: "\e904";
    position: absolute;
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.daterangepicker .input-mini {
    padding: 0 6px 0 28px !important;
    border-radius: 0;
}
.dateRange {
    max-width: 215px;
    width: 100%;
}
.daterangepicker td, .daterangepicker th {
    font-weight: 400;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #d35f29;
    border-color: transparent;
    color: #fff;
}
.daterangepicker td.in-range {
    background-color: #eae7da;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.daterangepicker.dropdown-menu {
    box-shadow: 0 3px 28px 0 rgba(0,0,0,.14);
    color: #616161;
    border: 1px solid #ccc;
}
.daterangepicker .input-mini.active {
    border: 1px solid #f7b995;
    border-radius: 4px;
}
#user-dropdown {
    color: #fff;
    background: #d35f29;
    width: 60px;
    text-align: center;
    padding: 15px 0;
}
.select_wrap {
    z-index: 9;
}

.select_wrap .icon-dropdown {
    position: absolute;
    right: 11px;
    top: 22px;
    font-size: 8px;
    color: #525252;
}
.ranges li {
    color: #525252;
}
.ranges li.active, .ranges li:hover {
    background-color: #525252;
    border: 1px solid #525252;
    color: #fff;
}
.no-data h1 {
    font-weight: 300;
}
.download-invoice-ledger {
   padding-right: 6px;
   padding-left: 0;
}
.popover.bottom>.arrow:after {
    margin-left: 0;
    border-top-width: none;
    top: 1px;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    left: -15px;
    z-index: 9;
}
.ledger-panel .btn-success {
    background: #3fab63;
    border-color: #349655;
}
.ledger-panel .btn-success:hover {
    background: #57C17A;
    color: #fff;
    border-color: #349655;
}
.btn-row {
    margin-top: 14px;
}
a, button, input {
    outline: none;
}
.Inpt_dwn {
    padding-right: 25px !important;
    text-align: right;
}


/*placeholder webkit css*/
#accountSearch::-webkit-input-placeholder {
    color: #fff;
}
#accountSearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#accountSearch::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#accountSearch:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#accountSearch:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.accounts-side-bar {
    box-shadow: 0 3px 28px 0 rgba(0,0,0,.14);
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    background: #fdfdfd;
}
.export-ledger-options>.arrow:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: 2px;
    left: -6px;
    z-index: 9999999999;
}
.navbar-right .dropdown-menu, .pull-right>.dropdown-menu {
    top: 46px;
}

.datePickr .dropdown-menu {
    box-shadow: 0 3px 28px 0 rgba(0,0,0,.14);
    color: #616161;
    border: 1px solid #ccc;
}
.datePickr .dropdown-menu table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.datePickr .dropdown-menu table th, .datePickr .dropdown-menu table td {
    white-space: nowrap;
    text-align: center;
    min-width: 32px;
}
.flow_visible {
    overflow: visible !important;
}

.ledger-main .form-control:focus {
    border-color: #d35f29 !important;
}
.uncfr .form-control {
   background: #f7edcd !important;
}

.active.end-date.in-range.available {
    background: #d35f29;
    color: #fff;
    border-radius: 0 4px 4px 0;
}
.fixedDate {
    float: left;
    padding: 16px 27px;
}
.fixedDate input {
    min-width: 186px;
}
.dateblock {
    float: left;
}

.ledger-header thead th:last-child, .ledger-container table tr.bg3 th:last-child {
    border-right: 0;
}
.create-company:hover {
    background: none !important;
}

.upload-btn {
    background: #f3f0e6;
    border: 1px solid #f7de8a;
    padding: 6px;
    border-radius: 2px;
    float:right;
    margin-top:20px;
}
.upload_div input[type="file"] {
    display: none;
}
.upload_div {
    float: right;
    text-decoration: underline;
}


.fix_date {
    cursor: pointer;
}

/*.inconsolata, body, input, textarea, button, select{
    font-family: 'Inconsolata', Arial, serif;
    font-weight: 400;
}
.inconsolata-b{
    font-family: 'Inconsolata', Arial, serif;
    font-weight: 700;
}*/

footer{
    background-color: #26263A;
    padding: 20px;
    text-align: center;
    color: #C5C5B8;
    font-size: 17px;
    margin-top:20px;
}
footer>div{
    margin-bottom: 10px;
}
footer>div>a{
    margin:0 22px;
    letter-spacing: 1px;
    color: #C5C5B8;
    padding: 10px 0;
}
footer>div>a:hover{
    text-decoration: none;
    color: #fff;
}
footer>div>a:first-child{
    margin-left: 0
}
footer>div>a:last-child{
    margin-right: 0
}
footer small{
    color: #565B5B
}
footer small a{
    color: #565B5B; 
}

.daterangepicker .daterangepicker_input{
    display: none !important;
}

.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox] {
    left: 0;
}
.today.weekend.off.active.end-date.in-range.available {
    background: #fff !important;
    color: #999;
}

.dlt_btn {
    border: 0;
    background: #d8d6d6;
    font-size: 9px;
    padding: 2px 4px;
    position: absolute;
    top: 27%;
    right: 6px;
    float: left;
    border-radius: 4px;
    transform: translateY(-50%);
    color: #fff;
}
.dlt_btn .glyphicon.glyphicon-remove{
    position: relative;
    top: 1px;
    left: 1px;
}

.upload_img {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
/*    margin:22px 0;*/
    padding-right:25px !important;

}
.fileName {
    color: #337ab7;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
}
.fixedDate .form-control {
    height: 22px;
}
.upload_div label{
    font-weight: 400;
}
.blue {
    color: #337ab7;
}
.flowY_scroll {
    overflow-y: scroll;
}
.map-txn-container table tr td {
    width: 25%;
}
.pop-panel {
    max-width: 700px;
}
.pop-panel .form-control {
    background: #f9f7f2;
    border-color: #949494;
}
.pop-panel label {
    color: #cccccc;
}
.inWords {
    color: #4d4d4d;
    text-align: right;
}
.bdrT {
    border-color: #949494;
}
.popover.bottom>.arrow {
    right: 13%;
    left: auto;
    border-bottom-color: #fff;
}
.default_clr {
    color: #4d4d4d !important;
}
.w50 {
    max-width: 50px;
}
.w100 {
    width: 100px;
}

.multi-select {
    position: relative;
}
.multi-select .caret {
position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: right;
    border: 0;
    transform: translateY(-50%);
}
.multi-select .caret:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: ' ';
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed #4d4d4d;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: 50%;
    bottom: 0;
    position: absolute;
    right: 10px;
}
.multi-select.adjust .caret{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 10px;
    left:initial;
}

.no-btn {
    box-shadow: none;
    border: 0;
    background: none;
    cursor: pointer;
}
.modal-backdrop {
    background-color: #808080;
}
.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}
#shareModal .modal-header {
    border-bottom: 0;
}
#shareModal h3 {
    font-size: 14px;
    color: #666666;
}
.emailInput {
    min-width: 200px;
}
#shareModal .btn {
    padding: 7px 16px;
    border-radius: 0;
}
#shareModal select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
#select_view {
    background: #ccc !important;
  border-color: #ccc !important;
  color: #4d4d4d; 
}
#shareModal .input-group .input-group-btn:last-child>.btn {
    margin-left: 8px;
    border-radius: 0;
}
.input-group-btn.sticky:last-child>.btn {
    margin-left: -1 !important;
}
.l8grey {
    color: #666;
}
.shared_list li {
    list-style: none;
    color: #666;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #949494;
}
.shared_list select {
    background: none !important;
    border: 0;
    padding: 0 !important;
    height: auto !important;
    color: #666 !important;
}
.shared_list select:focus {
    border: 0 !important;
}
.Useremail {
    padding: 0 15px;
}
.delIcon {
    width: inherit;
}
.dashed {
    border-style:dashed;
    border-color: #ccc;
}
.input-group button {
    margin-left: -2px;
}
.flowY_scroll {
    overflow-y: scroll;
}
.map-txn-container table tr td {
    width: 25%;
}
.mrl0{
    margin-left: 0 !important;
}
.modal-header {
    position: relative;
}
.close_modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #db7f53;
    color: #db7f53;
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
}
.pdB5 {
    padding-bottom: 50px;
}
.size-xs {
    font-size: 14px;
}
.email-type label {
    font-weight: normal;
    color: #808080;
}
.email-type input {
    margin-right: 7px;
}
.email-type td {
    padding-right: 30px;
}

.modal-title.bg {
    color: #fff !important;
}
.modal-title {
    font-size: 18px !important;
}
.radio {
    position: relative;
}
/*====================== mustafa =====================*/
/*input[type=radio]:before {
    content: ' ';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #f7f8f8;
    left: -3px;
    top: -2px;
    border: 1px solid #d36029;
    border-radius: 50%;
}
input[type=radio]:checked:after {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #808080;
    left: 3px;
    top: 4px;
    border-radius: 50%;
    right: 0;
    text-align: center;
}
*/
/*====================== mustafa =====================*/
.select_drop {
    position: relative;
    width: 6px;
    z-index: 9;
}
.select_drop i {
    position: absolute;
    right: 4px;
    font-size: 16px;
    color: #4d4d4d;
    top: 50%;
    transform: translateY(-50%);
}
.ledger-panel .bdrB {
    border-bottom: 1px solid #bababa;   
}
.pop-panel .ui-select-toggle{
    min-width: 100px !important;
}
.no-btn i {
    top: 3px;
}
.no-btn .rotate180 {
    top: 0;
}
.ledger-panel .upload_div {
    padding: 6px 8px;
    float: left;
    margin-right: 10px;
    color: #4d4d4d;
    border: 1px solid #949494;
    cursor: pointer;
    background: #f9f7f2;
}
.ledger-panel .upload_div i {
    cursor: pointer;
}
.ledger-panel .upload_div label {
    color: #4d4d4d;
}