<div class="container-fluid">
  <div class="row">

    <perfect-scrollbar class="scrClass" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" auto-height>
      <uib-tabset justified="false">
        <uib-tab heading="{{tabs[0].title}}" active="tabs[0].active">
          <div class="pd2">
            <p class="lead">Main Auth-key</p>
            <form name="authKeyForm" novalidate role="form">
              <div class="form-group">
                <input id="authKey" class="form-control" ng-model="userAuthKey" ng-readonly="true" value="{{userAuthKey}}"/>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" ng-click="regenerateKey()">Regenerate Auth Key</button>
              </div>
            </form>
            
            <!-- end of form -->

            <!--

            <hr class="mrB2">
            <div class="clearfix" ng-if="canManageCompany">
              <p class="lead">Manage Sub Users</p>
              <div class="greyBox mrB2">
                <form name="createSubUserForm" novalidate class="form-inline">
                  <div class="form-group">
                    <label class="mrR1">Create Sub User:</label>
                    <input ng-model="cSubUser.name" name="createSubUserForm.name" type="text" class="form-control" placeholder="Uniquename" required/>
                  </div>
                  <div class="form-group">
                    <button ng-disabled="createSubUserForm.$invalid" class="btn btn-primary mrL1" ng-click="createSubUser(cSubUser)">Add</button>
                  </div>
                </form>
              </div>
              

              <ul class="list-group ln" ng-if="basicInfo.subUsers.length > 0">
                <li ng-repeat="value in basicInfo.subUsers track by $index" class="list-group-item">
                  <div class="clearfix">
                    <div class="col-xs-3">
                      <i ng-if="value.role.uniqueName != 'super_admin_off_the_record'" class="glyphicon glyphicon-user"></i>
                      <i ng-if="value.role.uniqueName == 'super_admin_off_the_record'" class="glyphicon glyphicon-star"></i>
                      {{value.uniqueName}}
                    </div>
                    <div class="col-xs-6">
                      <textarea ng-if="value.authKeyDone" class="form-control" ng-readonly="true">{{value.authKey}}</textarea>
                    </div>
                    <div class="col-xs-3">
                      <span class="delIcon">
                        <i class="glyphicon glyphicon-trash" ng-click="deleteSubUser(value, $index)"></i>
                      </span>
                      <button ng-hide="value.authKeyDone" class="mrR1 pull-right btn btn-sm btn-success" ng-click="getSubUserAuthKey(value.uniqueName)">Show Auth-key</button>
                    </div>
                  </div>
                </li>
              </ul>
               end of subuser list
            </div>
             end of manage sub user 
            -->

          </div>


        </uib-tab>
        <!-- end of auth tab tab -->

        <uib-tab heading="{{tabs[1].title}}" active="tabs[1].active">
          <div class="pd2">
            <h3 class="fs16 mrB1">Payment details</h3>
            <label class="mrB1">Current Balance
              {{basicInfo.availableCredit}}
            <!-- <span ng-bind-html="basicInfo.availableCredit"></span> -->  &#x20B9;</label>
            <p class="mrB1"><a href="javascript:void(0)" ng-click="getUserTransaction()">Transaction details</a></p>

            <!-- modal start -->
            <script type="text/ng-template" id="prevTransDetail.html">
              <div class="modal-header themeBg">
                <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Transaction details</h3>
              </div>
              <div class="modal-body" style="max-height:300px; overflow:auto">
                <!-- no data start -->
                <div class="no-data" ng-show="noData" style="margin-top:0">
                  <h1>Sorry, No Data Found!</h1>
                  <img src="/public/webapp/Globals/images/no-data.png" alt="">
                </div>
                <!-- nodata end -->
                <div ng-hide="noData">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Transaction ID</th>
                        <th>Status</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="value in uTransData.paymentDetail">
                        <td>
                          <span ng-bind-html="value.balance.amount"></span>
                          <span class="text-success" ng-if="value.balance.type == 'CREDIT'">
                            (CR)
                          </span>
                          <span class="text-danger" ng-if="value.balance.type == 'DEBIT'">
                            (DR)
                          </span>
                        </td>
                        <td ng-bind-html="value.paymentDate | moment: 'format': 'MMM DD, YYYY' "></td>
                        <td ng-bind-html="value.paymentId"></td>
                        <td ng-bind-html="value.paymentStatus"></td>
                        <td>
                          {{value.companyName}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button ng-hide="uTransData.totalPages <= 1" ng-disabled="nothingToLoadUser" class="btn btn-primary" ng-click="pageChanged(uTransData)">Load more</button>

                </div>
              </div>
            </script>

            <!-- modal end -->

            <section>
              <form name="walletForm" novalidate class="form-inline">
                <div class="form-group mrR1 " ng-class="(walletForm.amount.$valid  && walletForm.amount.$touched) ? 'has-success' : (walletForm.amount.$touched) ? 'has-error' : '' ">
                  <input ng-disabled="wlt.status" type="text" name="amount" placeholder="Amount" class="form-control max100" ng-model="wlt.Amnt" ng-minlength="3" ng-maxlength="7" autocomplete="off" required valid-number/>
                </div>
                <div class="form-group">
                  <button ng-disabled="walletForm.$invalid" class="btn btn-success" ng-click="addMoneyInWallet()">Add money in wallet</button>
                </div>
              </form>
            </section>
            <!-- section one end -->

            <section ng-show="payStep2">
              <div class="bdrT mrT2 mrB2"></div>
              <p class="lead mrB1">
                You are making a payment of {{wlt.Amnt}}  &#x20B9;
                <small class="mrL1" style="font-size:14px">
                  <a href="javascript:void(0)" ng-click="resetSteps()">Edit</a>
                </small>
              </p>
              <div class="checkbox">
                <label>
                  <input ng-change="resetDiscount(isHaveCoupon)" ng-model="isHaveCoupon" type="checkbox">Have a coupon code
                </label>
              </div>
              <form class="form-inline mrB2" name="couponForm" novalidate ng-show="isHaveCoupon">
                <div class="form-group mrR1" ng-class="(couponForm.couponcode.$valid  && couponForm.couponcode.$touched) ? 'has-success' : (couponForm.couponcode.$touched) ? 'has-error' : '' ">
                  <input type="text" name="couponcode" class="form-control max200" ng-model="coupon.code" placeholder="Coupon code" required autocomplete="off">
                </div>
                <button ng-disabled="couponForm.$invalid" class="btn btn-primary" ng-click="redeemCoupon(coupon.code)">Redeem</button>
              </form>

              <uib-alert ng-repeat="alert in payAlert" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

              <div ng-if="directPay">
                <div class="search-loading">
                  <span class="spinner small"></span> Please wait we are recharging your wallet
                </div>
              </div>
              <div class="">
                <button ng-disabled="disableRazorPay" razor-pay class="btn btn-primary">Pay with Razorpay</button>
              </div>
            </section>
            <!-- end of section -->
            

          </div>
        </uib-tab>
        <!-- end of wallet tab -->

        <uib-tab heading="{{tabs[2].title}}" active="tabs[2].active" select="getSubscriptionList()">
          <div class="pd2">
            <!-- no data start -->
            <div class="no-data" ng-hide="cSubsData" style="margin-top:0">
              <h1>Sorry, No Data Found!</h1>
              <img src="/public/webapp/Globals/images/no-data.png" alt="">
            </div>
            <!-- nodata end -->

            <table ng-show="cSubsData" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Auto deduct</th>
                  <th>Plan type</th>
                  <th>Subscription Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="value in subListData">
                  <td ng-bind-html="value.companyName"></td>
                  <td>
                    <switch ng-change="changeCallback" name="autopay" on="On" off="Off" ng-model="value.autoDeduct" class="wide"></switch>
                  </td>
                  <td ng-bind-html="value.servicePlan.amount"></td>
                  <td ng-bind-html="value.subscriptionDate | moment: 'format': 'MMM DD, YYYY' "></td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
        <!-- end of subscription list tab -->

        <!--Linked account tab starts here-->
        <!--<uib-tab ng-if="canManageCompany" heading="Linked Accounts" select="loadYodlee()">-->
          <!--<div class="pd2 clearfix">-->
            <!--<h1 class="mrB1">Add Bank Account </h1>-->
            <!--<button ng-click="connectBank()" class="btn btn-primary">Connect Bank</button>-->

<!--             <div class="max350 mrT1">
              <ui-select ng-model="banks.list" theme="bootstrap" on-select="selectBank($select.selected)">
                <ui-select-match placeholder="Select Accounts">
                  <span>{{$select.selected.defaultDisplayName}}</span>
                </ui-select-match >
                <ui-select-choices
                  repeat="bank in banks.banksList | filter: $select.search" refresh="fetchSiteList($select.search)" refresh-delay="500">
                  <span ng-bind-html="bank.defaultDisplayName"></span>
                </ui-select-choices>
              </ui-select>
            </div> -->
<!--             <form class="clearfix" name="addAccountForm" novalidate ng-if="banks.list != undefined" ng-submit="addAccountForm.$valid && submitForm(bankDetails)">
              <div class="row pdT2 pdR">
                <div class="col-xs-4">
                 <section class="greyBox">

                    <p class="form-group">Submit Form to Add Bank</p>

                    <div class="form-group" ng-repeat="field in banks.components">

                      <ng-form name="innerform" ng-if="field.fieldType.typeName != 'OPTIONS'"
                      ng-class="(innerform.input.$valid  && innerform.input.$touched) ? 'has-success' : (innerform.input.$touched) ? 'has-error' : '' "
                      >
                        <input autocomplete="off" id="{{field.name}}" type="{{field.name}}" ng-model="bankDetails[field.displayName]" placeholder="{{field.displayName}}" class="form-control" name="input" maxlength="{{field.maxlength}}" ng-required="!field.isOptional"/>
                        <div class="error-msg" ng-show="innerform.input.$error.required && innerform.input.$touched">Required</div>
                      </ng-form>

                      <ng-form name="innerform" ng-if="field.fieldType.typeName == 'OPTIONS'">
                        <ui-select ng-model="bankDetails[field.displayName]" theme="bootstrap">
                          <ui-select-match placeholder="Select Options">
                            <span>{{$select.selected.name}}</span>
                          </ui-select-match >
                          <ui-select-choices
                            repeat="val.value as val in field.fieldOptions | filter: $select.search">
                            <span ng-bind-html="val.name"></span>
                          </ui-select-choices>
                        </ui-select>
                        <div class="error-msg" ng-show="innerform.input.$error.required">Required</div>
                      </ng-form>

                    </div>
                    <button type="submit" class="btn btn-success" ng-disabled="banks.requestSent || addAccountForm.$invalid">Submit</button>
                    <div class="absolute-loader" ng-if="banks.requestSent">
                      <div class="loading-bar"></div>
                      <div class="mrT5">
                        Connecting with Bank.</br>
                        Please Wait, this may take a while.
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </form> -->
            <!--<div class="mrT1">NOTE: In case you do not see your bank listed in Added Accounts even after getting a success message, please check again after some time.</div>-->
            <!--<hr class="mrT2 col-xs-11">-->
            <!--<div class="mrT2 col-xs-12 pd0">-->
              <!--<h1 class="pull-left">Added Accounts</h1>-->
              <!--<button class="btn btn-primary btn-sm pull-right" ng-click="refreshAccounts()" ng-if="linkedAccountsExist">Refresh</button>-->
              <!--<div class="col-xs-12 mrT1 pd0" ng-if="banks.linked.length > 0">-->
                <!--<section class="linked-accounts clearfix" ng-repeat="account in banks.linked | orderBy: 'siteName'">-->
                  <!--<aside class="title">{{account.siteName}}</aside>-->
                  <!--<aside class="body">-->
                    <!--<aside class="account-card" ng-repeat="card in account.accounts">-->
                      <!--<a><i class="pull-left glyphicon glyphicon-refresh refresh-icon" ng-click="refreshToken(card)"></i></a>-->
                      <!--<h1 ng-bind="card.name"  uib-tooltip="{{card.name}}"></h1>-->
                      <!--<div class="account-number">-->
                        <!--<b>Account</b>: {{card.accountNumber}}-->
                      <!--</div>-->
                      <!--<div class="account-date">-->
                        <!--<b>Entries From</b>:-->
                        <!--<a href="javascript:void(0)">-->
                           <!--{{card.transactionDate | date}}-->
                          <!--<input-->
                            <!--ng-change='changedate(card.transactionDate)'-->
                            <!--type="text" class="transaction-date"-->
                             <!--uib-datepicker-popup="{{format}}" required-->
                             <!--datepicker-options="dateOptionsBanks"-->
                             <!--is-open="fromDatePickerIsOpen"-->
                             <!--ng-click="fromDatePickerOpen(); setItemAccountId(card)"-->
                             <!--ng-model="card.transactionDate"-->
                             <!--max-date="today"-->
                             <!--min-date="beforeThreeMonths"-->
                             <!--placeholder="from date"/>-->
                        <!--</a>-->
                      <!--</div>-->
                      <!--<div class="balance">-->
                        <!--{{card.currencyCode}} {{card.amount}}-->
                      <!--</div>-->
                      <!--<div class="with" ng-if="card.linkedAccount != null">-->
                        <!--Linked with: {{card.linkedAccount.name}} ({{card.linkedAccount.uniqueName}})-->
                      <!--</div>-->
                      <!--<div class="select-account" ng-if="card.showAccList">-->
                        <!--<ui-select ng-model="banks.toLink" theme="bootstrap" on-select="LinkGiddhAccountConfirm($select.selected)">-->
                          <!--<ui-select-match placeholder="Select Accounts">-->
                            <!--<span>{{$select.selected.name}}</span>-->
                          <!--</ui-select-match >-->
                          <!--<ui-select-choices-->
                            <!--ui-disable-choice="acc.uniqueName === selAcntUname"-->
                            <!--repeat="acc in getParticularAccount($select.search) | limitTo : 5 | filter: $select.search">-->
                            <!--<span>{{acc.name}} ({{acc.uniqueName}})</span>-->
                          <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                      <!--</div>-->
                      <!--<button class="btn btn-sm btn-warning pull-right" ng-if="card.showAccList" ng-click="card.showAccList = !card.showAccList" style="margin-top:5px">Not Now</button>-->
                      <!--<button class="btn btn-sm btn-info" ng-if="card.linkedAccount == null && !card.showAccList" ng-click="linkGiddhAccount(card)">Link Account</button>-->
                      <!--<button class="btn btn-sm btn-danger mrT1" ng-if="card.linkedAccount.name.length > 0" ng-click="removeGiddhAccount(card)">Unlink Account</button>-->
                      <!--<a class="delete-bank" ng-click="deleteAddedBank(card)" uib-tooltip="Delete Bank" tooltip-placement="left"><i class="glyphicon glyphicon-trash"></i></a>-->
                    <!--</aside>-->
                  <!--</aside>-->
                <!--</section>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</uib-tab>-->
        <!-- end of yodlee tabs -->
        <!--mobile number verification-->
        <uib-tab ng-if="canManageCompany" heading="{{tabs[3].title}}" active="tabs[3].active" select="getUserDetails()">
<!--           <div class="pd2 clearfix" style="padding-bottom:0">
            <h1 class="mrB">Verified Mobile Number: {{userNumber}}</h1>
            <hr>
          </div> -->
          <div class="pd2 clearfix">
            <h1>Add/Edit Mobile Number</h1>
            <div class="max350 mrT">
              <input class="form-control" type="text" placeholder="91-9998899988" ng-model="phoneNumber"/>
            </div>
            <p class="mrT"><b>Note: </b>Add Contact number along with country code, for example, If your contact number is 9998899988 and country code is 91, enter '91-9998899988'.</p>
            <button class="btn btn-success mrT" ng-click="addNumber(phoneNumber)" ng-disabled="mobNum.showVerificationBox">Add</button>
          </div>
          <div class="pd2 clearfix" ng-if="mobNum.showVerificationBox" style="padding-top:0;">
            <hr>
            <h1 class="mrT2">Enter Verfication Code</h1>
            <div class="max350 mrT">
              <input class="form-control" type="text" placeholder="Verification Code" ng-model="mobNum.verificationCode"/>
            </div>
            <button class="btn btn-success mrT" ng-click="verifyNumber(mobNum.verificationCode)">Verify</button>
          </div>
          <section>
            <div class="container adjust-width pull-left">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="arvo" ng-click="expandLongCode = !expandLongCode"><i class="glyphicon glyphicon-plus" ng-class="{'glyphicon-minus':expandLongCode}"/><b> Long Code Hints (Long code no. : 9229224424)</b></h2>
                  <div class="longcode-details" ng-if="expandLongCode">
                    <figure>
                      <h1>Accounts</h1>
                      <ul>
                        <li>
                          <h2><b>Case 1</b> :</h2>
                          <p>SMS format : Keyword accountName/uniqueName</p>
                          <p>Example : Giddh1 federal bank</p>
                          <p>This will return balance details of particular account. With last five transactions.</p>
                        </li>
                        <li>
                          <h2><b>Case 2</b> :</h2>
                          <p>SMS format : Keyword accountName/uniqueName all</p>
                          <p>Example : Giddh1 federal all</p>
                          <p>This will return balance of all matched accounts.</p>
                        </li>
                      </ul>
                    </figure>
                    <figure>
                      <h1>Groups</h1>
                      <ul>
                        <li>
                          <h2><b>Case 1</b> :</h2>
                          <p>SMS format : Keyword group groupName/uniqueName</p>
                          <p>Example : Giddh1 group sundry_debtors</p>
                          <p>This will return balance details of all matched group. And closing balance of all subgroups (with closing balance only).</p>
                        </li>
                      </ul>
                    </figure>
                    <figure>
                      <h1>Net worth</h1>
                      <ul>
                        <li>
                          <h2><b>Case 1</b> :</h2>
                          <p>SMS format : Keyword networth</p>
                          <p>Example : Giddh1 networth</p>
                          <p>This will return net worth of last six months.</p>
                        </li>
                      </ul>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </uib-tab>

      </uib-tabset>
    </perfect-scrollbar>

  </div>
</div>