

<!--sidebar-->
	<section class="sidebar greyBg pull-left" ng-click="$event.stopPropagation();" cover-page>
		<div class="h100" ng-include="'/public/webapp/Inventory/partials/stockgrp-hr-list.html'"></div>
	</section>
<!--/sidebar-->


<section class="rightBar">

	<!-- top row-->
	<div class="stock-bar">
		<div class="top_row clearfix">
			<div class="pull-right">
				<button ng-click="stock.loadPage('custom-stock')" type="button" class="btn btn-primary mrL1">Custom Stock Unit</button>
				<button type="button" class="btn btn-primary mrL1" ng-click="stock.loadPage('add-group')">Add Group</button>
				<button ng-if="stock.groupEditMode" type="button" class="btn btn-primary mrL1" ng-click="stock.loadPage('add-stock')">Add Stock</button>
				<!-- <button class="btn btn-md btn-primary" ng-click="stock.toggleViews()">
					<span>Go To </span>
					<span ng-if="stock.showStockReport">Manage Stock</span>
					<span ng-if="!stock.showStockReport">Stock Report</span>
				</button> -->
			</div>
		</div>
	</div>

	<!-- /top row-->

	<section class="wrap_content" ui-view="inventory-detail">

	</section>

</section>




