<!DOCTYPE html>
<html lang="en" ng-app='adminApp'>
<head>
  <title>Login - Giddh ~ Accounting at its Rough!</title>
  <!-- STYLE / THEME -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <!--<link href="/public/website/css/new-style.css" rel="stylesheet">-->
  <link href="/public/website/adminPanel/css/sindhu-style.css" rel="stylesheet">
  <!-- LIBRARIES -->
  <script src="/public/webapp/newRelic.js"></script>
  <script  type="text/javascript" src='/public/webapp/core_bower.min.js'></script>
  <script type="text/javascript" src="/public/website/js/app.js"></script>
  <!-- recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
  <script src="/public/website/adminPanel/adminApp.js"></script>
  <script src="/public/website/adminPanel/sindhuController.js"></script>
</head>
<body ng-controller="sindhuController">
  <section class="intro sindhu-login">
    <!-- banner content -->
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="brand-heading arvo">Welcome to admin panel</h1>

            <div id="box" class="text-uppercase">
              <div class="clearfix mrB1">
                <p class="lead ">Sign In or register</p>
                <!-- <div ng-class="loginIsProcessing ? 'giddh-spinner': 'giddh-logo'" ></div> -->
              </div>

              <button type="login" class="btn sharp btn-block btn-lg btn-login google" ng-click="authenticate('google')">connect with Google</button>
              <button type="login" class="btn sharp btn-block btn-lg btn-login twitter" ng-click="authenticate('twitter')">connect with Twitter</button>
              <button type="login" class="btn sharp btn-block btn-lg btn-login linkedin" ng-click="authenticate('linkedin')">connect with LinkedIn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>